{%- assign static_cart = false -%}
{%- if cart.items.size < 3 -%}
  {%- assign static_cart = true -%}
{%- endif -%}
{%- if additional_checkout_buttons and settings.cart_additional_buttons -%}
  {%- assign static_cart = false -%}
{%- endif -%}
<div id="CartDrawer" class="drawer drawer--cart{% if static_cart %} drawer--cart--static{% endif %}" data-drawer="true">
  <form id="CartDrawerForm" action="{{ routes.cart_url }}" method="post" novalidate class="drawer__contents{% if cart.items.size == 0 %} cart--empty{% endif %}">
    <div class="drawer__header">

    <div class="cart-title">
    <h3>Your Shopping Cart</h3>
    </div>
      <div class="drawer__close text-right">
        <button type="button" class="drawer__close-button js-drawer-close">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
        </button>
      </div>
    </div>
    <div class="drawer__inner">
<!-- Free shipping progress markup -->
<div class="cart-shipping__wrapper">
  <p class="cart-shipping__numOuter">You're $<span class="cart-shipping__num"></span> away from free shipping!</p>
  <p class="cart-shipping__success">You're eligible for Free Shipping!</p>
  <div class="cart-shippingThreshold__bar">
    <span class="cart-shippingThreshold__progress"></span>
  </div>
</div>

<style>
/*  Style the progress bar  */
.cart-shipping__wrapper {
  padding: 15px;
  max-width: 700px;
  margin: 0 auto;
}

.cart-shippingThreshold__bar {
  position: relative;
  /*  Progress bar background color  */
  background-color: #d8d8d8;
  height: 1rem;
}

.cart-shippingThreshold__progress {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 0;
  max-width: 100%;
  height: 100%;
  display: block;
  /*  Progress bar fill color  */
  background-color: tomato; 
}
</style>

<script>
// Calculate the progress number, and the width of the progress bar. Compiled to ES5.
function calculateProgress(currentVal, targetVal) {
    var progressBar = document.querySelectorAll('.cart-shippingThreshold__progress');
    var progressNum = document.querySelectorAll('.cart-shipping__num');
    var progressOuter = document.querySelectorAll('.cart-shipping__numOuter');
    var successMsg = document.querySelectorAll('.cart-shipping__success');
    // calculate how far progress is from the total as a percentage
    var result = Math.round(100 * currentVal / targetVal);
    progressBar.forEach(function(el){
      el.setAttribute('style', "width: ".concat(result, "%"));
    })
     // Update the progess text. If threshold is met, show success message
    var newProgressNum = (targetVal - currentVal) / 100;
    if(newProgressNum <= 0){
      successMsg.forEach(function(el){
        el.setAttribute('style', 'display: block;');
      });
      progressOuter.forEach(function(el){
        el.setAttribute('style', 'display: none;');
      });
      progressNum.forEach(function(el){
        el.textContent = newProgressNum;
      });
    } else {
      successMsg.forEach(function(el){
        el.setAttribute('style', 'display: none;');
      });
      progressOuter.forEach(function(el){
        el.setAttribute('style', 'display: block;');
      });
      progressNum.forEach(function(el){
        el.textContent = newProgressNum;
      });
    }
  };

// Most themes use jquery to make ajax requests, so that's how we'll do it. In your theme's main JS file, find each ajax call where your store adds to, deletes from, and updates the cart. Put this in the success function of each. 
// NOTE: If you make this ajax request outside of the functions that update the cart, the calculator won't sync with the current cart state without refreshing the page. You need to specify that you want to read the current cart data AFTER the new items are added/removed.
  $.ajax({
  type: 'GET',
  url: '/change.js',
  dataType: 'json',
  success: function(cart){
    // run the calculator with a target price of $75
    calculateProgress(cart.total_price, 7500);
  }
});
  
</script>

      <div class="drawer__scrollable">
        <div data-products></div>

        {%- if settings.cart_notes_enable -%}
          <div class="cart__note" data-cart-note-container>
            <label for="CartDrawerSpecialInstructions">{{ 'cart.general.note' | t }}</label>
            <textarea name="note" class="input-full" id="CartDrawerSpecialInstructions" data-cart-note>{{ cart.note }}</textarea>
          </div>
        {%- endif -%}
      </div>





      <div class="drawer__footer cart__footer">
        <div data-discounts>
          {% if cart.cart_level_discount_applications != blank %}
            <div class="cart__item-sub cart__item-row">
              <div>{{ 'cart.general.discounts' | t }}</div>
              <div class="text-right">
                {% for cart_discount in cart.cart_level_discount_applications %}
                  <div>
                    {{ cart_discount.title }} (-{{ cart_discount.total_allocated_amount | money }})
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>

        <div class="cart__item-sub cart__item-row">
          <div class="cart__subtotal">{{ 'cart.general.subtotal' | t }}</div>
          <div data-subtotal>{{ cart.total_price | money }}</div>
        </div>

        <div class="cart__item-row cart__note text-center">
          {{ 'cart.general.shipping_at_checkout' | t }}
        </div>

        {%- if settings.cart_terms_conditions_enable -%}
          <p class="cart__note cart__terms">
            <input type="checkbox" id="CartTermsDrawer" class="cart__terms-checkbox">
            <label for="CartTermsDrawer">
              {%- if settings.cart_terms_conditions_link != blank -%}
                {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_link }}
              {%- else -%}
                {{ 'cart.general.terms' | t }}
              {%- endif -%}
            </label>
          </p>
        {%- endif -%}

        <button type="submit" class="btn btn--full cart__checkout cart__checkout--drawer" name="checkout" data-terms-required="{{ settings.cart_terms_conditions_enable }}">
          <span class="checkout-text">{{ 'cart.general.checkout' | t }}</span>
          <span class="loader"></span>
        </button>

        {%- if additional_checkout_buttons and settings.cart_additional_buttons -%}
          <div class="additional-checkout-buttons additional-checkout-buttons--vertical">{{ content_for_additional_checkout_buttons }}</div>
        {%- endif -%}

        {% comment %}
          Uncomment to show continue shopping button
        {% endcomment %}
        {% comment %}
        <a href="{{ routes.all_products_collection_url }}" class="btn btn--secondary btn--full">
          {{ 'cart.general.continue_shopping' | t }}
        </a>
        {% endcomment %}
      </div>

    </div>
    <div class="drawer__cart-empty text-center">
      <p>{{ 'cart.general.empty' | t }}</p>
      <p class="rte">{{ 'cart.general.continue_browsing_html' | t: url: routes.all_products_collection_url }}</p>
    </div>
  </form>
</div>
