    <div class="r_section no_p">
      <div class="r_container r_center">
        <div class="r_title_wrapper r_centered r_bigger p_true">
          <h2 class="r_h2 m_t_0">Quick, Versatile &amp; Super Freaking Delicious!</h2>
          <p class="r_p r_bigger">Faster than instant coffee, easier than a k-cup, and tastier than your favorite coffee shop.<br></p>
        </div>
        <div class="swiper slider_product">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="r_slide_inner">
                <div class="r_slide_vid_container">
                  <div class="step_sec-2 w-embed">
                  


                    <video playsinline="" autoplay="" muted="" loop="" poster="{{ 'k_step_01.jpg' | asset_url}}">
                    <source src="{{ 'step_01.mp4' | asset_url}}" type="video/mp4">
                  </video>

                    
                    </div>
                </div>
                <div class="r_slide_description">
                  <h3 class="step-head">Step 1</h3>
                  <p class="r_p_smaller m_b_10 mt_10">Fill your mug with milk, hot or <br>cold water.<br></p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="r_slide_inner">
                <div class="r_slide_vid_container">
                  <div class="step_sec-2 w-embed">
                  


                    <video playsinline="" autoplay="" muted="" loop="" poster="{{ 'k_step_02.jpg' | asset_url}}">
                    <source src="{{ 'step_02.mp4' | asset_url}}" type="video/mp4">
                  </video>

                    
                    </div>
                </div>
                <div class="r_slide_description">
                  <h3 class="step-head">Step 2</h3>
                  <p class="r_p_smaller m_b_10 mt_10">Drop 1-2 tsp of Javy into the <br>water.<br></p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="r_slide_inner">
                <div class="r_slide_vid_container">
                  <div class="step_sec w-embed">
                  

                    

                    <video playsinline="" autoplay="" muted="" loop="" poster="{{ 'k_step_03.jpg' | asset_url}}">
                    <source src="{{ 'step_03.mp4' | asset_url}}" type="video/mp4">
                  </video>


                    </div>
                </div>
                <div class="r_slide_description">
                  <h3 class="step-head">Step 3</h3>
                  <p class="r_p_smaller m_b_10 mt_10">Add your favorite milk, creamer or flavoring and enjoy.<br></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="r_full_sticky_section">
      <div class="r_sticky_left">
        <div class="r_sticky_left_wrapper">
          <div class="w-layout-grid r_product_icons_grid">
            <h2 class="r_h2">The fastest, easiest, and most convenient coffee.</h2>
            <div class="r_icon_container"><img src="{{ 'javy-icon-01.svg' | asset_url}}" loading="lazy" alt="" class="r_javy_icon">
              <div class="r_icon_description">Artisan roasted 100% arabica beans</div>
            </div>
            <div class="r_icon_container"><img src="{{ 'javy-icon-02.svg' | asset_url}}" loading="lazy" alt="" class="r_javy_icon">
              <div class="r_icon_description">Direct relationship with small organic farmers</div>
            </div>
            <div class="r_icon_container"><img src="{{ 'javy-icon-03.svg' | asset_url}}" loading="lazy" alt="" class="r_javy_icon">
              <div class="r_icon_description">Silk-smooth taste with every pour</div>
            </div>
            <div class="r_icon_container"><img src="{{ 'javy-icon-04.svg' | asset_url}}" loading="lazy" alt="" class="r_javy_icon">
              <div class="r_icon_description">Unlimited delicious coffee drinks</div>
            </div>
            <div class="r_icon_container"><img src="{{ 'javy-icon-05.svg' | asset_url}}" loading="lazy" alt="" class="r_javy_icon">
              <div class="r_icon_description">Sustainable glass bottles</div>
            </div>
            <div class="r_icon_container"><img src="{{ 'javy-icon-06.svg' | asset_url}}" loading="lazy" alt="" class="r_javy_icon">
              <div class="r_icon_description">No burnt, bitter or sour tastes</div>
            </div>
          </div>
        </div>
      </div>
      <div class="r_sticky_right">
        <div class="r_sticky_right_wrapper">
          <div class="r_benefits_grid">
            <div class="w-layout-grid r_benefits_grid_item r_benefits_fc r_no_padding">
              <div class="r_card_grid r_card_container">
                <div class="video-qualities w-embed">
                


                  <video playsinline="" autoplay="" muted="" loop="" poster="{{ 'k_quality.jpg' | asset_url}}">
                      <source src="{{ 'k_quick_easy.mp4' | asset_url}}" type="video/mp4">
                    </video>
                  
                  </div>
              </div>
              <div id="w-node-_806e671a-df67-934b-26e5-7463c32ca891-891eba11" class="r_card_grid description">
                <div class="r_line_wrapper m_b_10">
                  <div class="r_content_line"></div>
                  <div class="r_line_text">REASON #1</div>
                </div>
                <h3 class="r_heading r_h3 r_m_0">Quick and Easy</h3>
                <p class="r_p">By dropping 1-2 teaspoons of Javy into water or milk your just seconds away from drinking delicious coffee anyway you like it.<br></p>
              </div>
            </div>
            <div class="w-layout-grid r_benefits_grid_item">
              <div class="r_card_grid r_card_container">
                <div class="video-qualities w-embed">


                  <video playsinline="" autoplay="" muted="" loop="" poster="{{ 'k_protein.jpg' | asset_url}}">
                      <source src="{{ 'k_protein_approved.mp4' | asset_url}}" type="video/mp4">
                    </video>
                  
                  </div>
              </div>
              <div id="w-node-_806e671a-df67-934b-26e5-7463c32ca89e-891eba11" class="r_card_grid description">
                <div class="r_line_wrapper m_b_10">
                  <div class="r_content_line"></div>
                  <div class="r_line_text">REASON #2</div>
                </div>
                <h3 class="r_heading r_h3 r_m_0">Shake Up Your Day</h3>
                <p class="r_p">Javy&#x27;s purpose is to optimize your day and that includes fueling your health goals while saving you time and money.<br></p>
              </div>
            </div>
            <div class="w-layout-grid r_benefits_grid_item last_child">
              <div class="r_card_grid r_card_container">
                <div class="video-qualities w-embed">
                

                  <video playsinline="" autoplay="" muted="" loop="" poster="{{ 'k_limits.jpg' | asset_url}}">
                      <source src="{{ 'k_no_limits.mp4' | asset_url}}" type="video/mp4">
                    </video>
                  
                  </div>
              </div>
              <div id="w-node-_806e671a-df67-934b-26e5-7463c32ca8ab-891eba11" class="r_card_grid description">
                <div class="r_line_wrapper m_b_10">
                  <div class="r_content_line"></div>
                  <div class="r_line_text">REASON #3</div>
                </div>
                <h3 class="r_heading r_h3 r_m_0">No Limits</h3>
                <p class="r_p">If you want a hot black coffee one day or a sweet, creamy, iced coffee the next day, you can have it anyway you like it in literally seconds. <br></p>
                <p class="r_p">Be creative, be simple, take it on the go, or make it right at home, have it how you want it when you want it!<br></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="r_section">
      <div class="r_container">
        <div class="w-layout-grid r_product_info_grid r_small_gap r_no_padding">
          <div id="w-node-_2579af07-846a-bc3d-4daa-6e2658e90025-891eba11" class="r_left_prod r_desc r_small_gap">
            <div class="section-heading no_padding reimagined">
              <p class="r_p"><strong>Javy uses a proprietary roasting and extraction process that makes it far more superior in taste and quality than any other coffee concentrate.</strong><br></p>
            </div>
            <div class="nutrition no_padding">
              <div class="nutrition-content">
                <div class="text-block-34">serving size, 1 tsp</div>
                <div class="top-col">
                  <div class="servings">
                    <div class="top-caf">amount per serving<br></div>
                    <div class="table-caf">caffeine (mg)<br></div>
                  </div>
                  <div class="table-caf number">60<br></div>
                </div>
                <div class="nutrition-daily">
                  <div>% daily value*<br></div>
                </div>
                <div class="nutrition-col">
                  <div>calories 0g<br></div>
                  <div class="nutrition-percentage">0%<br></div>
                </div>
                <div class="nutrition-col">
                  <div>fat 0g<br></div>
                  <div class="nutrition-percentage">0%<br></div>
                </div>
                <div class="nutrition-col">
                  <div>sodium 0g<br></div>
                  <div class="nutrition-percentage">0%<br></div>
                </div>
                <div class="nutrition-col">
                  <div>protein 0g<br></div>
                  <div class="nutrition-percentage">0%<br></div>
                </div>
              </div>
            </div>
            <div data-ix="fade-up-1" class="accordion js-accordion">
              <div class="accordion__item js-accordion-item active first_child">
                <div class="accordion-header js-accordion-header">
                  <h5 class="r_h5">Extraction Process</h5>
                </div>
                <div data-ix="hide-on-load" class="accordion-body js-accordion-body">
                  <p class="r_p_smaller m_b_10">The extraction process is not only fundamental to retaining an extremely high flavor profile but it also eliminates any coffee grounds or sediment from ending up in the concentrate, unlike other concentrates on the market.<br></p>
                  <p class="r_p_smaller">Unlike traditional coffee grounds, our liquid concentrate process goes through rigorous QA to ensure its above standard healthy and safety regulations.<br></p>
                </div>
              </div>
              <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header">
                  <h5 class="r_h5">Quality, Consistency and Value</h5>
                </div>
                <div data-ix="hide-on-load" class="accordion-body js-accordion-body">
                  <p class="r_p_smaller m_b_10">Most of what we do is geared towards the quality of the coffee, consistency and value.<br></p>
                  <p class="r_p_smaller m_b_10">As such, this means that the farmers who supply our coffee are hitting all the main points to make the products we have outstanding.<br></p>
                </div>
              </div>
              <div class="accordion__item js-accordion-item last_child">
                <div class="accordion-header js-accordion-header">
                  <h5 class="r_h5">Crafted Sustainably</h5>
                </div>
                <div data-ix="hide-on-load" class="accordion-body js-accordion-body">
                  <p class="r_p_smaller m_b_10">Our coffee is sourced from Central America and Colombia. 100% Arabica bean, estate grown in high elevation specialty coffee grade.<br></p>
                  <p class="r_p_smaller m_b_10">Our magic combination of thermal blends allows us to roast the beans to concentrated perfection while retaining flavor all without burning them.<br></p>
                  <p class="r_p_smaller m_b_10">Javy supports farmers who focus on producing quality and value. Javy has created a sustainable coffee supply chain that delivers premium solutions to everyone from crop to cup.<br></p>
                </div>
              </div>
            </div>
          </div>
          <div class="r_left_prod"><img src="{{ 'dealll.png' | asset_url}}" loading="lazy" sizes="(max-width: 991px) 100vw, (max-width: 1919px) 96vw, 1280px" srcset="{{ 'dealll-p-500.png' | asset_url}} 500w, {{ 'dealll.png' | asset_url}} 594w" alt="" class="img-fluid hide-mobo "></div>
        </div>
      </div>
    </div>
    <div class="r_section r_cream">
      <div class="r_container r_center">
        <div class="r_title_wrapper r_centered r_bigger">
          <h2 class="r_h2 m_t_0">Thousands of Raving <br>Customers</h2>
          <p class="r_p r_bigger">Javy customers are obsessed with making all kinds of different coffees.<br></p>
        </div>
        <div class="r_okendo_reviews"><div data-oke-reviews-widget data-oke-reviews-product-id="shopify-{{ product.id }}">{{ product.metafields.okendo.ProductReviewsWidgetSnippet }}</div>
</div>
      </div>
    </div>


<style>


/* According Arrow */
.accordion__item > .accordion-header:after {
  font-family: 'Fa solid 900', sans-serif;
  font-weight: 900;
  font-size: 16px;
  content: "\f078";
  color: #000;
  float: right;
  position: relative;
  display: block;
  top: 2px;
  transition: 0s all;
  transform: rotate(0deg);
  opacity: 100;
}

.accordion__item.active > .accordion-header:after {
  transform: rotate(-180deg);
}

.accordion-body.js-accordion-body {
	display: none;
}


</style>

    <script>
var accordion = (function () {
  var $accordion = $(".js-accordion");
  var $accordion_header = $accordion.find(".js-accordion-header");
  var $accordion_item = $(".js-accordion-item");

  // default settings
  var settings = {
    // animation speed
    speed: 400,

    // close all other accordion items if true
    oneOpen: false,
  };

  return {
    // pass configurable object literal
    init: function ($settings) {
      $accordion_header.on("click", function () {
        accordion.toggle($(this));
      });

      $.extend(settings, $settings);

      // ensure only one accordion is active if oneOpen is true
      if (settings.oneOpen && $(".js-accordion-item.active").length > 1) {
        $(".js-accordion-item.active:not(:first)").removeClass("active");
      }

      // reveal the active accordion bodies
      $(".js-accordion-item.active").find("> .js-accordion-body").show();
    },
    toggle: function ($this) {
      if (
        settings.oneOpen &&
        $this[0] !=
          $this
            .closest(".js-accordion")
            .find("> .js-accordion-item.active > .js-accordion-header")[0]
      ) {
        $this
          .closest(".js-accordion")
          .find("> .js-accordion-item")
          .removeClass("active")
          .find(".js-accordion-body")
          .hide();
      }

      // show/hide the clicked accordion item
      $this.closest(".js-accordion-item").toggleClass("active");
      $this.next().stop().slideToggle(settings.speed);
    },
  };
})();

$(document).ready(function () {
  accordion.init({ speed: 0, oneOpen: true });
});


    </script>


    <style>
video {
  width: 100%!important;
}
    </style>


    {% if handle contains 'microdose-peppermint-mocha-liquid-coffee-concentrate' %}

<style>
.r_tabs_menu.w-tab-menu {
    display: none;
}
</style>

{% endif %}

