  <div id="quick-easy" class="section">
    <div class="inner-container no_padding">
      <div class="section-heading centered padding">
        <h2 class="h2">Quick, Versatile &amp; Super <br>Freaking Delicious!</h2>
        <p class="p-subtitle"><strong>Faster </strong>than instant coffee, <strong>easier </strong>than a k-cup, and <strong>tastier </strong>than your favorite coffee shop.<br></p>
      </div>
      <div class="swiper slider2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="mk_card">
              <div class="mk_card-wrapper">
                <div class="step_sec w-embed"><video class="lozad" playsinline="" autoplay="" muted="" loop="" data-poster="{{ 'k_step_01.jpg' | asset_url}}">
                    <source data-src="{{ 'step_01.mp4' | asset_url}}" type="video/mp4">
                  </video></div>
              </div>
              <div class="mk_card-description">
                <h3 class="step-head">Step 1</h3>
                <p class="paragraph no-margin steps">Fill your mug with milk, hot or <br>cold water.<br></p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="mk_card">
              <div class="mk_card-wrapper">
                <div class="step_sec w-embed"><video class="lozad" playsinline="" autoplay="" muted="" loop="" data-poster="{{ 'k_step_02.jpg' | asset_url}}">
                    <source data-src="{{ 'step_02.mp4' | asset_url}}" type="video/mp4">
                  </video></div>
              </div>
              <div class="mk_card-description">
                <h3 class="step-head">Step 2</h3>
                <p class="paragraph no-margin steps">Drop 1-2 tsp of Javy into the <br>water.<br></p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="mk_card">
              <div class="mk_card-wrapper">
                <div class="step_sec w-embed"><video class="lozad" playsinline="" autoplay="" muted="" loop="" data-poster="{{ 'k_step_03.jpg' | asset_url}}">
                    <source data-src="{{ 'step_03.mp4' | asset_url}}" type="video/mp4">
                  </video></div>
              </div>
              <div class="mk_card-description">
                <h3 class="step-head">Step 3</h3>
                <p class="paragraph no-margin steps">Add your favorite milk, creamer or flavoring and enjoy.<br></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-embed w-script">
        <script>
var slider2 = new Swiper(".slider2", {
  loop: false,
  // Enable lazy loading
  lazy: true,
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
  keyboard: {
    enabled: true,
  },
  breakpoints: {
    0: {
      /* when window >=0px - webflow mobile landscape/portriat */
      slidesPerView: 1.2,
      centeredSlides: false,
      spaceBetween: 10,
    },
    767: {
      /* when window >= 767px - webflow tablet */ slidesPerView: 2,
      spaceBetween: 30,
    },
    988: {
      /* when window >= 988px - webflow desktop */ slidesPerView: 3,
      spaceBetween: 35,
      loop: false,
    },
  },
  /* uncomment if you want autoplay slider
          autoplay: {
            delay: 3000,
          },
          */
  scrollbar: {
    el: ".swiper-scrollbar",
    hide: true,
  },
});
</script>
      </div>
    </div>
  </div>
  <div id="experience" class="section benefits">
    <div class="inner-container no-side-paddings">
      <div class="section-heading no_padding">
        <h2 class="h2">The Coffee Experience Reimagined</h2>
        <p class="p-subtitle">Top 3 reasons why everyone is switching to Javy.<br></p>
      </div>
      <div class="grid-benefits">
        <div class="benefits-left">
          <div class="benefits-sticky">
            <div class="div-block-278">
              <div class="text-sliders">
                <div class="w-layout-grid grid-13">
                  <div class="icon-container"><img src="images/javy-icon-01.svg" loading="lazy" alt="" class="javy-icon">
                    <div class="text-block-33">Artisan roasted 100% arabica beans</div>
                  </div>
                  <div class="icon-container"><img src="images/javy-icon-02.svg" loading="lazy" alt="" class="javy-icon">
                    <div class="text-block-33">Direct relationship with small organic farmers</div>
                  </div>
                  <div class="icon-container"><img src="images/javy-icon-03.svg" loading="lazy" alt="" class="javy-icon">
                    <div class="text-block-33">Silk-smooth taste with every pour</div>
                  </div>
                  <div class="icon-container"><img src="images/javy-icon-04.svg" loading="lazy" alt="" class="javy-icon">
                    <div class="text-block-33">Unlimited delicious coffee drinks</div>
                  </div>
                  <div class="icon-container"><img src="images/javy-icon-05.svg" loading="lazy" alt="" class="javy-icon">
                    <div class="text-block-33">Sustainable glass bottles</div>
                  </div>
                  <div class="icon-container"><img src="images/javy-icon-06.svg" loading="lazy" alt="" class="javy-icon">
                    <div class="text-block-33">No burnet, bitter or sour tastes</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="benefits-right">
          <div class="benefits-content">
            <div class="benefits-grid">
              <div class="w-layout-grid _2-col first_child no_padding">
                <div class="card img_container">
                  <div class="video-qualities w-embed"><video class="lozad" playsinline="" autoplay="" muted="" loop="" data-poster="{{ 'k_quality.jpg' | asset_url}}">
                      <source data-src="/videos/k_quick_easy.mp4" type="video/mp4">
                    </video></div>
                </div>
                <div id="w-node-_1609efff-fa86-da47-4038-6195d0623af5-d0623ae8" class="card description">
                  <div class="top-heading">REASON #1<br></div>
                  <h3 class="h3">Quick and Easy<br></h3>
                  <p class="paragraph mb-0">By dropping 1-2 teaspoons of Javy into water or milk your just seconds away from drinking delicious coffee anyway you like it.<br></p>
                </div>
              </div>
              <div class="w-layout-grid _2-col">
                <div class="card img_container">
                  <div class="video-qualities w-embed"><video class="lozad" playsinline="" autoplay="" muted="" loop="" data-poster="{{ 'k_protein.jpg' | asset_url}}">
                      <source data-src="/videos/k_protein_approved.mp4" type="video/mp4">
                    </video></div>
                </div>
                <div class="card description last_mobile">
                  <div class="top-heading">REASON #2<br></div>
                  <h3 class="h3">Shake Up Your Day<br></h3>
                  <p class="paragraph mb-0">Javy&#x27;s purpose is to optimize your day and that includes fueling your health goals while saving you time an money.<br></p>
                </div>
              </div>
              <div class="w-layout-grid _2-col last_child">
                <div class="card img_container">
                  <div class="video-qualities w-embed"><video class="lozad" playsinline="" autoplay="" muted="" loop="" data-poster="{{ 'k_limits.jpg' | asset_url}}">
                      <source data-src="/videos/k_no_limits.mp4" type="video/mp4">
                    </video></div>
                </div>
                <div class="card description">
                  <div class="top-heading">REASON #3<br></div>
                  <h3 class="h3">No Limits<br></h3>
                  <p class="paragraph mb-0">If you want a hot black coffee one day or a sweet, creamy, iced coffee the next day, you can have it anyway you like it in literally seconds. <br>Be creative, be simple, take it on the go, or make it right at home, have it how you want it when you want it!<br></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="ingredients" class="section">
    <div class="inner-container no_padding_top">
      <div class="w-layout-grid _2-col-grid small_gap no_padding">
        <div id="w-node-_5efcd57a-b354-28c0-4394-cf47daaf6fdb-daaf6fd8" class="card description small_gap">
          <div class="section-heading no_padding reimagined">
            <p class="p-subtitle left_aligned no-top"><strong>Javy uses a proprietary roasting and extraction process that makes it far more superior in taste and quality than any other coffee concentrate.</strong><br></p>
          </div>
          <div class="nutrition no_padding">
            <div class="nutrition-content">
              <div class="text-block-34">serving size, 1 tsp</div>
              <div class="top-col">
                <div class="servings">
                  <div class="top-caf">amount per serving<br></div>
                  <div class="table-caf">caffeine (mg)<br></div>
                </div>
                <div class="table-caf number">60<br></div>
              </div>
              <div class="nutrition-daily">
                <div>% daily value*<br></div>
              </div>
              <div class="nutrition-col">
                <div>calories 0g<br></div>
                <div class="nutrition-percentage">0%<br></div>
              </div>
              <div class="nutrition-col">
                <div>fat 0g<br></div>
                <div class="nutrition-percentage">0%<br></div>
              </div>
              <div class="nutrition-col">
                <div>sodium 0g<br></div>
                <div class="nutrition-percentage">0%<br></div>
              </div>
              <div class="nutrition-col">
                <div>protein 0g<br></div>
                <div class="nutrition-percentage">0%<br></div>
              </div>
            </div>
          </div>
          <div data-ix="fade-up-1" class="accordion js-accordion">
            <div class="accordion__item js-accordion-item first_child">
              <div class="accordion-header js-accordion-header">
                <h5 class="question-text">Extraction Process</h5>
              </div>
              <div data-ix="hide-on-load" class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">The extraction process is not only fundamental to retaining an extremely high flavor profile but it also eliminates any coffee grounds or sediment from ending up in the concentrate, unlike other concentrates on the market.</div>
                <div class="accordion-body__contents">Unlike traditional coffee grounds, our liquid concentrate process goes through rigorous QA to ensure its above standard healthy and safety regulations.</div>
              </div>
            </div>
            <div class="accordion__item js-accordion-item">
              <div class="accordion-header js-accordion-header">
                <h5 class="question-text">Quality, Consistency and Value</h5>
              </div>
              <div data-ix="hide-on-load" class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">Most of what we do is geared towards the quality of the coffee, consistency and value.  As such, this means that the farmers who supply our coffee are hitting all the main points to make the products we have outstanding.</div>
              </div>
            </div>
            <div class="accordion__item js-accordion-item last_child">
              <div class="accordion-header js-accordion-header">
                <h5 class="question-text">Crafted Sustainably</h5>
              </div>
              <div data-ix="hide-on-load" class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">Our coffee is sourced from Central America and Colombia. 100% Arabica bean, estate grown in high elevation specialty coffee grade.</div>
                <div class="accordion-body__contents">Our magic combination of thermal blends allows us to roast the beans to concentrated perfection while retaining flavor all without burning them.</div>
                <div class="accordion-body__contents">Javy supports farmers who focus on producing quality and value. Javy has created a sustainable coffee supply chain that delivers premium solutions to everyone from crop to cup.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card"><img src="                    <source data-src="{{ 'dealll.png' | asset_url}}" loading="lazy" sizes="100vw" srcset="{{ 'dealll-p-500.png' | asset_url}} 500w, {{ 'dealll.png' | asset_url}} 594w" alt="" class="img-fluid hide-mobo lozad"></div>
      </div>
    </div>
  </div>
  <div id="reviews" class="section dark-cream">
    <div class="inner-container no_padding">
      <div class="section-heading no_padding padding-left">
        <div class="top-title-badge">#1 CHOICE FOR ICED COFFEE THIS SUMMER</div>
        <h2 class="h2">Thousands of Raving <br>Customers<br></h2>
        <p class="p-subtitle">Javy customers are obsessed with making all kinds of different coffees.<br></p>
      </div>
      <div class="div-block-269-copy">
        <div class="feature-list-stars">
          <div class="feature-title">
            <div class="title-for-feature">Caffeine Amount</div>
          </div>
          <div class="feature-stars">
            <p class="star-para dr"><span class="stars-review"></span></p>
            <div class="average-rating">4.7</div>
          </div>
        </div>
        <div class="feature-list-stars">
          <div class="feature-title">
            <div class="title-for-feature">Convenience</div>
          </div>
          <div class="feature-stars">
            <p class="star-para dr"><span class="stars-review"></span></p>
            <div class="average-rating">4.9</div>
          </div>
        </div>
        <div class="feature-list-stars">
          <div class="feature-title">
            <div class="title-for-feature">Easy To Use</div>
          </div>
          <div class="feature-stars">
            <p class="star-para dr"><span class="stars-review"></span></p>
            <div class="average-rating">4.7</div>
          </div>
        </div>
        <div class="feature-list-stars">
          <div class="feature-title">
            <div class="title-for-feature">Flavor Profile</div>
          </div>
          <div class="feature-stars">
            <p class="star-para dr"><span class="stars-review"></span></p>
            <div class="average-rating">4.8</div>
          </div>
        </div>
        <div class="feature-list-stars">
          <div class="feature-title">
            <div class="title-for-feature">Value For Money</div>
          </div>
          <div class="feature-stars">
            <p class="star-para dr"><span class="stars-review"></span></p>
            <div class="average-rating">4.9</div>
          </div>
        </div>
      </div>
      <div class="swiper slider3">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="review-full-width-2">
              <div class="review-image-container"><img src="{{ '01_0000_img66.jpg' | asset_url}}" loading="lazy" alt="" class="review-image lozad"></div>
              <div class="review-content">
                <div class="review-section-rating">
                  <p class="star-para dr"><span class="stars-review"></span></p>
                  <h4 class="title-review">&quot;Javy Is The Best&quot;</h4>
                </div>
                <div class="review-location-verified">
                  <div class="verified-2"><img src="{{ 'medal.svg' | asset_url}}" loading="lazy" alt="" class="review-shield-2">
                    <div class="text-block-30">Verified Buyer</div>
                  </div>
                </div>
                <p class="paragraph p-small review"><em>&quot;Javy is rich and smooth. You can&#x27;t beat the convenience and Javy doesn&#x27;t compromise quality at all. It is now a big part of my morning routine and saves this working mama in grad school so much valuable time.&quot;</em><br></p>
                <h4 class="name-review">Marina P.
                </h4>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-full-width-2">
              <div class="review-image-container"><img src="{{ '608f514c223a1438a34569f1_08.jpg' | asset_url}}" loading="lazy" alt="" class="review-image lozad"></div>
              <div class="review-content">
                <div class="review-section-rating">
                  <p class="star-para dr"><span class="stars-review"></span></p>
                  <h4 class="title-review">&quot;So Many Options&quot;</h4>
                </div>
                <div class="review-location-verified">
                  <div class="verified-2"><img src="{{ 'medal.svg' | asset_url}}" loading="lazy" alt="" class="review-shield-2">
                    <div class="text-block-30">Verified Buyer</div>
                  </div>
                </div>
                <p class="paragraph p-small review"><em>This coffee offers a pleasant taste which I have increased from 1 cup to 3 cups daily. It replaces all the equipment that it takes to make a cup of coffee. Also, waste amounts don’t exist anymore.</em><br></p>
                <h4 class="name-review">Artur S.
                </h4>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-full-width-2">
              <div class="review-image-container"><img src="{{ '01_0002_img52.jpg' | asset_url}}" loading="lazy" alt="" class="review-image lozad"></div>
              <div class="review-content">
                <div class="review-section-rating">
                  <p class="star-para dr"><span class="stars-review"></span></p>
                  <h4 class="title-review">&quot;Great Deep Roast Flavor &amp; Smell!&quot;</h4>
                </div>
                <div class="review-location-verified">
                  <div class="verified-2"><img src="{{ 'medal.svg' | asset_url}}" loading="lazy" alt="" class="review-shield-2">
                    <div class="text-block-30">Verified Buyer</div>
                  </div>
                </div>
                <p class="paragraph p-small review"><em>I am telling others about this product it is great in protein shakes, water or even in milk and way cheaper then buying an iced coffee at other places.</em><br></p>
                <h4 class="name-review">Sabrina P.
                </h4>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-full-width-2">
              <div class="review-image-container"><img src="{{ '01_0001_img65.jpg' | asset_url}}" loading="lazy" alt="" class="review-image lozad"></div>
              <div class="review-content">
                <div class="review-section-rating">
                  <p class="star-para dr"><span class="stars-review"></span></p>
                  <h4 class="title-review">&quot;So Easy To Use And Delicious Too&quot;
                  </h4>
                </div>
                <div class="review-location-verified">
                  <div class="verified-2"><img src="{{ 'medal.svg' | asset_url}}" loading="lazy" alt="" class="review-shield-2">
                    <div class="text-block-30">Verified Buyer</div>
                  </div>
                </div>
                <p class="paragraph p-small review"><em>Absolutely love the coffee. It’s easy and quick. I can make it to my own strength and recipes perfectly. I do not like the spout on the bottle as it tends to drip and I waste product and make a mess. 😊</em><br></p>
                <h4 class="name-review">Angela A.
                </h4>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-full-width-2">
              <div class="review-image-container"><img src="{{ 'review_04.jpg' | asset_url}}" loading="lazy" alt="" class="review-image lozad"></div>
              <div class="review-content">
                <div class="review-section-rating">
                  <p class="star-para dr"><span class="stars-review"></span></p>
                  <h4 class="title-review">&quot;Fabulous&quot;</h4>
                </div>
                <div class="review-location-verified">
                  <div class="verified-2"><img src="{{ 'medal.svg' | asset_url}}" loading="lazy" alt="" class="review-shield-2">
                    <div class="text-block-30">Verified Buyer</div>
                  </div>
                </div>
                <p class="paragraph p-small review"><em>We absolutely love Javy Coffee! I am thrilled to be able to make my own fancy cold coffees and them actually taking awesome. My husband love how convenient and quick it is!</em><br></p>
                <h4 class="name-review">Alicia F.
                </h4>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-full-width-2">
              <div class="review-image-container"><img src="{{ 'review_09.jpg' | asset_url}}" loading="lazy" alt="" class="review-image lozad"></div>
              <div class="review-content">
                <div class="review-section-rating">
                  <p class="star-para dr"><span class="stars-review"></span></p>
                  <h4 class="title-review">&quot;Excellent In Taste&quot;</h4>
                </div>
                <div class="review-location-verified">
                  <div class="verified-2"><img src="{{ 'medal.svg' | asset_url}}" loading="lazy" alt="" class="review-shield-2">
                    <div class="text-block-30">Verified Buyer</div>
                  </div>
                </div>
                <p class="paragraph p-small review"><em>Taste is perfect, it is so easy and convenient to use anywhere. Require less space to store than other products.</em><br></p>
                <h4 class="name-review">Edith M.<a href="https://superfoodscompany.com/super-amazing-coffee/#"><strong><br></strong></a>
                </h4>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-full-width-2">
              <div class="review-image-container"><img src="{{ 'review_03.jpg' | asset_url}}" loading="lazy" alt="" class="review-image lozad"></div>
              <div class="review-content">
                <div class="review-section-rating">
                  <p class="star-para dr"><span class="stars-review"></span></p>
                  <h4 class="title-review">&quot;Can&#x27;t Go A Morning Without It!&quot;</h4>
                </div>
                <div class="review-location-verified">
                  <div class="verified-2"><img src="{{ 'medal.svg' | asset_url}}" loading="lazy" alt="" class="review-shield-2">
                    <div class="text-block-30">Verified Buyer</div>
                  </div>
                </div>
                <p class="paragraph p-small review"><em>Who knew coffee could be so easy!!! Ice, almond milk, 2 tbs. of Javy and I&#x27;m good to go! Never been easier to get out the door in the morning! :)</em><br></p>
                <h4 class="name-review">Wendy S.
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination-3"></div>
      </div>
      <div class="w-embed w-script">
        <script>
var slider3 = new Swiper(".slider3", {
  loop: true,
  // Enable lazy loading
  lazy: true,
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
  pagination: {
    el: ".swiper-pagination-3",
  },
  keyboard: {
    enabled: true,
  },
  breakpoints: {
    0: {
      /* when window >=0px - webflow mobile landscape/portriat */
      slidesPerView: 1.3,
      centeredSlides: true,
      spaceBetween: 20,
    },
    767: {
      /* when window >= 767px - webflow tablet */ slidesPerView: 2,
      spaceBetween: 30,
    },
    988: {
      /* when window >= 988px - webflow desktop */ slidesPerView: 4,
      spaceBetween: 15,
      loop: false,
    },
  },
  /* uncomment if you want autoplay slider
    autoplay: {
      delay: 3000,
    },
    */
  scrollbar: {
    el: ".swiper-scrollbar",
    hide: true,
  },
});
</script>
      </div>
      <div class="div-block-279"></div>
    </div>
  </div>

  <div id="sticky_bar" class="sticky_footer sticky_bar">
    <div class="w-layout-grid grid_sticky">
      <div class="message-bar">
        <div class="div-block-277">
          <div class="rt_title-2">LIMITED TIME SALE</div>
          <div class="offer-ends">OFFER ENDS SOON!</div>
        </div>
        <a href="#buy-section" class="header-cta-desktop w-inline-block">
          <div class="crossell-button-text">BUY IT NOW!<span data-timer-duration="600" class="checkout-timer"></span></div>
        </a>
      </div>
      <a href="#buy-section" class="header-cta-mobile w-inline-block">
        <div class="crossell-button-text">BUY IT NOW!<span data-timer-duration="600" class="checkout-timer"></span></div>
      </a>
    </div>
  </div>