
{%- liquid
  assign current_variant = product.selected_or_first_available_variant

  assign product_zoom_size = '1800x1800'
  assign product_image_size = '620x'

  assign enableHistory = true
  if isModal
    assign enableHistory = false
  endif

  case image_container_width
    when 'small'
      assign product_image_width = 'medium-up--two-fifths'
      assign product_description_width = 'medium-up--three-fifths'
      assign product_image_size = '480x'
    when 'medium'
      assign product_image_width = 'medium-up--one-half'
      assign product_description_width = 'medium-up--one-half'
      assign product_image_size = '620x'
    when 'large'
      assign product_image_width = 'medium-up--three-fifths'
      assign product_description_width = 'medium-up--two-fifths'
      assign product_image_size = '740x'
  endcase
-%}

<div id="ProductSection-{{ section_id }}"
  class="product-section"
  data-section-id="{{ section_id }}"
  data-product-id="{{ product.id }}"
  data-section-type="product-template"
  {% if isModal %}
    data-subsection
  {% endif %}
  {% if product_image_type == 'stacked' %}
    data-images-stacked="true"
  {% endif %}
  data-video-style="{{ video_style }}"
  data-history="{{ enableHistory }}"
  data-modal="{{ isModal }}">

  {%- render 'product-template-variables', product: product, current_variant: current_variant -%}


      <div class="r_product_hero">

      <div class="r_hero_left">
        <div class="hero-internal">
          {%- render 'product-images',
            section_id: section_id,
            product: product,
            product_image_type: product_image_type,
            product_zoom_enable: product_zoom_enable,
            product_zoom_size: product_zoom_size,
            product_image_size: product_image_size,
            isModal: isModal,
            video_looping: video_looping,
            video_style: video_style
          -%}
        </div>


        </div>

        <div id="purchase_cards" class="r_hero_lift">
          <div class="r_product_info">

          <div class="r_product_head">
            <div class="r_review_container"><img src="https://uploads-ssl.webflow.com/61325340b9cecc1855901179/6135071ec1599d83ab9d1d16_rating%20stars.svg" loading="lazy" alt="rating-stars" class="rating-stars mr-5">
              <p class="sm-text">8,791 + trusted reviews</p>
            </div>
            
            
                         {%- if settings.vendor_enable -%}
                <div class="product-single__vendor">
                  {{ product.vendor }}
                </div>
              {%- endif -%}

              {%- if sku_enable -%}
                <p class="product-single__sku" data-sku>
                  {%- if current_variant.sku -%}
                    {{ current_variant.sku }}
                  {%- endif -%}
                </p>
              {%- endif -%}

              {%- if isModal -%}
                <p class="h1 product-single__title">
                  {{ product.title }}
                </p>
              {%- else -%}
                <h1 class="r_h1 r_product_title">
                  {%- unless product.empty? -%}
                    {{ product.title }}
                  {%- else -%}
                    {{ 'home_page.onboarding.product_title' | t }}
                  {%- endunless -%}
                </h1>
              {%- endif -%}


            <div class="r_flavor">Flavor: <span class="r_flavor_tag">{{ product.metafields.my_fields.coffee_flavor }}</span></div>
            <p class="r_p r_product_description">{{ product.metafields.my_fields.short_description }}</p>
          </div>



{% if product.type == "Coffee Concentrate" %}


          <div data-current="one_tab" data-easing="ease" data-duration-in="0" data-duration-out="0" class="r_product_tabs w-tabs">
            <div class="r_tabs_menu w-tab-menu">
              <a data-w-tab="sub_tab" data-frequency="sub" data-w-id="33b1871f-8e87-e501-9cf9-14bd5babeb9f" class="tab_frequency w-inline-block w-tab-link">
                <div class="selector"><strong>Javy Club:</strong> Sub &amp; Save</div>
                <div class="r_freq_check_wrapper">
                  <div class="r_freq_circle"><img style="opacity:0" loading="lazy" src="{{ 'yellowradio.svg' | asset_url}}" alt="" class="r_freq_radio"></div>
                </div>
              </a>
              <a data-w-tab="one_tab" data-frequency="one" data-w-id="33b1871f-8e87-e501-9cf9-14bd5babeba7" class="tab_frequency w-inline-block w-tab-link w--current">
                <div class="selector">One-Time</div>
                <div class="r_freq_check_wrapper">
                  <div class="r_freq_circle"><img style="opacity:0" loading="lazy" src="{{ 'yellowradio.svg' | asset_url}}" alt="" class="r_freq_radio"></div>
                </div>
              </a>
            </div>
            <div class="r_freq_tab_content w-tab-content">
              <div data-w-tab="sub_tab" class="r_prod_tab w-tab-pane">
                <p class="r_freq_desc"><strong>Like a coffee club, but better.</strong> Get Javy delivered to your door monthly. Dollars will be saved, fun will be had. Easy to Cancel.<br></p>
                <div class="tab-content-inner">
                  <ul role="list" class="r_product_features w-list-unstyled">
                    <li class="r_product_features_item"><img loading="lazy" src="{{ 'greencheck.svg' | asset_url}}" alt="check-icon" class="r_check_item">
                      <div class="r_p_benefits r_smaller m_0">Never have to think about reordering<strong><br></strong></div>
                    </li>
                    <li class="r_product_features_item"><img loading="lazy" src="{{ 'greencheck.svg' | asset_url}}" alt="check-icon" class="r_check_item">
                      <div class="r_p_benefits r_smaller m_0">Save up to 36%<strong><br></strong></div>
                    </li>
                    <li class="r_product_features_item"><img loading="lazy" src="{{ 'greencheck.svg' | asset_url}}" alt="check-icon" class="r_check_item">
                      <div class="r_p_benefits r_smaller m_0">Cancel anytime<strong><br></strong></div>
                    </li>
                  </ul>
                  <a href="/checkout_v4/?forceVariantId=41010670764193&amp;straws=true&amp;discount=true&amp;refill=true" class="btn hero w-inline-block">
                    <div class="crossell-button-text">GET STARTED →</div>
                  </a>
                </div>
              </div>
              <div data-w-tab="one_tab" class="r_prod_tab w-tab-pane w--tab-active">
                <div class="tab-content-inner"><img loading="lazy" src="{{ 'saveupto.svg' | asset_url}}" alt="" class="save-up">

                

                            <div data-product-blocks class="r_full_width">
              {% capture form_id %}AddToCartForm-{{ section_id }}{% endcapture %}
              {%- if blocks -%}
                {%- for block in blocks -%}
                  {%- case block.type -%}
                    {%- when '@app' -%}
                      {% render block %}
                    {%- when 'reviews' -%}
                      <div class="product-block product-block--small">
                        <a href="#shopify-product-reviews-{{ product.id }}">
                          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                        </a>
                      </div>
                    {%- when 'separator' -%}
                      <div class="product-block"><hr class="hr-separator"></div>
                    {%- when 'text' -%}
                      <div class="product-block" {{ block.shopify_attributes }}>
                        {{ block.settings.text }}
                      </div>
                    {%- when 'tab' -%}
                      <div class="product-block product-block--tab" {{ block.shopify_attributes }}>
                        {% assign tab_id = block.id | append: product.id %}
                        {% capture tab_content %}
                          {{ block.settings.content }}
                          {{ block.settings.page.content }}
                        {% endcapture %}
                        {%- render 'tab', id: tab_id, title: block.settings.title, content: tab_content -%}
                      </div>
                    {%- when 'contact' -%}
                      <div class="product-block product-block--tab" {{ block.shopify_attributes }}>
                        {%- render 'tab-contact', block: block -%}
                      </div>
                    {%- when 'description' -%}
                      <div class="product-block{% if block.settings.is_tab %} product-block--tab{% endif %}" {{ block.shopify_attributes }}>
                        {%- assign id = block.id | append: product.id -%}
                        {%- render 'product-description', id: id, product: product, is_tab: block.settings.is_tab -%}
                      </div>
                    {%- when 'price' -%}
                      <div class="product-block product-block--price" {{ block.shopify_attributes }}>
                        <div class="product-single__prices">
                          {%- if product.compare_at_price_max > product.price -%}
                            {%- liquid
                              assign hide_sale_price = true
                              if current_variant.compare_at_price
                                assign hide_sale_price = false
                              endif
                            -%}
                            <span
                              class="visually-hidden"
                              aria-hidden="{{ hide_sale_price }}"
                              data-price-a11y>
                                {{ 'products.general.regular_price' | t }}
                            </span>
                            <span class="{% if hide_sale_price %} hide{% endif %}" data-price-wrapper>
                              <span class="product__price product__price--compare" data-product-price-compare>
                                {%- if current_variant.compare_at_price > current_variant.price -%}
                                  {{ current_variant.compare_at_price | money }}
                                {%- endif -%}
                              </span>
                            </span>
                            <span class="visually-hidden" data-compare-a11y>{{ 'products.general.sale_price' | t }}</span>
                          {%- else -%}
                            <span class="visually-hidden" data-price-a11y>{{ 'products.general.regular_price' | t }}</span>
                          {%- endif -%}

                          <span
                            class="product__price{% if current_variant.compare_at_price > current_variant.price %} sale-price{% endif %}"
                            data-product-price>
                            {%- unless product.empty? -%}
                              {{ current_variant.price | money }}
                            {%- else -%}
                              {{ 1999 | money }}
                            {%- endunless -%}
                          </span>
                        </div>

                        <div data-product-unit-wrapper class="product__unit-price{% unless current_variant.unit_price_measurement %} hide{% endunless %}">
                          {%- capture unit_price_base_unit -%}
                            {%- if current_variant.unit_price_measurement -%}
                              {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
                                {{ current_variant.unit_price_measurement.reference_value }}
                              {%- endif -%}
                              {{ current_variant.unit_price_measurement.reference_unit }}
                            {%- endif -%}
                          {%- endcapture -%}

                          {{ current_variant.unit_price | money }}/{{ unit_price_base_unit }}
                        </div>

                        {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                          <div class="product__policies rte">
                            {%- if shop.taxes_included -%}
                              {{ 'products.product.include_taxes' | t }}
                            {%- endif -%}
                            {%- if shop.shipping_policy.body != blank -%}
                              {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                      </div>
                    {%- when 'quantity_selector' -%}
                      <div class="product-block" {{ block.shopify_attributes }}>
                        <div class="product__quantity">
                          <label for="Quantity-{{ section_id }}" class="variant__label">{{ 'products.product.quantity' | t }}</label>
                          <input type="number" id="Quantity-{{ section_id }}" name="quantity" value="1" min="1" form="{{ form_id }}">
                        </div>
                      </div>
                    {%- when 'variant_picker' -%}
                      <div class="product-block" {{ block.shopify_attributes }}>
                        {%- unless product.has_only_default_variant -%}
                          {%- for option in product.options_with_values -%}
                            {%- if block.settings.color_swatches -%}
                              {%- assign is_color = false -%}
                              {%- assign color_option_index = 0 -%}
                              {%- assign swatch_trigger = 'products.general.color_swatch_trigger' | t | downcase-%}
                              {%- assign color_option_index = forloop.index0 -%}
                              {%- assign downcased_option = option.name | downcase -%}
                              {%- if downcased_option contains swatch_trigger -%}
                                {%- assign is_color = true -%}
                              {%- elsif swatch_trigger == 'color' and downcased_option contains 'colour' -%}
                                {%- assign is_color = true -%}
                              {%- endif -%}
                            {%- endif -%}

                            {%- if block.settings.picker_type == 'button' -%}
                              {%- render 'variant-button',
                                product: product,
                                form_id: form_id,
                                section_id: section_id,
                                variant_labels: block.settings.variant_labels,
                                option: option,
                                forloop: forloop,
                                is_color: is_color,
                                color_option_index: color_option_index
                              -%}
                            {%- else -%}
                              {%- render 'variant-dropdown',
                                product: product,
                                form_id: form_id,
                                section_id: section_id,
                                variant_labels: block.settings.variant_labels,
                                option: option,
                                forloop: forloop
                              -%}
                            {%- endif -%}
                          {%- endfor -%}
                        {%- endunless -%}
                      </div>

                                        <ul role="list" class="r_product_features r_one_time w-list-unstyled">
                    <li class="r_product_features_item"><img loading="lazy" src="https://uploads-ssl.webflow.com/61325340b9cecc1855901179/61893b8b8f80ad621ceb731f_checkmark.svg" alt="check-icon" class="r_check_item">
                      <div class="r_p_benefits r_smaller m_0">Never have to think about reordering<strong><br></strong></div>
                    </li>
                    <li class="r_product_features_item"><img loading="lazy" src="https://uploads-ssl.webflow.com/61325340b9cecc1855901179/61893b8b8f80ad621ceb731f_checkmark.svg" alt="check-icon" class="r_check_item">
                      <div class="r_p_benefits r_smaller m_0">Save up to 36%<strong><br></strong></div>
                    </li>
                    <li class="r_product_features_item"><img loading="lazy" src="https://uploads-ssl.webflow.com/61325340b9cecc1855901179/61893b8b8f80ad621ceb731f_checkmark.svg" alt="check-icon" class="r_check_item">
                      <div class="r_p_benefits r_smaller m_0">Never have to think about reordering<strong><br></strong></div>
                    </li>
                  </ul>
                  <div class="price-list">
                    <div class="price-sec">
                      <div class="youresaving">You&#x27;re saving <span data-variant-id="41010670862497" class="checkout-compare-price-savings-pct" data-product-price-savings>
                      
                      
                      </span>%</div>
                    </div>
                    <div class="saving-sec" data-price-wrapper>
                      <div class="reg-text">Only <span class="checkout-price" data-product-price>{{ current_variant.price | money }}</span></div>
                      <div class="save-text"><span class="checkout-compare-price" data-product-price-compare>{{ current_variant.compare_at_price | money }}</span></div>



                            <span class="visually-hidden" data-compare-a11y>{{ 'products.general.sale_price' | t }}</span>
                            <span class="visually-hidden" data-price-a11y>{{ 'products.general.regular_price' | t }}</span>

                    </div>
                  </div>


                    {%- when 'buy_buttons' -%}
                      <div class="product-block" {{ block.shopify_attributes }}>
                        {%- unless product.empty? -%}
                          <div class="product-block">
                            {%- render 'product-form',
                              form_id: form_id,
                              section_id: section_id,
                              product: product,
                              show_dynamic_checkout: block.settings.show_dynamic_checkout,
                              current_variant: current_variant
                            -%}
                          </div>
                        {%- endunless -%}

                        {%- if block.settings.surface_pickup_enable -%}
                          <div data-store-availability
                            data-product-name="{{ product.title | escape }}"
                            data-base-url="{{ shop.url }}{{ routes.root_url }}"
                            ></div>
                        {%- endif -%}
                      </div>
                    {%- when 'sales_point' -%}
                      {%- unless block.settings.text == blank -%}
                        <div class="product-block product-block--sales-point" {{ block.shopify_attributes }}>
                          <ul class="sales-points">
                            <li class="sales-point">
                              <span class="icon-and-text">
                                {% case block.settings.icon %}
                                  {% when 'checkmark' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-circle-checkmark" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="cls-1" d="M52.68 24.48A22 22 0 1 1 47 15.93M21 32l8.5 8.5L57 13"/></svg>
                                  {% when 'globe' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-globe" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-width:2px}</style></defs><circle class="cls-1" cx="33" cy="32" r="22"/><path class="cls-1" d="M14 21h38M11 32h44M14 43h38M33 10c-12 8-12 37 0 44M33 10c12 8 12 37 0 44"/></svg>
                                  {% when 'leaf' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-leaf" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M51 12L13 50M35 13v15h16"/><path class="cls-1" d="M52 11c6 24-16.72 47.29-33 32C7 22 29 10 52 11z"/></svg>
                                  {% when 'package' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-package" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="cls-1" d="M32 56L9.05 42.88V22.12L32 9l22.95 13.12v20.76L32 56z"/><path class="cls-1" d="M32 56V35.23l22.95-13.11M32 35.23L9.05 22.12M42.13 14.79L20.52 28.67v8.75"/></svg>
                                  {% when 'lock' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-lock" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-width:2px}</style></defs><path id="svg_2" data-name="svg 2" class="cls-1" d="M20.48 24v-3c0-6.6 5.52-11 11.76-11C39 10 44 15.13 44 21v3"/><path id="svg_4" data-name="svg 4" class="cls-1" d="M11.62 24h41.25v29.77H11.62z"/><path class="cls-1" d="M32.24 37v7"/><circle class="cls-1" cx="32.24" cy="35.5" r="1.5"/></svg>
                                  {% when 'truck' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-truck" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M17 47.72H7.38V21h33.14v26.72H24.44M45.92 47.72h-5.4V34.9h17.1v12.82h-4.23M57.62 34.9l-6.41-8.56H40.52"/><circle class="cls-1" cx="20.74" cy="48.26" r="3.74"/><path class="cls-1" d="M45.92 47.73a3.82 3.82 0 1 1 0 .37v-.37"/></svg>
                                {% endcase %}
                                <span>{{ block.settings.text }}</span>
                              </span>
                            </li>
                          </ul>
                        </div>
                      {%- endunless -%}
                    {%- when 'inventory_status' -%}
                      <div class="product-block product-block--sales-point" {{ block.shopify_attributes }}>
                        {%- render 'product-inventory', section_id: section_id, product: product, current_variant: current_variant, block: block -%}
                      </div>
                    {%- when 'share' -%}
                      <div class="product-block" {{ block.shopify_attributes }}>
                        {%- render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product -%}
                      </div>
                    {%- when 'trust_badge' -%}
                      <div class="product-block" {{ block.shopify_attributes }}>
                        <div class="aos-animate" style="max-width: {{ block.settings.trust_image.width }}px; margin: 0 auto;">
                          <div class="image-wrap " style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.trust_image.aspect_ratio }}%;">
                            {%- assign img_url = block.settings.trust_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            <img class="lazyload"
                                data-src="{{ img_url }}"
                                data-widths="[360, 540, 700, 1024]"
                                data-aspectratio="{{ block.settings.trust_image.aspect_ratio }}"
                                data-sizes="auto"
                                alt="{{ block.settings.trust_image.alt }}">
                            <noscript>
                              <img class="lazyloaded" src="{{ block.settings.trust_image | img_url: '540x' }}" alt="{{ block.settings.trust_image.alt }}">
                            </noscript>
                          </div>
                        </div>
                      </div>
                    {%- when 'custom' -%}
                      <div class="product-block" {{ block.shopify_attributes }}>
                        {{ block.settings.code }}
                      </div>
                  {%- endcase -%}
                {%- endfor -%}
              {%- else -%}
                <div data-blocks-holder
                     data-url="{{ product.url | within: collection }}"
                     data-template="{{ product.template_suffix }}">
                  <div class="placeholder-content" style="min-height: 86px;"></div>
                </div>
              {%- endif -%}
            </div>
                </div>
              </div>
            </div>
          </div>
 
              {%- endif -%}




          </div>
        </div>
      </div>



</div>

{% if product.type == "Coffee Concentrate" %}

{% render 'coffee-concentrates' %}


{% endif %}

    <link rel="stylesheet" href="{{ 'product-hero.css' | asset_url }}">
