{% comment %}
  It's best to load images as JPG instead of PNG for faster
  loading, so that is our default. If you upload
  PNG files and want to keep them that way, set the line
  below to false.

  Can set thumbnail position to 'below', but only suggested
  when using the 'Fade' image style (set in Product grid)
{% endcomment %}
{%- liquid
  assign force_jpg = false

  assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media

  assign thumbnail_position = 'beside'
-%}

{%- unless product.empty? -%}
  <div
    class="fixer_slider"
    data-product-images
    data-zoom="{{ product_zoom_enable }}"
    {% if product_zoom_enable %}
      {% if product_image_type == 'slider' %}
        data-has-slideshow="true"
      {% endif %}
    {% endif %}>

        <div class="swiper slider1 product__main-photos{% if product_image_type == 'slider' %} product__main-photos--slider{% endif %}" data-aos data-product-single-media-group>
          <div class="swiper-wrapper product__main-photos-wrapper product-slideshow" data-product-photos>
            {%- for media in product.media -%}
              {%- render 'media',
                section_id: section_id,
                media: media,
                force_jpg: force_jpg,
                featured_media: featured_media,
                loopIndex0: forloop.index0,
                loopIndex: forloop.index,
                product_zoom_enable: product_zoom_enable,
                product_zoom_size: product_zoom_size,
                product_image_size: product_image_size,
                product_image_type: product_image_type,
                isModal: isModal,
                video_looping: video_looping,
                video_style: video_style
              -%}
            {%- endfor -%}
          </div>




                    <div class="previous-after">
            <a href="#" class="previous-hero-slider w-inline-block">
              <div class="prev-icon"></div>
            </a>
            <a href="#" class="next-hero-slider w-inline-block">
             <div class="next-icon"></div>
            </a>
          </div>
          <div class="swiper-pagination"></div>


        </div>

        {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}

        {%- if first_3d_model -%}
          <button
            aria-label="{{ 'products.product.view_in_space_label' | t }}"
            class="product-single__view-in-space"
            data-shopify-xr
            data-shopify-model3d-id="{{ first_3d_model.id }}"
            data-shopify-title="{{ product.title }}"
            data-shopify-xr-hidden
          >
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-3d" viewBox="18.24 17.35 24.52 28.3"><path fill="#3A3A3A" d="M30.5 17.35l-12.26 7.07v14.16l12.26 7.07 12.26-7.08V24.42L30.5 17.35zM20.24 37.42V25.58l10.26-5.93 10.13 5.85-10.13 5.88v12l-10.26-5.96z"/></svg>
            <span class='product-single__view-in-space-text'>
              {{ 'products.product.view_in_space' | t }}
            </span>
          </button>
        {%- endif -%}



  </div>

  <script type="application/json" id="ModelJson-{{ section_id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{%- else -%}
  <div class="product__photos">
        <div class="swiper slider1">
          <div class="swiper-wrapper">
        <div class="product-main-slide" data-index="{{ forloop.index0 }}">
          <a href="#">
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          </a>

                      <div class="swiper-slide lozad">
              <div class="container-hero-top _30-percent">
                <div class="benefits-blocks">
                  <div class="w-layout-grid grid-14">
                    <div id="w-node-_4780e485-29b3-3e63-3a2f-94d7d6a94d2e-a8f389e4" class="hero-ico-container"><img src="images/icon-01.svg" loading="lazy" alt="" class="image-25">
                      <p class="ico-container-text">~60MG OF <br>CAFFEINE PER TSP.<br></p>
                    </div>
                    <div id="w-node-_4780e485-29b3-3e63-3a2f-94d7d6a94d35-a8f389e4" class="hero-ico-container"><img src="images/icon-02.svg" loading="lazy" alt="" class="image-25">
                      <p class="ico-container-text">1-2 TSP. OF JAVY PER 6OZ COFFEE<br></p>
                    </div>
                    <div id="w-node-_4780e485-29b3-3e63-3a2f-94d7d6a94d3a-a8f389e4" class="hero-ico-container"><img src="images/icon-03.svg" loading="lazy" alt="" class="image-25">
                      <p class="ico-container-text">IF YOU CAN THINK, YOU CAN MAKE IT<br></p>
                    </div>
                  </div>
                  <div class="div-block-281">
                    <div class="text-block-37">MADE WITH THE FINEST ARABICA COFFEE BEANS</div>
                  </div>
                </div>
              </div>
              <div class="container-hero _65-percent">
                <div class="rotator-deal-2">
                  <div class="tag-text-4-2">MAKES<br><span class="text-span-41">30</span><br>CUPS</div><img src="images/circular_rotator.svg" loading="lazy" alt="" class="image-24">
                </div>
              </div><img src="images/new-imgs_0002_Layer-4.jpg" alt="Javy Iced Coffee" loading="lazy" class="hero-image swiper-lazy">
              <div class="swiper-lazy-preloader"></div>
            </div>
            <div class="swiper-slide lozad">
              <div class="container-hero-top-type">
                <p class="any-type">Craft Any Type Of Coffee <br>You Want!</p>
              </div>
              <div class="container-coffee-type-60">
                <div class="inner-hero">
                  <div class="w-layout-grid grid-15">
                    <div class="icon-div-one-2">
                      <div class="iconbox"><img src="images/americano-new_v02.svg" loading="lazy" alt=""></div>
                      <div class="icontextbox">
                        <div class="icon-text-2">Americano</div>
                        <p class="paragraph-5">6oz of hot water + 1 tsp of Javy<br></p>
                      </div>
                    </div>
                    <div class="icon-div-one-2">
                      <div class="iconbox"><img src="images/ice-coffee-new_v02.svg" loading="lazy" alt=""></div>
                      <div class="icontextbox">
                        <div class="icon-text-2">Iced Coffee</div>
                        <p class="paragraph-5">8 oz of water + 1-2 tsp of Javy<br></p>
                      </div>
                    </div>
                    <div class="icon-div-one-2">
                      <div class="iconbox"><img src="images/affogato-new_v02.svg" loading="lazy" alt=""></div>
                      <div class="icontextbox">
                        <div class="icon-text-2">Affogato</div>
                        <p class="paragraph-5">Gelato + 1 tsp of Javy<br></p>
                      </div>
                    </div>
                    <div class="icon-div-one-2">
                      <div class="iconbox"><img src="images/latte-new_v02.svg" loading="lazy" alt=""></div>
                      <div class="icontextbox">
                        <div class="icon-text-2">Latte</div>
                        <p class="paragraph-5">6oz of steamed milk <br>+ 1-2 tsp of Javy<br></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div><img src="images/new-imgs_0004_Layer-2.jpg" alt="Javy Iced Coffee" loading="lazy" class="hero-image swiper-lazy">
              <div class="swiper-lazy-preloader"></div>
            </div>
            <div class="swiper-slide lozad">
              <div class="ingredients-section">
                <div class="nutrition-full-width">
                  <div class="nutrition-inside">
                    <div class="size-hero">serving size, 1 tsp</div>
                    <div class="top-col-hero">
                      <div class="servings">
                        <div class="top-caf-hero">amount per serving<br></div>
                        <div class="table-caf-text">caffeine (mg)<br></div>
                      </div>
                      <div class="table-caf-number">60<br></div>
                    </div>
                    <div class="nutrition-daily">
                      <div>% daily value*<br></div>
                    </div>
                    <div class="nutrition-hero">
                      <div>calories 0g<br></div>
                      <div class="nutrition-percentage">0%<br></div>
                    </div>
                    <div class="nutrition-hero">
                      <div>fat 0g<br></div>
                      <div class="nutrition-percentage">0%<br></div>
                    </div>
                    <div class="nutrition-hero">
                      <div>sodium 0g<br></div>
                      <div class="nutrition-percentage">0%<br></div>
                    </div>
                    <div class="nutrition-hero">
                      <div>protein 0g<br></div>
                      <div class="nutrition-percentage">0%<br></div>
                    </div>
                  </div>
                </div>
              </div><img src="images/new-imgs_0000_Layer-6.jpg" alt="Javy and a Delicious Iced Coffee" class="hero-image swiper-lazy">
              <div class="swiper-lazy-preloader"></div>
            </div>

            
        </div>

        
      </div>
    </div>


    
  </div>
{%- endunless -%}


        <script>
var slider1 = new Swiper(".slider1", {
  loop: true,
  // Enable lazy loading
  lazy: true,
  navigation: {
    nextEl: ".next-hero-slider",
    prevEl: ".previous-hero-slider",
  },
  pagination: {
    el: ".swiper-pagination",
  },
  keyboard: {
    enabled: true,
  },
  breakpoints: {
    0: {
      /* when window >=0px - webflow mobile landscape/portriat */
      slidesPerView: 1,
      centeredSlides: true,
      spaceBetween: 0,
    },
    767: {
      /* when window >= 767px - webflow tablet */ slidesPerView: 1,
      spaceBetween: 20,
    },
    988: {
      /* when window >= 988px - webflow desktop */ slidesPerView: 1,
      centeredSlides: false,
      spaceBetween: 0,
    },
  },
  /* uncomment if you want autoplay slider
      autoplay: {
        delay: 3000,
      },
      */
  scrollbar: {
    el: ".swiper-scrollbar",
    hide: true,
  },
});
</script>