<div class="slide-nav__overflow{% if mobile_menu_style == 'thumb'%} slide-nav__overflow--thumb{% else %} slide-nav__overflow--slide{% endif %}">
  
  <div class="top_nav_slider">

<div class="main-links">
  <a href="#">SHOP</a>
  <a href="#">LEARN</a>
  <a href="#">MEMBERSHIP</a>
        <button
        type="button"
        class="site-nav__link site-nav__link--icon js-toggle-slide-nav{% if menu_alignment == 'left' or menu_alignment == 'left-center' or menu_alignment == 'right' %} medium-up--hide{% endif %}{% if mobile_menu_style == 'thumb' %} hide{% endif %}">
        <img class="icon icon-hamburger" src="{{ 'hamburguer.svg' | asset_url}}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
      </button>
</div>




  </div>
  
  <nav class="slide-nav__wrapper">
    <ul id="SlideNav" class="slide-nav">
      {% comment %}
        Do not show hardcoded 'Home' link if it matches the first menu link
      {% endcomment %}
      {%- unless main_menu.links[0].url == routes.root_url -%}
        <li class="slide-nav__item border-bottom">
          <a href="{{ routes.root_url }}" class="slide-nav__link">
            {{ 'general.drawers.home' | t }}
          </a>
        </li>
      {%- endunless -%}
      {%- for link in main_menu.links -%}
        {%- liquid
          assign link_index = forloop.index
          assign child_list_handle = link.title | handleize | append: link_index
          assign has_dropdown = false
          if link.links != blank
            assign has_dropdown = true
          endif
        -%}

        <li class="slide-nav__item">
          {%- if has_dropdown -%}
            <button
              type="button"
              class="js-toggle-submenu slide-nav__link"
              data-target="{{ child_list_handle }}"
              data-level="1"
              {% if link.active or link.child_active %}data-active="true"{% endif %}>
              {{ link.title }}
              <span class="slide-nav__icon">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"/></svg>
                <span class="icon__fallback-text">{{ 'general.drawers.expand_submenu' | t }}</span>
              </span>
            </button>
            <ul
              class="slide-nav__dropdown"
              data-parent="{{ child_list_handle }}"
              data-level="2">
              <li class="slide-nav__item border-bottom">
                <div class="slide-nav__table">
                  <div class="slide-nav__table-cell slide-nav__return">
                    <button class="js-toggle-submenu slide-nav__return-btn" type="button">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"/></svg>
                      <span class="icon__fallback-text">{{ 'general.drawers.collapse_submenu' | t }}</span>
                    </button>
                  </div>
                  <a href="{{ link.url }}" class="slide-nav__sublist-link slide-nav__sublist-header">
                    {{ link.title }}
                  </a>
                </div>
              </li>

              {%- for childlink in link.links -%}
                {%- liquid
                  assign has_sub_dropdown = false
                  assign grand_child_list_handle = childlink.title | handleize
                  assign grand_child_link_id = grand_child_list_handle | append: link_index
                  if childlink.links != blank
                    assign has_sub_dropdown = true
                  endif
                -%}

                <li class="slide-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                  {%- if has_sub_dropdown -%}
                    <button type="button"
                      class="js-toggle-submenu slide-nav__link slide-nav__sublist-link"
                      data-target="{{ grand_child_link_id }}">
                      {{ childlink.title }}
                      <span class="slide-nav__icon">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"/></svg>
                        <span class="icon__fallback-text">{{ 'general.drawers.expand_submenu' | t }}</span>
                      </span>
                    </button>
                    <ul class="slide-nav__dropdown" data-parent="{{ grand_child_link_id }}" data-level="3">
                      <li class="slide-nav__item border-bottom">
                        <div class="slide-nav__table">
                          <div class="slide-nav__table-cell slide-nav__return">
                            <button type="button"
                              class="js-toggle-submenu slide-nav__return-btn"
                              data-target="{{ child_list_handle }}">
                              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"/></svg>
                              <span class="icon__fallback-text">{{ 'general.drawers.collapse_submenu' | t }}</span>
                            </button>
                          </div>
                          <a href="{{ childlink.url }}" class="slide-nav__sublist-link slide-nav__sublist-header">
                            {{ childlink.title }}
                          </a>
                        </div>
                      </li>
                      {%- for grandchildlink in childlink.links -%}
                        <li class="slide-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                          <a href="{{ grandchildlink.url }}" class="slide-nav__sublist-link">
                            {{ grandchildlink.title | escape }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- else -%}
                    <a href="{{ childlink.url }}" class="slide-nav__sublist-link">
                      {{ childlink.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          {%- else -%}
            <a href="{{ link.url }}" class="slide-nav__link">
              {{ link.title }}
            </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
      {%- if shop.customer_accounts_enabled -%}
        <li class="slide-nav__item medium-up--hide">
          <a
            href="{{ routes.account_url }}"
            class="slide-nav__link">
            {%- if customer -%}
              {{ 'layout.customer.account' | t }}
            {%- else -%}
              {{ 'layout.customer.log_in' | t }}
            {%- endif -%}
          </a>
        </li>
      {%- endif -%}
      {%- if section.settings.header_search_enable -%}
        <li class="slide-nav__item medium-up--hide">
          <a
            href="{{ routes.search_url }}"
            class="slide-nav__link js-modal-open-search-modal js-no-transition">
            {{ 'general.search.title' | t }}
          </a>
        </li>
      {%- endif -%}
    </ul>
  </nav>

  <div class="bottom_nav_slider">



<div class="left_icons">
    {%- if shop.customer_accounts_enabled -%}
      <a class="site-nav__link site-nav__link--icon small--hide" href="{{ routes.account_url }}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-user" viewBox="0 0 64 64"><path d="M35 39.84v-2.53c3.3-1.91 6-6.66 6-11.41 0-7.63 0-13.82-9-13.82s-9 6.19-9 13.82c0 4.75 2.7 9.51 6 11.41v2.53c-10.18.85-18 6-18 12.16h42c0-6.19-7.82-11.31-18-12.16z"/></svg>
        <span class="icon__fallback-text">
          {%- if customer -%}
            {{ 'layout.customer.account' | t }}
          {%- else -%}
           LOG IN
          {%- endif -%}
        </span>
      </a>
    {%- endif -%}

    {%- if section.settings.header_search_enable -%}
      <a href="{{ routes.search_url }}" class="site-nav__link site-nav__link--icon js-modal-open-search-modal js-no-transition{% if menu_alignment == 'center' or menu_alignment == 'center-split' %} medium-up--hide{% endif %}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64"><path d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/></svg>
        <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span>
      </a>
    {%- endif -%}






</div>

<div class="right-icons">


    {%- if show_selectors -%}
      {%- form 'localization', class: 'multi-selectors site-footer__section', data-disclosure-form: '' -%}
        {%- if locale_selector -%}
          <div class="multi-selectors__item">
            <h2 class="visually-hidden" id="LangHeading">
              {{ 'general.language.dropdown_label' | t }}
            </h2>

            <div class="disclosure" data-disclosure-locale>
              <button type="button" class="faux-select disclosure__toggle" aria-expanded="false" aria-controls="LangList" aria-describedby="LangHeading" data-disclosure-toggle>
                <span class="multi-picker__label">
                  {{ form.current_locale.endonym_name }}
                </span>
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"/></svg>
              </button>
              <ul id="LangList" class="disclosure-list" data-disclosure-list>
                {%- for locale in form.available_locales -%}
                  <li class="disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
                    <a class="disclosure-list__option" href="#" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                      {{ locale.endonym_name }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
              <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input>
            </div>
          </div>
        {%- endif -%}

        {%- if currency_selector -%}
          <div class="multi-selectors__item">
            <h2 class="visually-hidden" id="CurrencyHeading">
              {{ 'general.currency.dropdown_label' | t }}
            </h2>

            <div class="disclosure" data-disclosure-currency>
              <button type="button" class="faux-select disclosure__toggle" aria-expanded="false" aria-controls="CurrencyList" aria-describedby="CurrencyHeading" data-disclosure-toggle>
                {%- if section.settings.show_currency_flags -%}
                  <span class="currency-flag currency-flag--small" data-flag="{{ form.current_currency.iso_code }}" aria-hidden="true"></span>
                {%- endif -%}
                <span class="multi-picker__label">
                  {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                </span>
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"/></svg>
              </button>
              <ul id="CurrencyList" class="disclosure-list" data-disclosure-list>
                {%- for currency in form.available_currencies -%}
                  <li class="disclosure-list__item {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}">
                    <a class="disclosure-list__option" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                      {%- if section.settings.show_currency_flags -%}
                        <span class="currency-flag" data-flag="{{ currency.iso_code }}" aria-hidden="true"></span>
                      {%- endif -%}
                      <span class="multi-picker__label">
                        {{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}
                      </span>
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
              <input type="hidden" name="currency_code" value="{{ form.current_currency.iso_code }}" data-disclosure-input>
            </div>
          </div>
        {%- endif -%}
      {%- endform -%}
    {%- endif -%}


    

        {%- render 'social-icons', social_class: 'footer__social' -%}


</div>


  </div>


</div>
