  
  <script type="text/javascript" src="https://cdn.buyjavy.com/js/cart_loader.js" defer=""></script>
  <!--    ADD AFTER cart_loader    -->
  <script type="text/javascript" src="https://assets.javycoffee.com/js/pixel.js" defer=""></script>
  <meta content="api.buyjavy.com" name="checkout-api-endpoint">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">
  <meta content="shopify-pdp" name="checkout-landing-page-name"> <!-- Landing pages only -->




  <!--  CUSTOM SELECTION / HIGHLIGHT COLOR  -->


      <!--  Responsive Typography  -->



<style>
h2.heading.l {
    font-family: 'Gothampro'!important;
    font-weight: 900!important;
}
</style>


  <style>
.swiper-pagination .swiper-pagination-bullet-active-prev,
.swiper-pagination .swiper-pagination-bullet-active-next,
.swiper-pagination .swiper-pagination-bullet-active-main,
.swiper-pagination .swiper-pagination-bullet {
  margin: 0 2px;
  width: 6px;
  height: 6px;
  background-color: #000;
  opacity: 0.15;
  transition: all 0.5s ease 0.2s !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #c8202f;
  transition: all 0.5s ease 0.2s !important;
  border-radius: 50% !important;
}
.swiper-pagination .swiper-pagination-bullet {
  left: auto !important;
  border-radius: 50% !important;
}
.swiper-pagination {
  width: 100% !important;
}
.free-gifts-section {
  display: none;
}
.free-gifts-section.show_addons {
  display: block;
}
.free-addon-item {
  display: none;
}
.cta-inner {
  padding-bottom: calc(0.6rem + env(safe-area-inset-bottom));
}
.sticky-footer {
  display: none
}
.overflow-hidden {
  overflow: hidden;
}
.card-each.one-time {
    display: none;
}
a.button-yellow.submit-flavors.justify.w-inline-block.disabled .checkout_next {
    display: none;
}
.button-yellow.submit-flavors.justify.disabled {
    background-color: #efefef;
    color: #aaafb6;
    display: flex;
    justify-content: center;
}
.flavor-selector-variant.decaf {
  margin-top: 12px;
}
</style>
  
  
  

  <section id="kit-selector" class="hero-section-s">
    <div class="container _1rem_m">
      <div class="hero-wrapper">
        <div class="w-layout-grid hero-gridd">
          <div id="w-node-_32ca7658-0090-c6a1-4ce5-18d517b37fce-25ca5373" class="hero-block">
            <div class="thumbnail-slider">
              <div id="gallery-swiper" class="gallery-swiper swiper--eager">
                <div class="swiper-wrapper">
                  <div class="swiper-slide hero"><img src="https://cdn.shopify.com/s/files/1/0435/8216/1057/products/coffee__0000_Javy2_6ab1ec40-c6e5-461d-9af2-7191b75f2efe_1800x.jpg?v=1652109596" loading="eager" height="300" alt="" class="cover-image"></div>
                  <div class="swiper-slide hero">
                    <div class="container-hero-top _30-percent">
                      <div class="benefits-blocks">
                        <div class="w-layout-grid grid-14">
                          <div id="w-node-_32ca7658-0090-c6a1-4ce5-18d517b37fd8-25ca5373" class="hero-ico-container"><img src="{{ 'icon-01.svg' | asset_url}}" alt="" class="image-25">
                            <p class="ico-container-text">~60MG OF <br>CAFFEINE PER TSP.<br></p>
                          </div>
                          <div id="w-node-_32ca7658-0090-c6a1-4ce5-18d517b37fdf-25ca5373" class="hero-ico-container"><img src="{{ 'icon-02.svg' | asset_url}}" alt="" class="image-25">
                            <p class="ico-container-text">1-2 TSP. OF JAVY PER 6OZ COFFEE<br></p>
                          </div>
                          <div id="w-node-_32ca7658-0090-c6a1-4ce5-18d517b37fe4-25ca5373" class="hero-ico-container"><img src="{{ 'icon-03.svg' | asset_url}}" alt="" class="image-25">
                            <p class="ico-container-text">IF YOU CAN THINK, YOU CAN MAKE IT<br></p>
                          </div>
                        </div>
                        <div class="div-block-281">
                          <div class="text-block-37">MADE WITH THE FINEST ARABICA COFFEE BEANS</div>
                        </div>
                      </div>
                    </div>
                    <div class="container-hero _65-percent">
                      <div class="rotator-deal-2">
                        <div class="tag-text-4-2">MAKES<br><span class="text-span-41">30</span><br>CUPS</div><img src="{{ 'circular_rotator.svg' | asset_url}}" alt="" class="image-27">
                      </div>
                    </div><img src="{{ 'coffee-liquid.jpg' | asset_url}}" alt="Javy Iced Coffee" data-src="https://assets.website-files.com/6208c69b750659616f609437/6227da0799673cff4a27bdb2_starter-pack.jpg' | asset_url}}" class="cover-image">
                  </div>
                  <div class="swiper-slide hero"><img src="{{ 'javy-table.jpg' | asset_url}}" alt="delicious-coffee" class="cover-image swiper-lazy"></div>
                  <div class="swiper-slide hero">
                    <div class="ingredients-section">
                      <div class="nutrition-full-width">
                        <div class="nutrition-inside">
                          <div class="size-hero">serving size, 1 tsp</div>
                          <div class="top-col-hero">
                            <div class="servings">
                              <div class="top-caf-hero">amount per serving<br></div>
                              <div class="table-caf-text">caffeine (mg)<br></div>
                            </div>
                            <div class="table-caf-number">60<br></div>
                          </div>
                          <div class="nutrition-daily">
                            <div>% daily value*<br></div>
                          </div>
                          <div class="nutrition-hero">
                            <div>calories 0g<br></div>
                            <div class="nutrition-percentage">0%<br></div>
                          </div>
                          <div class="nutrition-hero">
                            <div>fat 0g<br></div>
                            <div class="nutrition-percentage">0%<br></div>
                          </div>
                          <div class="nutrition-hero">
                            <div>sodium 0g<br></div>
                            <div class="nutrition-percentage">0%<br></div>
                          </div>
                          <div class="nutrition-hero">
                            <div>protein 0g<br></div>
                            <div class="nutrition-percentage">0%<br></div>
                          </div>
                        </div>
                      </div>
                    </div><img src="{{ 'coffee-texture.jpg' | asset_url}}" alt="Javy and a Delicious Iced Coffee" class="cover-image swiper-lazy">
                  </div>
                </div>
                <div class="div-block-286">
                  <a href="#" class="slider-right-pdp w-button">Slider Button Right</a>
                </div>
              </div>
              <div class="thumb-swiper-wrapper">
                <div id="thumb-swiper" class="thumb-swiper">
                  <div class="swiper-wrapper thumbnails-list">
                    <div class="swiper-slide thumbnail-item"><img src="{{ 'slider__0003_thumb04_1slider__0003_thumb04.jpg' | asset_url}}" loading="lazy" alt="Thumbnail Slider Image" class="cover-image thumbnail"></div>
                    <div class="swiper-slide thumbnail-item"><img src="{{ 'slider__0005_thumb02_1slider__0005_thumb02.jpg' | asset_url}}" alt="Javy Iced Coffee" data-sizes="[{&quot;max&quot;:991,&quot;size&quot;:&quot;14vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;8vw&quot;}]" class="cover-image thumbnail"></div>
                    <div class="swiper-slide thumbnail-item"><img src="{{ 'slider__0004_thumb03_1slider__0004_thumb03.jpg' | asset_url}}" loading="lazy" alt="Thumbnail Slider Image" class="cover-image thumbnail"></div>
                    <div class="swiper-slide thumbnail-item"><img src="{{ 'slider__0000_thumb07_1slider__0000_thumb07.jpg' | asset_url}}" loading="lazy" alt="Thumbnail Slider Image" class="cover-image thumbnail"></div>
                  </div>
                </div>
                <div class="thumbnail-slider-buttons-wrapper">
                  <div id="thumb-arrow-prev-slide" class="slider-button-left absolute-left"></div>
                  <div id="thumb-arrow-next-slide" class="slider-button-right absolute-right"></div>
                </div>
              </div>
              <div class="marquee-horizontal">
                <div class="marquee-horizontal-css w-embed">
                  <style>
.track-horizontal {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee-horizontal 20s linear infinite;
  /* manipulate the speed of the marquee by changing "40s" line above*/
}
@keyframes marquee-horizontal {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
</style>
                </div>
                <div class="track-horizontal">
                  <div class="marquee-text">⚡️️</div>
                  <div class="marquee-text">🎁 LIMITED TIME SALE: SAVE 60% OFF</div>
                  <div class="marquee-text">⚡️️</div>
                  <div class="marquee-text">TRY JAVY TODAY!<span class="text-span-66"></span></div>
                  <div class="marquee-text">⚡️️</div>
                  <div class="marquee-text">🎁 LIMITED TIME SALE: SAVE 60% OFF</div>
                  <div class="marquee-text">⚡️️</div>
                  <div class="marquee-text">TRY JAVY TODAY!<span class="text-span-66"></span></div>
                </div>
              </div>
            </div>
          </div>
          <div id="hero-cta" class="hero-description w-node-_32ca7658-0090-c6a1-4ce5-18d517b38039-25ca5373">
            <div class="feature-stars hero">
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 14.656L14.8172 16.376L14.0512 13.166L16.5582 11.019L13.2682 10.755L12.0002 7.708V14.656ZM12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="average-rating">17,956+ Trusted customer reviews</div>
            </div>
            <h2 class="heading m s-m-b-0">60% OFF Limited Time Sale!<br></h2>
            <div>
              <div id="influencer__review" class="influencer__review">“Try the fastest, easiest, and most convenient coffee ever for only $10&quot;</div>
            </div>
            <ul role="list" class="influencer-list mt15 w-list-unstyled">
              <li class="icon-list-item">
                <div class="feature-wrap">
                  <div class="checkmark w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM11.003 16L18.073 8.929L16.659 7.515L11.003 13.172L8.174 10.343L6.76 11.757L11.003 16Z" fill="currentColor"></path>
                    </svg>
                  </div>
                  <div class="feature-text">Perfect cold brew in 3 seconds<strong><br></strong></div>
                </div>
              </li>
              <li class="icon-list-item">
                <div class="feature-wrap">
                  <div class="checkmark w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM11.003 16L18.073 8.929L16.659 7.515L11.003 13.172L8.174 10.343L6.76 11.757L11.003 16Z" fill="currentColor"></path>
                    </svg>
                  </div>
                  <div class="feature-text">Makes any style of coffee you want (hot or iced)<strong><br></strong></div>
                </div>
              </li>
              <li class="icon-list-item">
                <div class="feature-wrap">
                  <div class="checkmark w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM11.003 16L18.073 8.929L16.659 7.515L11.003 13.172L8.174 10.343L6.76 11.757L11.003 16Z" fill="currentColor"></path>
                    </svg>
                  </div>
                  <div class="feature-text">1 bottle = 30 servings<strong><br></strong></div>
                  
                </div>
              </li>
                            <li class="icon-list-item">
                <div class="feature-wrap">
                  <div class="checkmark w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM11.003 16L18.073 8.929L16.659 7.515L11.003 13.172L8.174 10.343L6.76 11.757L11.003 16Z" fill="currentColor"></path>
                    </svg>
                  </div>
                  <div class="feature-text">Only $1/day<strong><br></strong></div>
                  
                </div>
              </li>
              
              
            </ul>
            
            
            

            
            
            <a href="https://drink-javy.myshopify.com/cart/clear?return_to=/cart/add?items[0][id]=41916572139681%26items[0][quantity]=1%26items[0][selling_plan]=1099989153%26return_to=/checkout" class="btn btn--full" target="_blank">
     
              START TRIAL FOR ONLY $10 →

    </a>
            
            
            
          
          
          
          </div>
          
          
          
          
        </div>
      </div>
    </div>
  </section>
  <div class="section-3">
    <div class="inner-container as_seen">
      <div class="divider-wrap payment-method">
        <div class="grey-line-2"></div>
        <div class="sign-up-text-4">AS SEEN ON</div>
        <div class="grey-line-2"></div>
      </div>
      <div class="bottom-content">
        <div class="logo-wrapper"><img src="{{ 'usa-today.svg' | asset_url}}" alt="" class="company-logo-2"><img src="{{ 'cbs-news.svg' | asset_url}}" alt="" class="company-logo-2"><img src="{{ 'fox.svg' | asset_url}}" alt="" class="company-logo-2"><img src="{{ 'nbc-03.svg' | asset_url}}" alt="" class="company-logo-2"></div>
      </div>
    </div>
  </div>
  <div class="section bg-primary-3">
    <div class="container">
      <div class="wrapper-m">
        <div class="section-title centered">
          <div class="div-block-294"><img src="{{ 'drop.svg' | asset_url}}" loading="lazy" alt="" class="r_drop-2"><img src="{{ 'rotator.svg' | asset_url}}" loading="lazy" alt="" class="r_drop_rotator rotating"></div>
          <div class="tagline">QUICK &amp; EASY</div>
          <h2 class="heading l">Coffee Has Never Been This Convenient</h2>
          <p class="body-text m">The future of coffee is better tasting, hassle-free, and ready to make - anywhere and anytime.</p>
        </div>
        <div class="before-after">
          <div class="w-layout-grid grid-4">
            <div class="bacteria---dirty">
              <div class="video-container">
                <div class="video_embeds load-instant w-embed"><video playsinline="" autoplay="" muted="" loop="" poster="https://assets.javycoffee.com/videos/javy-bad-01.jpg">
                    <source src="https://assets.javycoffee.com/videos/javy-bad-01.mp4" type="video/mp4">
                  </video></div>
              </div>
              <div class="comparison-card">
                <h3 class="steps">The Before</h3>
                <p class="body-text m s-m-b-12"><strong>Gross coffee, messy k-cups, and expensive costs.</strong><br></p>
                <ul role="list" class="list w-list-unstyled">
                  <li class="icon-list-item">
                    <div class="feature-wrap">
                      <div class="checkmark red w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM12 10.586L9.172 7.757L7.757 9.172L10.586 12L7.757 14.828L9.172 16.243L12 13.414L14.828 16.243L16.243 14.828L13.414 12L16.243 9.172L14.828 7.757L12 10.586Z" fill="currentColor"></path>
                        </svg>
                      </div>
                      <div class="feature-text">Bland, Bitter, or Acidic<strong><br></strong></div>
                    </div>
                  </li>
                  <li class="icon-list-item">
                    <div class="feature-wrap">
                      <div class="checkmark red w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM12 10.586L9.172 7.757L7.757 9.172L10.586 12L7.757 14.828L9.172 16.243L12 13.414L14.828 16.243L16.243 14.828L13.414 12L16.243 9.172L14.828 7.757L12 10.586Z" fill="currentColor"></path>
                        </svg>
                      </div>
                      <div class="feature-text">Limited Coffee Selection<strong><br></strong></div>
                    </div>
                  </li>
                  <li class="icon-list-item">
                    <div class="feature-wrap">
                      <div class="checkmark red w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM12 10.586L9.172 7.757L7.757 9.172L10.586 12L7.757 14.828L9.172 16.243L12 13.414L14.828 16.243L16.243 14.828L13.414 12L16.243 9.172L14.828 7.757L12 10.586Z" fill="currentColor"></path>
                        </svg>
                      </div>
                      <div class="feature-text">1-2 Hour Iced Coffee<strong><br></strong></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="javy---clean">
              <div class="video-container right">
                <div class="video_embeds load-instant w-embed"><video playsinline="" autoplay="" muted="" loop="" poster="https://assets.javycoffee.com/videos/javy-good.jpg">
                    <source src="https://assets.javycoffee.com/videos/javy-good.mp4" type="video/mp4">
                  </video></div>
              </div>
              <div class="comparison-card">
                <h3 class="steps">The After</h3>
                <p class="body-text m s-m-b-12"><strong>Easy, affordable, and extremely tasty coffee!</strong><br></p>
                <ul role="list" class="list w-list-unstyled">
                  <li class="icon-list-item">
                    <div class="feature-wrap">
                      <div class="checkmark w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM11.003 16L18.073 8.929L16.659 7.515L11.003 13.172L8.174 10.343L6.76 11.757L11.003 16Z" fill="currentColor"></path>
                        </svg>
                      </div>
                      <div class="feature-text">Delicious Silky Smooth Flavor<strong><br></strong></div>
                    </div>
                  </li>
                  <li class="icon-list-item">
                    <div class="feature-wrap">
                      <div class="checkmark w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM11.003 16L18.073 8.929L16.659 7.515L11.003 13.172L8.174 10.343L6.76 11.757L11.003 16Z" fill="currentColor"></path>
                        </svg>
                      </div>
                      <div class="feature-text">Endless Styles of Coffee<strong><br></strong></div>
                    </div>
                  </li>
                  <li class="icon-list-item">
                    <div class="feature-wrap">
                      <div class="checkmark w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12C22 17.523 17.523 22 12 22ZM11.003 16L18.073 8.929L16.659 7.515L11.003 13.172L8.174 10.343L6.76 11.757L11.003 16Z" fill="currentColor"></path>
                        </svg>
                      </div>
                      <div class="feature-text">Iced Coffee in Under 10 Seconds<strong><br></strong></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-steps">
    <div class="container max-width-medium">
      <div class="wrapper-m">
        <div class="section-title centered mb0">
          <div class="tagline">PURE COFFEE</div>
          <h2 class="heading l">Craft The Most Delicious Coffee...</h2>
          <p class="body-text m">Making delicious coffee at home or on-the-go has only become more of a hassle. Javy reinvented the coffee experience to be easy, affordable, and extremely tasty!</p>
        </div>
        <div class="full-width-slider">
          <div class="previous-after-modules">
            <a href="#" class="previous-step w-inline-block"></a>
            <a href="#" class="next-step w-inline-block"></a>
          </div>
          <div class="swiper-pagination"></div>
          <div id="slider-steps" class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="div-block-289">
                  <div class="video_embeds w-embed"><video playsinline="" autoplay="" muted="" loop="" poster="https://assets.javycoffee.com/videos/step_01.jpg">
                      <source src="https://assets.javycoffee.com/videos/step_01.mp4" type="video/mp4">
                    </video></div>
                  <h3 class="steps">Step 1</h3>
                  <p class="p-steps">Fill your mug with milk or water.<br></p>
                  <div class="recommend"><img src="{{ 'delicious.svg' | asset_url}}" loading="lazy" alt="" class="suggestion-icon">
                    <p class="recommends">We suggest Oatmilk.<br></p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="div-block-289">
                  <div class="video_embeds w-embed"><video playsinline="" autoplay="" muted="" loop="" poster="https://assets.javycoffee.com/videos/step_02.jpg">
                      <source src="https://assets.javycoffee.com/videos/step_02.mp4" type="video/mp4">
                    </video></div>
                  <h3 class="steps">Step 2</h3>
                  <p class="p-steps">Drop 1-2 tsp of Javy into the water or milk.<br></p>
                  <div class="recommend">
                    <p class="recommends">1-2 tsp&#x27;s for 6oz, 1 tbsp for 8oz<br></p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="div-block-289">
                  <div class="video_embeds w-embed"><video playsinline="" autoplay="" muted="" loop="" poster="https://assets.javycoffee.com/videos/step_03.jpg">
                      <source src="https://assets.javycoffee.com/videos/step_03.mp4" type="video/mp4">
                    </video></div>
                  <h3 class="steps">Step 3</h3>
                  <p class="p-steps">Add your favorite creamer, flavoring or topping.<br></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="w-layout-grid full-width-grid">
      <div class="benefits-left">
        <div class="benefits-sticky">
          <div class="div-block-278">
            <div class="text-sliders bg-primary-3">
              <div class="w-layout-grid new-grid white">
                <div id="w-node-_3e49b139-a066-ba6d-8300-0700862c0a5a-862c0a54" class="ico_block"><img loading="lazy" src="{{ 'sugar-free.svg' | asset_url}}" alt="" class="feature-icon-2 invert">
                  <div class="icon-feature">SUGAR FREE</div>
                </div>
                <div class="ico_block"><img loading="lazy" src="{{ 'dairy-free.svg' | asset_url}}" alt="" class="feature-icon-2 invert">
                  <div class="icon-feature">DAIRY FREE</div>
                </div>
                <div class="ico_block"><img loading="lazy" src="{{ 'non-gmo.svg' | asset_url}}" alt="" class="feature-icon-2 invert">
                  <div class="icon-feature">NON-GMO</div>
                </div>
                <div class="ico_block"><img loading="lazy" src="{{ 'gluten-free.svg' | asset_url}}" alt="" class="feature-icon-2 invert">
                  <div class="icon-feature">GLUTEN FREE</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="benefits-right">
        <div class="benefits-content">
          <div class="section-title full">
            <div class="tagline">QUICK &amp; EASY</div>
            <h2 class="heading l">The Coffee Experience Reimagined</h2>
            <p class="body-text m">Incredible tasting coffee is now at your finger tips with unlimited possibilities.<br></p>
          </div>
          <div class="benefits-grid">
            <div>
              <div class="video_embeds w-embed"><video playsinline="" autoplay="" muted="" loop="" poster="https://assets.javycoffee.com/videos/quick-easy.jpg">
                  <source src="https://assets.javycoffee.com/videos/quick-easy.mp4" type="video/mp4">
                </video></div>
              <div class="feature-content-wrapper left">
                <div class="tagline s-m-b-8">REASON #1<br></div>
                <h3 class="heading s">Quick and Easy<br></h3>
                <p class="body-text m">By dropping 1-2 teaspoons of Javy into water or milk you&#x27;re just seconds away from drinking delicious coffee anyway you like it.<br></p>
              </div>
            </div>
            <div>
              <div class="video_embeds w-embed"><video playsinline="" autoplay="" muted="" loop="" poster="https://assets.javycoffee.com/videos/shake-up.jpg">
                  <source src="https://assets.javycoffee.com/videos/shake-up.mp4" type="video/mp4">
                </video></div>
              <div class="feature-content-wrapper left">
                <div class="tagline s-m-b-8">REASON #2<br></div>
                <h3 class="heading s">Shake Up Your Day</h3>
                <p class="body-text m">Javy&#x27;s purpose is to optimize your day and that includes fueling your health goals while saving you time an money.</p>
              </div>
            </div>
            <div>
              <div class="video_embeds w-embed"><video playsinline="" autoplay="" muted="" loop="" poster="https://assets.javycoffee.com/videos/no-limits.jpg">
                  <source src="https://assets.javycoffee.com/videos/no-limits.mp4" type="video/mp4">
                </video></div>
              <div class="feature-content-wrapper left">
                <div class="tagline s-m-b-8">REASON #3<br></div>
                <h3 class="heading s">No Limits</h3>
                <p class="body-text m">If you want a hot black coffee one day or a sweet, creamy, iced coffee the next day, you can have it anyway you like it in literally seconds.<br></p>
                <p class="body-text m">Be creative, be simple, take it on the go, or make it right at home, have it how you want it when you want it!<br></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews-section bg-primary-3">
    <div class="container">
      <div class="wrapper-m">
        <div class="text-wrapper centered">
          <div class="tagline"><strong>#1 CHOICE FOR ICED COFFEE THIS SUMMER</strong><br></div>
          <h2 class="heading l">Thousands of Raving Fans</h2>
        </div>
        <div id="w-node-b2d53c6a-4990-f0a9-4a88-196154f4edfe-54f4edf6" class="average-ratings">
          <div class="feature-list-stars">
            <div class="feature-title">
              <div class="title-for-feature">Cafffeine Amount</div>
            </div>
            <div class="feature-stars">
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 14.656L14.8172 16.376L14.0512 13.166L16.5582 11.019L13.2682 10.755L12.0002 7.708V14.656ZM12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="average-rating">4.7</div>
            </div>
          </div>
          <div class="feature-list-stars">
            <div class="feature-title">
              <div class="title-for-feature">Convenience</div>
            </div>
            <div class="feature-stars">
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 14.656L14.8172 16.376L14.0512 13.166L16.5582 11.019L13.2682 10.755L12.0002 7.708V14.656ZM12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="average-rating">4.9</div>
            </div>
          </div>
          <div class="feature-list-stars">
            <div class="feature-title">
              <div class="title-for-feature">Easy To Use</div>
            </div>
            <div class="feature-stars">
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 14.656L14.8172 16.376L14.0512 13.166L16.5582 11.019L13.2682 10.755L12.0002 7.708V14.656ZM12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="average-rating">4.7</div>
            </div>
          </div>
          <div class="feature-list-stars">
            <div class="feature-title">
              <div class="title-for-feature">Flavor Profile</div>
            </div>
            <div class="feature-stars">
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 14.656L14.8172 16.376L14.0512 13.166L16.5582 11.019L13.2682 10.755L12.0002 7.708V14.656ZM12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="average-rating">4.5</div>
            </div>
          </div>
          <div class="feature-list-stars last-child">
            <div class="feature-title">
              <div class="title-for-feature">Value for Money</div>
            </div>
            <div class="feature-stars">
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="star-reviews w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 14.656L14.8172 16.376L14.0512 13.166L16.5582 11.019L13.2682 10.755L12.0002 7.708V14.656ZM12.0002 17L6.12223 20.59L7.72023 13.89L2.49023 9.41L9.35523 8.86L12.0002 2.5L14.6452 8.86L21.5112 9.41L16.2802 13.89L17.8782 20.59L12.0002 17Z" fill="currentColor"></path>
                </svg>
              </div>
              <div class="average-rating">4.6</div>
            </div>
          </div>
        </div>
        <div class="reviews-list">
          <div class="review-card">
            <div class="review-item-image-wrapper"><img src="{{ 'ltf__0002_5.jpg' | asset_url}}" loading="lazy" alt="" class="review-person lozad"></div>
            <div class="review-info">
              <div class="list-block-1-info-sc">
                <div class="rating-block"><img src="{{ 'rating-stars.svg' | asset_url}}" loading="lazy" alt=""></div>
                <div class="avatar-name-2">Dixie D.</div>
              </div>
              <p class="review-text">Cannot say anything but how great the customer service is for Javy Coffee!! I ordered wrong they responded quickly,refunded me and corrected the order. Looking forward to receiving my Javy Coffee.</p>
              <div class="verified-2">
                <div class="text-block-50">Posted on</div><img src="{{ 'trustpilot.svg' | asset_url}}" loading="lazy" alt="" class="review-shield-2">
              </div>
            </div>
          </div>
          <div class="review-card">
            <div class="review-item-image-wrapper"><img src="{{ 'ltf__0001_05.jpg' | asset_url}}" loading="lazy" alt="" class="review-person lozad"></div>
            <div class="review-info">
              <div class="list-block-1-info-sc">
                <div class="rating-block"><img src="{{ 'rating-stars.svg' | asset_url}}" loading="lazy" alt=""></div>
                <div class="avatar-name-2">Mitzie S.</div>
              </div>
              <p class="review-text">I absolutely LOVE this coffee. Convenience and taste is amazing! I&#x27;m not going back to any store, I&#x27;m definitely ordering from Javy from now on!</p>
              <div class="verified-2">
                <div class="text-block-50">Posted on</div><img src="{{ 'trustpilot.svg' | asset_url}}" loading="lazy" alt="" class="review-shield-2">
              </div>
            </div>
          </div>
          <div class="review-card">
            <div class="review-item-image-wrapper"><img src="{{ 'ltf__0004_02.jpg' | asset_url}}" loading="lazy" alt="" class="review-person lozad"></div>
            <div class="review-info">
              <div class="list-block-1-info-sc">
                <div class="rating-block"><img src="{{ 'rating-stars.svg' | asset_url}}" loading="lazy" alt=""></div>
                <div class="avatar-name-2">Shea S.</div>
              </div>
              <p class="review-text">I honestly don&#x27;t have the words to tell you how much I love Javy! I ordered it spur of the moment and honestly, I kinda forgot about it.... Until it showed up at the door and into my bellyyyyyyy. It&#x27;s absolutely delicious. Drink up, pup. Only if you&#x27;re worthy.</p>
              <div class="verified-2">
                <div class="text-block-50">Posted on</div><img src="{{ 'trustpilot.svg' | asset_url}}" loading="lazy" alt="" class="review-shield-2">
              </div>
            </div>
          </div>
          <div class="review-card">
            <div class="review-item-image-wrapper"><img src="{{ 'ltf__0003_03.jpg' | asset_url}}" loading="lazy" alt="" class="review-person lozad"></div>
            <div class="review-info">
              <div class="list-block-1-info-sc">
                <div class="rating-block"><img src="{{ 'rating-stars.svg' | asset_url}}" loading="lazy" alt=""></div>
                <div class="avatar-name-2">Christa F.</div>
              </div>
              <p class="review-text">I love Javy. The taste is great and it saves me a ton of money not buying my coffee everyday. It is so easy to make delicious iced coffee and takes less than 2 minutes in the mornings.</p>
              <div class="verified-2">
                <div class="text-block-50">Posted on</div><img src="{{ 'trustpilot.svg' | asset_url}}" loading="lazy" alt="" class="review-shield-2">
              </div>
            </div>
          </div>
          <div class="review-card">
            <div class="review-item-image-wrapper"><img src="{{ 'ltf__0005_01.jpg' | asset_url}}" loading="lazy" alt="" class="review-person lozad"></div>
            <div class="review-info">
              <div class="list-block-1-info-sc">
                <div class="rating-block"><img src="{{ 'rating-stars.svg' | asset_url}}" loading="lazy" alt=""></div>
                <div class="avatar-name-2">Niece G.</div>
              </div>
              <p class="review-text">Great taste!!! Easy to make. Quick shipping. I actually had a shipping issue with the post office. I emailed support and it was taken care of.</p>
              <div class="verified-2">
                <div class="text-block-50">Posted on</div><img src="{{ 'trustpilot.svg' | asset_url}}" loading="lazy" alt="" class="review-shield-2">
              </div>
            </div>
          </div>
          <div class="review-card">
            <div class="review-item-image-wrapper"><img src="{{ 'ltf__0000_06.jpg' | asset_url}}" loading="lazy" alt="" class="review-person lozad"></div>
            <div class="review-info">
              <div class="list-block-1-info-sc">
                <div class="rating-block"><img src="{{ 'rating-stars.svg' | asset_url}}" loading="lazy" alt=""></div>
                <div class="avatar-name-2">Sarah P.</div>
              </div>
              <p class="review-text">This became our family bonding every morning, with Javy Coffee it always sets our mood with high energy that you can keep all day specially if you have a lot of errands.</p>
              <div class="verified-2">
                <div class="text-block-50">Posted on</div><img src="{{ 'trustpilot.svg' | asset_url}}" loading="lazy" alt="" class="review-shield-2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="wrapper-m">
        <div class="w-layout-grid grid-ingredients">
          <div id="w-node-_3d18c171-3431-9246-ac9a-666fb2aa7d53-b2aa7d51"><img src="{{ 'pic-lp.jpg' | asset_url}}" loading="lazy" alt="" class="image-38">
            <p class="body-text"><strong>Our high-grown 100% Arabica Coffee beans are meticulously roasted, crushed, and infused with the purest water.</strong><br></p>
            <div class="accordion">
              <div class="accordion__item first_chilkd">
                <div class="accordion__title">
                  <div class="faq-item">Extraction Process</div>
                  <div class="icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.0002 13.1719L16.9502 8.22192L18.3642 9.63592L12.0002 15.9999L5.63623 9.63592L7.05023 8.22192L12.0002 13.1719Z" fill="currentColor"></path>
                    </svg>
                  </div>
                </div>
                <article class="accordion__content">
                  <p class="body-text s s-m-b-12">The extraction process is not only fundamental to retaining an extremely high flavor profile but it also eliminates any coffee grounds or sediment from ending up in the concentrate, unlike other concentrates on the market.<br></p>
                  <p class="body-text s s-m-b-12">Unlike traditional coffee grounds, our liquid concentrate process goes through rigorous QA to ensure its above standard healthy and safety regulations.<br></p>
                </article>
              </div>
              <div class="accordion__item">
                <div class="accordion__title">
                  <div class="faq-item">Quality, Consistency and Value</div>
                  <div class="icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.0002 13.1719L16.9502 8.22192L18.3642 9.63592L12.0002 15.9999L5.63623 9.63592L7.05023 8.22192L12.0002 13.1719Z" fill="currentColor"></path>
                    </svg>
                  </div>
                </div>
                <article class="accordion__content">
                  <p class="body-text s s-m-b-12">Most of what we do is geared towards the quality of the coffee, consistency and value.  As such, this means that the farmers who supply our coffee are hitting all the main points to make the products we have outstanding.<br></p>
                </article>
              </div>
              <div class="accordion__item">
                <div class="accordion__title">
                  <div class="faq-item">Crafted Sustainably</div>
                  <div class="icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.0002 13.1719L16.9502 8.22192L18.3642 9.63592L12.0002 15.9999L5.63623 9.63592L7.05023 8.22192L12.0002 13.1719Z" fill="currentColor"></path>
                    </svg>
                  </div>
                </div>
                <article class="accordion__content">
                  <p class="body-text s s-m-b-12">Our coffee is sourced from Central America and Colombia. 100% Arabica bean, estate grown in high elevation specialty coffee grade.<br></p>
                  <p class="body-text s s-m-b-12">Our magic combination of thermal blends allows us to roast the beans to concentrated perfection while retaining flavor all without burning them.<br></p>
                  <p class="body-text s s-m-b-12">Javy supports farmers who focus on producing quality and value. Javy has created a sustainable coffee supply chain that delivers premium solutions to everyone from crop to cup.<br></p>
                </article>
              </div>
            </div>
          </div>
          <div id="w-node-_3d18c171-3431-9246-ac9a-666fb2aa7daf-b2aa7d51">
            <div bind="1059b31c-0028-0be2-f711-a00d748e10bc" class="nutrition">
              <div class="nutrition-content">
                <div class="text-block-34">serving size, 1 tsp</div>
                <div class="top-col">
                  <div class="servings">
                    <div class="top-caf">amount per serving<br></div>
                    <div class="table-caf">caffeine (mg)<br></div>
                  </div>
                  <div class="table-caf number">60<br></div>
                </div>
                <div class="nutrition-daily">
                  <div>% daily value*<br></div>
                </div>
                <div class="nutrition-col">
                  <div>calories 0g<br></div>
                  <div class="nutrition-percentage">0%<br></div>
                </div>
                <div class="nutrition-col">
                  <div>fat 0g<br></div>
                  <div class="nutrition-percentage">0%<br></div>
                </div>
                <div class="nutrition-col">
                  <div>sodium 0g<br></div>
                  <div class="nutrition-percentage">0%<br></div>
                </div>
                <div class="nutrition-col">
                  <div>protein 0g<br></div>
                  <div class="nutrition-percentage">0%<br></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

  <div class="section">
    <div class="container">
      <div class="wrapper-m">
        <div class="text-wrapper centered">
          <div class="tagline">NEED HELP?</div>
          <h2 class="heading l">Frequently Asked<br>Questions</h2>
          <p class="body-text m">You got questions. We got answers.<strong><br></strong></p>
        </div>
        <div class="accordion faws">
          <div class="accordion__item">
            <div class="accordion__title">
              <div class="faq-item">What Is A Coffee Concentrate?</div>
              <div class="icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 13.1719L16.9502 8.22192L18.3642 9.63592L12.0002 15.9999L5.63623 9.63592L7.05023 8.22192L12.0002 13.1719Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <article class="accordion__content">
              <p class="body-text s s-m-b-12">Coffee concentrate is exactly what it sounds like concentrated coffee. Javy turns coffee beans into ground and then puts it through a slow extraction process using cold water.<br></p>
            </article>
          </div>
          <div class="accordion__item">
            <div class="accordion__title">
              <div class="faq-item">What Is Javy&#x27;s 30x Coffee Concentrate?</div>
              <div class="icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 13.1719L16.9502 8.22192L18.3642 9.63592L12.0002 15.9999L5.63623 9.63592L7.05023 8.22192L12.0002 13.1719Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <article class="accordion__content">
              <p class="body-text s s-m-b-12">Javy is a specialty, highly concentrated coffee, that packs all the flavor of artisan roasted beans into a nifty little bottle. So now you can make any style of coffee you want with ease.<br></p>
            </article>
          </div>
          <div class="accordion__item">
            <div class="accordion__title">
              <div class="faq-item">What Is The Concept Behind Javy?</div>
              <div class="icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 13.1719L16.9502 8.22192L18.3642 9.63592L12.0002 15.9999L5.63623 9.63592L7.05023 8.22192L12.0002 13.1719Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <article class="accordion__content">
              <p class="body-text s s-m-b-12">Our goal is to provide you a convenient, quick and easy alternative to bulky coffee brewing equipment, messy leftover grounds, and gross instant coffees. With Javy there’s no need for long prep and brewing time anymore. Simply pour in a drop or two of our tasty concentrate, and you’re good-to-go!<br></p>
            </article>
          </div>
          <div class="accordion__item">
            <div class="accordion__title">
              <div class="faq-item">What Is Javy Made Up Of?</div>
              <div class="icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 13.1719L16.9502 8.22192L18.3642 9.63592L12.0002 15.9999L5.63623 9.63592L7.05023 8.22192L12.0002 13.1719Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <article class="accordion__content">
              <p class="body-text s s-m-b-12">Javy is made up of 100% natural arabica beans and the purest water.<br></p>
            </article>
          </div>
          <div class="accordion__item">
            <div class="accordion__title">
              <div class="faq-item">Subscriptions Questions</div>
              <div class="icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 13.1719L16.9502 8.22192L18.3642 9.63592L12.0002 15.9999L5.63623 9.63592L7.05023 8.22192L12.0002 13.1719Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <article class="accordion__content">
              <p class="body-text s s-m-b-12">Our Javy Club Subscription not only ensures you do not run out but also helps you save money. The subscription is very flexible and can be modified, skipped or canceled depending on your needs.<br><br>All you need to do is email in at <a target="_blank" href="mailto:support@jaycoffee.com">support@jaycoffee.com</a> and one of our support representatives will be able to assist you in a timely manner.<br><br>We request you to contact us at least <strong>3 days</strong> before the date of your next charge.<br><br>If your subscription order has been placed and fulfilled, we are no longer able to cancel, refund or modify the order.<br><br>If you choose to not keep the product you can request a <strong>self-paid return label</strong>. Once the order is received back at our warehouse it will be processed by our Returns Department. This process can take up to two business days.<br><br>Once your order is processed, you will be refunded the <strong>subtotal</strong> of your order. Please note, your original shipping charge will not be refunded.<br></p>
            </article>
          </div>
          <div class="accordion__item">
            <div class="accordion__title">
              <div class="faq-item">Do You Sell At Stores?</div>
              <div class="icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 13.1719L16.9502 8.22192L18.3642 9.63592L12.0002 15.9999L5.63623 9.63592L7.05023 8.22192L12.0002 13.1719Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <article class="accordion__content">
              <p class="body-text s s-m-b-12">No, Javy is not sold at stores.<br></p>
            </article>
          </div>
          <div class="accordion__item">
            <div class="accordion__title">
              <div class="faq-item">How Environmentally Friendly Are You?</div>
              <div class="icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 13.1719L16.9502 8.22192L18.3642 9.63592L12.0002 15.9999L5.63623 9.63592L7.05023 8.22192L12.0002 13.1719Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <article class="accordion__content">
              <p class="body-text s s-m-b-12">All of our coffee beans are sourced from small reliable farmers to maintain a consistent flavor profile. It’s estimated that 2.5 billion single-use coffee cups are discarded globally every year. Our bottles are made of a premium glass material so that we can play our role in reducing coffee waste! It is also a focus of ours to compost all of our coffee grounds.<br></p>
            </article>
          </div>
          <div class="accordion__item">
            <div class="accordion__title">
              <div class="faq-item">How Many Cups Does 1 Bottle Make?</div>
              <div class="icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 13.1719L16.9502 8.22192L18.3642 9.63592L12.0002 15.9999L5.63623 9.63592L7.05023 8.22192L12.0002 13.1719Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <article class="accordion__content">
              <p class="body-text s s-m-b-12">You can make up to 30 standard 6oz cups with 1 bottle of Javy.<br></p>
            </article>
          </div>
          <div class="accordion__item">
            <div class="accordion__title">
              <div class="faq-item">What Is The Size Of The Bottle?</div>
              <div class="icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 13.1719L16.9502 8.22192L18.3642 9.63592L12.0002 15.9999L5.63623 9.63592L7.05023 8.22192L12.0002 13.1719Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <article class="accordion__content">
              <p class="body-text s s-m-b-12">It is a 7.5oz/221.80ml bottle<br></p>
            </article>
          </div>
          <div class="accordion__item">
            <div class="accordion__title">
              <div class="faq-item">What Is The Caffeine Content In A Serving?</div>
              <div class="icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 13.1719L16.9502 8.22192L18.3642 9.63592L12.0002 15.9999L5.63623 9.63592L7.05023 8.22192L12.0002 13.1719Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <article class="accordion__content">
              <p class="body-text s s-m-b-12">1 serving (1 tsp) has the same amount of caffeine as a typical cup of coffee which is 60mg.<br></p>
            </article>
          </div>
          <div class="accordion__item">
            <div class="accordion__title">
              <div class="faq-item">What Is The Shelf Life Of A Bottle?</div>
              <div class="icon w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.0002 13.1719L16.9502 8.22192L18.3642 9.63592L12.0002 15.9999L5.63623 9.63592L7.05023 8.22192L12.0002 13.1719Z" fill="currentColor"></path>
                </svg>
              </div>
            </div>
            <article class="accordion__content">
              <p class="body-text s s-m-b-12">An unopened bottle is good to be used within 6 months. Once opened refrigerate and its best used within 4-6 weeks.<br></p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  
  
  
  
  <div class="custom-code---bundles div-block-316">
    <div class="header-scripts w-embed">
      <style>
video {
width: 100%;
border-radius:6px;
}
.accordion__title.active .material-icons.arrow-down {
    transform: rotate(180deg);
}
.accordion__content {
display: none;
}
.accordion__content.active {
display: block;
}
.video_embeds.w-embed.w-iframe {
    width: 100%!important;
    border-radius: 0.5rem!important;
    overflow: hidden!important;
    z-index: -1;
}
.data-duration {
display:none
}
</style>
    </div>
  </div>
  <div data-w-id="9ab08efe-6e95-3f90-1645-2ea463543e19" class="javy-club-savings">
    <div class="modal-base-large">
      <div class="modal-title-wrapper">
        <div class="upgrade-coffee bolder">Javy Club Savings</div>
        <a href="#" class="close-link-right w-inline-block">
          <div data-w-id="9ab08efe-6e95-3f90-1645-2ea463543e1f" class="icon-regular club-popup-close w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.0002 10.586L16.9502 5.63599L18.3642 7.04999L13.4142 12L18.3642 16.95L16.9502 18.364L12.0002 13.414L7.05023 18.364L5.63623 16.95L10.5862 12L5.63623 7.04999L7.05023 5.63599L12.0002 10.586Z" fill="currentColor"></path>
            </svg>
          </div>
        </a>
      </div>
      <p class="body-text s"><strong>Like a coffee club, but better.</strong> Get Javy delivered to your door monthly. Dollars will be saved, fun will be had. Easy to Cancel.</p>
      <div class="line-regular"></div>
      <div id="w-node-_9ab08efe-6e95-3f90-1645-2ea463543e25-63543e19" class="modal-radio-wrapper">
        <div class="savings-feature">
          <div class="checkmark w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.0002 15.172L19.1922 5.979L20.6072 7.393L10.0002 18L3.63623 11.636L5.05023 10.222L10.0002 15.172Z" fill="currentColor"></path>
            </svg>
          </div>
          <p><strong>Big savings</strong></p>
        </div>
        <div class="savings-feature">
          <div class="checkmark w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.0002 15.172L19.1922 5.979L20.6072 7.393L10.0002 18L3.63623 11.636L5.05023 10.222L10.0002 15.172Z" fill="currentColor"></path>
            </svg>
          </div>
          <p><strong>Free preferred shipping</strong></p>
        </div>
        <div class="savings-feature">
          <div class="checkmark w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.0002 15.172L19.1922 5.979L20.6072 7.393L10.0002 18L3.63623 11.636L5.05023 10.222L10.0002 15.172Z" fill="currentColor"></path>
            </svg>
          </div>
          <p><strong>Exclusive content &amp;  recipes</strong></p>
        </div>
        <div class="savings-feature">
          <div class="checkmark w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.0002 15.172L19.1922 5.979L20.6072 7.393L10.0002 18L3.63623 11.636L5.05023 10.222L10.0002 15.172Z" fill="currentColor"></path>
            </svg>
          </div>
          <p><strong>Limited time release products</strong></p>
        </div>
        <div class="savings-feature">
          <div class="checkmark w-embed"><svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.0002 15.172L19.1922 5.979L20.6072 7.393L10.0002 18L3.63623 11.636L5.05023 10.222L10.0002 15.172Z" fill="currentColor"></path>
            </svg>
          </div>
          <p><strong>Cancel at anytime</strong></p>
        </div>
      </div>
      <div class="line-regular"></div>
      <div class="modal-wrapper-right">
        <a href="#" data-w-id="9ab08efe-6e95-3f90-1645-2ea463543e41" class="button-fluid club-popup-close w-button">SHOP NOW</a>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6268a718a9cc3d6036ca528a" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  {% comment %} <script src="js/shopify-pdp.js" type="text/javascript"></script> {% endcomment %}
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <!--  Google Tag Manager (noscript)  -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRXRWWJ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!--  End Google Tag Manager (noscript)  -->
  <style>
  *:focus:not(:focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}
  div#bottle-selector:focus {
    outline: none!important;
}
</style>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js" defer=""></script>
  <script src="https://assets.javycoffee.com/js/sliders-lp.js" defer=""></script>
  <script src="https://assets.javycoffee.com/js/accordion.js" defer=""></script>

<script>
const variants = {
  subscription: {
    1: {
      original: 41908852097185,
      caramel: 41908852195489,
      vanilla: 41908852129953,
      pumpkin: 41411703341217,
      mocha: 41908852162721,
      decaf: 41908852129953
    },
    2: {
      original: 41908852261025,
      caramel: 41908852359329,
      vanilla: 41908852293793,
      pumpkin: 41411705602209,
      mocha: 41908852326561,
      decaf: 41908852392097
    },
    3: {
      original: 41908852424865,
      caramel: 41908852523169,
      vanilla: 41908852457633,
      pumpkin: 41411707928737,
      mocha: 41908852490401,
      decaf: 41908852555937
    },
    4: {
      original: 41908852588705,
      caramel: 41908852687009,
      vanilla: 41908852621473,
      pumpkin: 41411710451873,
      mocha: 41908852654241,
      decaf: 41908852719777
    },
    5: {
      original: 41746546917537,
      caramel: 41746546950305,
      vanilla: 41746546983073,
      pumpkin: 41746547015841,
      mocha: 41746547048609,
      decaf: 41746547081377,
    },
    6: {
      original: 41801876537505,
      caramel: 41801876570273,
      vanilla: 41801876603041,
      pumpkin: 41801876635809,
      mocha: 41801876668577,
      decaf: 41801876701345,
    },
  },
  one_time: {
    1: {
      original: 41908851441825,
      caramel: 41908851540129,
      vanilla: 41908851474593,
      pumpkin: 41411703701665,
      mocha: 41908851507361,
      decaf: 41908851572897
    },
    2: {
      original: 41908851605665,
      caramel: 41908851703969,
      vanilla: 41908851638433,
      pumpkin: 41411705864353,
      mocha: 41908851671201,
      decaf: 41908851736737
    },
    3: {
      original: 41908851769505,
      caramel: 41908851867809,
      vanilla: 4141170841908851802273092577,
      pumpkin: 41411708125345,
      mocha: 41908851835041,
      decaf: 41908851900577
    },
    4: {
      original: 41908851933345,
      caramel: 41908852031649,
      vanilla: 41908851966113,
      pumpkin: 41411710648481,
      mocha: 41908851998881,
      decaf: 41908852064417
      },
    5: {
      original: 41730566160545,
      caramel: 41730566193313,
      vanilla: 41730566226081,
      pumpkin: 41730566258849,
      mocha: 41730566291617,
      decaf: 41730566324385,
    },
    6: {
      original: 41801876734113,
      caramel: 41801876766881,
      vanilla: 41801876799649,
      pumpkin: 41801876832417,
      mocha: 41801876865185,
      decaf: 41801876897953,
    },
  },
};
</script>





  <script>
$(".show_flavors").click(function() {
  $(".show-more-flavors").addClass("visible");
  $(".show_flavors").hide();
});
let free_items = "";
const urlParams = new URLSearchParams(window.location.search);
const savings = document.querySelector(".price-info");
const buttonText = $(".cta-text");
const originalButtonText = buttonText.text();
const qtySelected = $(".display-qty");
let currentQtySelected = qtySelected.text();
let BOTTLE_QTY = 1;
if (BOTTLE_QTY === 0) {
  buttonText.removeAttr("href");
  savings.style.display = "none";
  buttonText.text("SELECT AT LEAST ONE FLAVOR");
  $(".submit-flavors").addClass("disabled");
}
let ORDER_TYPE = document.querySelector('[name=skio-group-build-your-kit]:checked').value;
let frequency = "subscription";
document.querySelectorAll('[name=skio-group-build-your-kit]').forEach((el) => el.addEventListener('change', (event) => {
  if(event.target.value == 'subscription') {
    document.querySelectorAll('input[data-selling-plan]').forEach((el) => {
      el.disabled = false;
    });
    $('.card-each.subscription').show();
    $('.card-each.one-time').hide();
  } else {
    document.querySelectorAll('input[data-selling-plan]').forEach((el) => {
      el.disabled = true;
    });
    $('.card-each.subscription').hide();
    $('.card-each.one-time').show();
  }
  let frequency = event.target.value;
  ORDER_TYPE = frequency;
  if (BOTTLE_QTY === 0) {
      $(".total_savings").text(0);
      $(".checkout").text("24,95 US$");
      $(".total_savings").text("0");
  } else {
      let flavor_variant;
      if (BOTTLE_QTY > 4) {
          flavor_variant = variants[ORDER_TYPE][4]["original"];
      } else {
          flavor_variant =
              variants[ORDER_TYPE][BOTTLE_QTY]["original"];
      }
      data = RTC.getVariantData(flavor_variant);
      const priceFormatted = data.priceFormatted;
      const compareSavingsPct = data.compareSavingsPct;
      savings.style.display = "flex";
      $(".price_box-sale").text(
          `$${(Number(data.price) * BOTTLE_QTY).toFixed(2)}`
      );
      $(".price_box-compare").text(
          `$${(Number(data.compareAtPrice) * BOTTLE_QTY).toFixed(
                          2
                      )}`
      );
      $(".total_savings").text(compareSavingsPct);
      $(".checkout").text(priceFormatted);
  }
}));
let data = {};
const GLOBAL_QUANTITY_MAX = 4;
const GLOBAL_QUANTITY_MIN = 0;
const MAX_PER_FLAVOR = 10;
const empty = {
  original: 1,
  caramel: 0,
  vanilla: 0,
  pumpkin: 0,
  mocha: 0,
  decaf: 0,
};
const flavorQtys = empty;
$(".bottle-number").text(`${BOTTLE_QTY}`);
// if (ORDER_TYPE == "one_time") {
//   $(".sub_text").hide();
// }
if (BOTTLE_QTY == 1) {
  $(".bottle_s").hide();
}
const updateDisplayQuantities = () => {
  for (const [flavor, qty] of Object.entries(flavorQtys)) {
      if (qty === 0) {
          $(`.display-qty[data-flavor="${flavor}"]`).html(qty);
          $(`.display-qty[data-flavor="${flavor}"]`).addClass(
              "inactive"
          );
      } else {
          $(`.display-qty[data-flavor="${flavor}"]`).html(qty);
          $(`.display-qty[data-flavor="${flavor}"]`).removeClass(
              "inactive"
          );
      }
      $(`input[data-flavor="${flavor}"][data-quantity]`).val(qty); // SKIO UPDATE INPUT QUANTITY
  }
};
const totalQuantity = () =>
  Object.values(flavorQtys).reduce((x, y) => x + y, 0);
const increaseHandler = (e) => {
  // Don't allow more than GLOBAL_QUANTITY_MAX choices amongst all options.
  // if (totalQuantity() >= GLOBAL_QUANTITY_MAX) {
  //     console.log("maxlimit");
  //     $(".popup-msg").text(`Max limit reached`);
  //     $(".alert-box").addClass("show");
  //     setTimeout(function () {
  //         $(".alert-box").removeClass("show");
  //     }, 3000);
  //     return;
  // }
  const flavor = $(e.currentTarget).data("flavor");
  if (flavorQtys[flavor] === MAX_PER_FLAVOR) {
      console.log(flavorQtys[flavor], BOTTLE_QTY);
      return;
  } else {
      BOTTLE_QTY += 1;
      flavorQtys[flavor] = Math.min(
          flavorQtys[flavor] + 1,
          MAX_PER_FLAVOR
      );
  }
  let flavor_variant;
  updateDisplayQuantities();
  if (BOTTLE_QTY > 4) {
      free_items = {41671332921505: 1};
      flavor_variant = variants[ORDER_TYPE][4][flavor];
  } else {
      flavor_variant = variants[ORDER_TYPE][BOTTLE_QTY][flavor];
  }
  let flavor_price = checkout.pricingData[flavor_variant].price;
  let flavor_title =
      checkout.pricingData[flavor_variant].variantTitle;
  if (BOTTLE_QTY === 0) {
      $(".total_savings").text(0);
      $(".checkout").text("24,95 US$");
  } else {
      $(".price_box-sale").css("display", "block");
      $(".price_box-compare").css("display", "block");
      data = RTC.getVariantData(flavor_variant);
      const priceFormatted = data.priceFormatted;
      const compareSavingsPct = data.compareSavingsPct;
      $(".price_box-sale").text(
          `$${(Number(data.price) * BOTTLE_QTY).toFixed(2)}`
      );
      $(".price_box-compare").text(
          `$${(Number(data.compareAtPrice) * BOTTLE_QTY).toFixed(
                          2
                      )}`
      );
      savings.style.display = "flex";
      buttonText.prop("href", "#");
      buttonText.text(originalButtonText);
      $(".total_savings").text(compareSavingsPct);
      $(".checkout").text(priceFormatted);
      $(".submit-flavors").removeClass("disabled");
  }
};
const decreaseHandler = (e) => {
  // Don't allow more less than 0.
  const flavor = $(e.currentTarget).data("flavor");
  if (totalQuantity() < 1 || flavorQtys[flavor] === 0) {
      console.log("cant remove");
      return;
  } else {
      BOTTLE_QTY -= 1;
      console.log("removed" + flavor);
      flavorQtys[flavor] = Math.max(flavorQtys[flavor] - 1, 0);
      updateDisplayQuantities();
      if (BOTTLE_QTY === 0) {
          $(".total_savings").text(0);
          $(".checkout").text("24,95 US$");
          savings.style.display = "none";
          buttonText.removeAttr("href");
          buttonText.text("SELECT AT LEAST ONE FLAVOR");
          $(".submit-flavors").addClass("disabled");
          $(".price_box-sale").css("display", "none");
          $(".price_box-compare").css("display", "none");
      } else {
          $(".submit-flavors").removeClass("disabled");
          let flavor_variant;
          if (BOTTLE_QTY > 4) {
              flavor_variant = variants[ORDER_TYPE][4][flavor];
          } else {
              $(".submit-flavors").removeClass("disabled");
              flavor_variant = variants[ORDER_TYPE][BOTTLE_QTY][flavor];
          }
          data = RTC.getVariantData(flavor_variant);
          const priceFormatted = data.priceFormatted;
          const compareSavingsPct = data.compareSavingsPct;
          $(".price_box-sale").text(`$${(Number(data.price) * BOTTLE_QTY).toFixed(2)}`);
          $(".price_box-compare").text(`$${(Number(data.compareAtPrice) * BOTTLE_QTY).toFixed(2)}`
          );
          savings.style.display = "flex";
          $(".total_savings").text(compareSavingsPct);
          $(".checkout").text(priceFormatted);
      }
  }
};
const updateServer = async () => {
  if (totalQuantity() < GLOBAL_QUANTITY_MIN) {
      return;
  }
  $(".loader-overlay").show();
  $(".loader-wrapper").css("display", "flex");
  setTimeout(() => {
      $(".loader-wrapper").hide();
  }, 2000);
  const freeAddons = free_items;
  let updateRec = RTC.getVariantQuantities();
  Object.keys(updateRec).forEach((x) => (updateRec[x] = 0));
  updateRec = {
    ...updateRec,
    ...freeAddons
  };
  for (const [flavor, qty] of Object.entries(flavorQtys)) {
      if (BOTTLE_QTY >= 4) {
          free_items = {41671332921505: 1};
          updateRec[variants[ORDER_TYPE][4][flavor]] = qty;
         console.log("free");
      } else {
          free_items = {41671332921505: 0};
          updateRec[variants[ORDER_TYPE][BOTTLE_QTY][flavor]] = qty;
          console.log("no_free");
      }
  }
  await RTC.setVariantQuantities(updateRec);
  await RTC.setVariantQuantities(free_items);
  await RTC.applyCoupon(active_discount);
  window.location.href = "checkout/secure?reviews=true&orderType=" + ORDER_TYPE + "&bottleQty=" + BOTTLE_QTY;
};
$(function() {
  updateDisplayQuantities();
  $(document).on("click", ".increase-qty", increaseHandler);
  $(document).on("click", ".decrease-qty", decreaseHandler);
  // $(document).on("click", ".submit-flavors", updateServer);
});
window.checkoutReadyCallbacks = window.checkoutReadyCallbacks || [];
window.checkoutReadyCallbacks.push(async () => {
  flavor_variant = variants[ORDER_TYPE][BOTTLE_QTY]["original"];
  data = RTC.getVariantData(flavor_variant);
  $(".price_box-sale").text(`$${(Number(data.price) * BOTTLE_QTY).toFixed(2)}`
  );
  $(".price_box-compare").text(`$${(Number(data.compareAtPrice) * BOTTLE_QTY).toFixed(2)}`
  );
});
</script>