{%- assign swatch_file_extension = 'png' -%}

<div class="variant-wrapper js" data-type="button">
  <label class="variant__label{% if option.name == 'Default' or option.name == 'Title' %} hidden-label{% endif %}{% unless variant_labels %} hidden-label{% endunless %}"
    for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}">
    {{ option.name }}
    {%- if is_color -%}
      <span class="variant__label-info">
        &mdash;
        <span
          id="VariantColorLabel-{{ section_id }}-{{ forloop.index0 }}"
          data-option-index="{{ color_option_index }}">
          {{ option.selected_value }}
        </span>
      </span>
    {%- endif -%}
  </label>
  {%- assign option_index = forloop.index -%}
 <fieldset class="variant-input-wrap variant-options"
    name="{{ option.name }}"
    data-index="option{{ option_index }}"
    data-handle="{{ option.name | handleize }}"
    id="ProductSelect-{{ section_id }}-option-{{ forloop.index0 }}">
    <legend class="hide">{{ option.name }}</legend>
    {%- for value in option.values -%}
      {%- assign product_available = true -%}
      {%- if product.options.size == 1 -%}
        {%- assign product_available = product.variants[forloop.index0].available -%}
      {%- endif -%}
      <div
        class="variant-input"
        data-index="option{{ option_index }}"
        data-value="{{ value | replace: ' ', '_' }}">
        <input type="radio"
          {% if option.selected_value == value and product_available %} checked="checked"{% endif %}
          value="{{ value | escape }}"
          data-index="option{{ option_index }}"
          name="{{ option.name }}"
          data-variant-input
          {% if is_color %}data-color-swatch{% endif %}
          class="variant__input-{{ section_id }}{% unless product_available %} disabled{% endunless %}"
          {% if is_color %} data-color-name="{{ value | escape }}"{% endif %}
          {% if is_color %} data-color-index="{{ color_option_index }}"{% endif %}
          id="ProductSelect-{{ section_id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}">
        {%- if is_color -%}
          {%- assign color_image = value | handle | append: '.' | append: swatch_file_extension | asset_img_url: '50x' | prepend: 'https:' | split: '?' | first -%}
          {%- assign color_swatch_fallback = value | split: ' ' | last | handle -%}
          <label
            for="ProductSelect-{{ section_id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}"
            class="color-swatch color-swatch--{{ value | handle }}{% unless product_available %} disabled{% endunless %}"
            style="background-image: url({{ color_image }}); background-color: {{ color_swatch_fallback }};"
          >
            {{ value | escape }}
          </label>
        {%- else -%}
          {% assign current_variant = product.selected_or_first_available_variant %}
          {% if product.type == "Coffee Concentrate" %}
            {% for variant in product.variants %}
              {% if variant.option1 == value %}
                {% assign current_variant = variant %}
                  {% assign bottle_cnt = 0 %}
                {% if current_variant.sku == 'Javy-6oz-1' %}
                  {% assign bottle_cnt = 1 %}
                {% elsif current_variant.sku == 'Javy-6oz-2' %}
                  {% assign bottle_cnt = 2 %}
                {% elsif current_variant.sku == 'Javy-6oz-3' %}
                  {% assign bottle_cnt = 3 %}                        		
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
          <label for="ProductSelect-{{ section_id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}" class="{% if value == "3 Bottles" %}bestseller{% endif %}{% unless product_available %} disabled{% endunless %} variant-swatch" data-bottlecnt="{{bottle_cnt}}">
          
            
            
            <div class="check-wrapper-2">
            <div class="check-circle-2" style="border-color: rgb(221, 221, 221); background-color: rgb(255, 255, 255);">
              <img src="https://try.javycoffee.com/lp15/images/checkmark-cards.svg" loading="lazy" alt="" class="check-white-2" style="opacity: 1;">
              </div>
            </div>
            
            
            
            
            
            {% if bottle_cnt > 0 %}
            <span class="swatch-title"> <span class="title">{{ value | escape }}</span> <span class="unit_price"> {{current_variant.price | divided_by: bottle_cnt | money }}/each </span> </span>
            {% else %}
            {{ value | escape }}
            {% endif %}
          </label>
        {%- endif -%}
      </div>
    {%- endfor -%}
  </fieldset>
</div>


