    <div class="r_section r_bf_sale"><img src="{{ 'svg_bf.svg' | asset_url}}" loading="lazy" alt="" class="image-3"><img src="{{ 'bg_image.jpg' | asset_url}}" loading="lazy" sizes="(max-width: 1869px) 100vw, 1869px" srcset="{{ 'bg_image.jpg' | asset_url}} 500w, {{ 'bg_image.jpg' | asset_url}} 800w, {{ 'bg_image.jpg' | asset_url}} 1869w" alt="" class="r_early_bf_coupon">
      <div class="r_bf_sale_container">
        <div class="r_bf_sale">
          <p class="r_sub_bf_bar">USE &quot;<span class="r_coupon_code">FALLVIBES20&quot;</span> FOR 20% OFF!</p>
        </div>
      </div>
    </div>

{%- if section.settings.collection_image_enable and collection.image -%}
  <div class="collection-hero"
    data-aos="hero__animation">
    <div
      class="collection-hero__image lazyload"
      data-bgset="{% render 'bgset', image: collection.image %}"
      data-sizes="auto">
    </div>
    <noscript>
      <div
        class="collection-hero__image"
        style="background-image: url({{ collection.image | img_url: '1400x' }});";
        ></div>
    </noscript>




    <div class="collection-hero__content">
      <div class="page-width text-center">
        <div class="hero__text-shadow" data-aos>
          <header class="section-header section-header--hero" data-aos>
            <h1 class="section-header__title appear-delay">
              {{ collection.title }}
            </h1>
            {%- if collection.description != blank and section.settings.description_enable -%}
              {%- assign desc_length = collection.description | size -%}
              <div class="rte section-header__description{% if desc_length < 200 %} section-header__description--large{% endif %} appear-delay-1">
                {{ collection.description }}
              </div>
            {%- endif -%}
          </header>
        </div>
      </div>
    </div>
  </div>
{%- else -%}








    <header class="section-header" data-aos>


          <div class="r_section r_collection">
      <div class="r_container middle_aligned">
        <div class="r_title_wrapper r_centered r_bigger no_m">
          <h1 class="r_h1 m_0"> {{ collection.title }}</h1>

           {%- if collection.description != blank and section.settings.description_enable -%}
        {%- assign desc_length = collection.description | size -%}
          <p class="r_sub_h2 m_t_15">  {{ collection.description }}</p>

        
        </div>
      {%- endif -%}


        </div>
      </div>
    </div>


     
    </header>

{%- endif -%}

{% schema %}
  {
    "name": "Collection header",
    "settings": [
      {
        "type": "checkbox",
        "id": "collection_image_enable",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "description_enable",
        "label": "Show description in header",
        "default": true
      }
    ]
  }
{% endschema %}
