{%- liquid
  assign hero_text = false
  if section.settings.title != blank or section.settings.subheading != blank or section.settings.link_text != blank
    assign hero_text = true
  endif
-%}

{%- style -%}
  .hero--{{ section.id }} .hero__title {
    font-size: {{ section.settings.title_size | times: 0.6 }}px;
  }
  @media only screen and (min-width: 769px) {
    .hero--{{ section.id }} .hero__title {
      font-size: {{ section.settings.title_size }}px;
    }
  }

  {%- assign accent_exists = false -%}
  {%- assign button_alpha = section.settings.color_accent | color_extract: 'alpha' -%}
  {% unless button_alpha == 0.0 %}
    {%- assign accent_exists = true -%}
    .hero--{{ section.id }} .btn {
      background: {{ section.settings.color_accent }} !important;
      border-color: {{ section.settings.color_accent }} !important;

      {%- assign accent_brightness = section.settings.color_accent | color_extract: 'lightness' -%}

      {% if accent_brightness > 40 %}
        color: #000 !important;
      {% endif %}
    }
  {% endunless %}
{%- endstyle -%}

<div
  data-section-id="{{ section.id }}"
  data-section-type="video-section"
  class="video-parent-section hero hero--{{ section.id }} hero--{{ section.settings.section_height }} hero--mobile--{{ section.settings.mobile_height }}"
  data-aos="hero__animation">

  <div class="hero__media hero__media--{{ section.id }}{% if hero_text %} hero__media--overlay{% endif %}">

    {%- if section.settings.video_url contains 'youtube.com/watch' -%}
      {%- assign video_id = section.settings.video_url | split: 'v=' -%}
      {%- assign video_id = video_id[1] | split: '&' | first -%}
      <div
        id="YouTubeVideo-{{ section.id }}"
        class="video-div"
        data-type="youtube"
        data-video-id="{{ video_id }}"></div>
    {%- endif -%}

    {%- if section.settings.video_url contains 'youtu.be/' -%}
      {%- assign video_id = section.settings.video_url | split: '.be/' -%}
      {%- assign video_id = video_id[1] | split: '&' | first -%}
      <div
        id="YouTubeVideo-{{ section.id }}"
        class="video-div"
        data-type="youtube"
        data-video-id="{{ video_id }}"></div>
    {%- endif -%}

    {%- if section.settings.video_url contains 'vimeo.com' -%}
      {%- assign video_id = section.settings.video_url | split: '.com/' -%}
      {%- assign video_id = video_id[1] | split: '/' | first -%}
      <div
        id="Vimeo-{{ section.id }}"
        class="video-div"
        data-type="vimeo"
        data-video-id="{{ video_id }}"></div>
    {%- endif -%}

    {%- if section.settings.video_url contains '.mp4' or section.settings.video_url contains '.MP4' -%}
      <video
        id="Mp4Video-{{ section.id }}"
        class="video-div"
        data-type="mp4"
        src="{{ section.settings.video_url }}"
        loop muted playsinline autoplay></video>
    {%- endif -%}

  </div>

  <div class="hero__text-wrap">
    <div class="page-width">
      <div class="hero__text-content {{ section.settings.text_align }}">

        {%- if section.settings.video_url contains 'vimeo.com' -%}
          <button type="button" id="VimeoTrigger-{{ section.id }}" class="vimeo-mobile-trigger medium-up--hide">
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" viewBox="18.24 17.35 24.52 28.3"><path fill="#323232" d="M22.1 19.151v25.5l20.4-13.489-20.4-12.011z"/></svg>
          </button>
        {%- endif -%}

        
        
        
        
        
        <!--
        
        {%- if hero_text -%}
          <div class="hero__text-shadow" data-aos>
            {%- if section.settings.title != blank -%}
              <h2 class="h1 hero__title appear-delay{% cycle '','-2','-4','-6','-8' %}">
                {{ section.settings.title | newline_to_br }}
              </h2>
            {%- endif -%}
            {%- if section.settings.subheading != blank or section.settings.link_text != blank -%}
              {%- if section.settings.subheading != blank -%}
                <div class="hero__subtitle appear-delay{% cycle '','-2','-4','-6','-8' %}">
                  {{ section.settings.subheading | escape }}
                </div>
              {%- endif -%}
              {%- if section.settings.link_text != blank -%}
                {%- liquid
                  assign link_href = section.settings.link
                  if section.settings.link == blank
                    assign link_href = section.settings.video_url
                  endif
                -%}
                <div class="hero__link appear-delay{% cycle '','-2','-4','-6','-8' %}">
                  <a href="{{ link_href }}" class="btn{% unless accent_exists %} btn--inverse{% endunless %}">
                    {%- if link_href contains 'youtube.com/watch' or link_href contains 'youtu.be/' -%}
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" viewBox="18.24 17.35 24.52 28.3"><path fill="#323232" d="M22.1 19.151v25.5l20.4-13.489-20.4-12.011z"/></svg>
                    {%- endif -%}
                    {{ section.settings.link_text }}
                  </a>
                </div>
              {%- endif -%}
            {%- endif -%}
          </div>
        {%- endif -%}
        
        -->
        
        
        
        <div class="r_section">
      <div class="r_container">
        <div class="r_title_wrapper r_centered r_bigger">
          <div class="top_title_season">It's Cold Brew Season 😎</div>
          <h2 class="r_h2 m_t_0">The fastest, easiest, and most convenient coffee.</h2>
          <p class="r_p r_bigger">Life is all about what you make of it, and coffee truly makes it so much better. At Javy, we recognize how much coffee enhances our mood, energy, and quality of life. &nbsp;It fuels our imagination, our aspirations, and our desire to live our best life. It helps build our relationships with our families, friends, and communities.<br></p>
          <a href="https://javycoffee.com/pages/frequently-asked-questions" class="r_btn r_btn_desktop w-inline-block">
            <div class="crossell-button-text">LEARN MORE →</div>
          </a>
        </div>
      </div>
    </div>
        
        
        
        

      </div>
    </div>
  </div>
  
  <!--
  <img src="https://cdn.shopify.com/s/files/1/0435/8216/1057/t/27/assets/white-bottom.png?v=1635977249" class="white_bottom">
  
    <img src="https://cdn.shopify.com/s/files/1/0435/8216/1057/t/27/assets/white-top.png?v=1635977257" class="white_top">

  -->

</div>

{% schema %}
  {
    "name": "Video hero",
    "class": "index-section--hero",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Bring your\nbrand to life."
      },
      {
        "type": "range",
        "id": "title_size",
        "label": "Heading text size",
        "default": 80,
        "min": 40,
        "max": 100,
        "unit": "px"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Text",
        "default": "Seamless auto-playing hero videos"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Button text"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button link",
        "info": "Links to YouTube videos will be opened in a video player"
      },
      {
        "type": "color",
        "id": "color_accent",
        "label": "Buttons",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text alignment",
        "default": "vertical-center horizontal-center",
        "options": [
          {
            "value": "vertical-top horizontal-left",
            "label": "Top left"
          },
          {
            "value": "vertical-top horizontal-center",
            "label": "Top center"
          },
          {
            "value": "vertical-top horizontal-right",
            "label": "Top right"
          },
          {
            "value": "vertical-center horizontal-left",
            "label": "Center left"
          },
          {
            "value": "vertical-center horizontal-center",
            "label": "Center"
          },
          {
            "value": "vertical-center horizontal-right",
            "label": "Center right"
          },
          {
            "value": "vertical-bottom horizontal-left",
            "label": "Bottom left"
          },
          {
            "value": "vertical-bottom horizontal-center",
            "label": "Bottom center"
          },
          {
            "value": "vertical-bottom horizontal-right",
            "label": "Bottom right"
          }
        ]
      },
      {
        "type": "text",
        "id": "video_url",
        "label": "Video link",
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "info": "Supports YouTube, .MP4 and Vimeo. Not all features supported by Vimeo. [Learn more](https://archetypethemes.co/blogs/streamline/how-do-i-add-background-videos)"
      },
      {
        "type": "select",
        "id": "section_height",
        "label": "Desktop height",
        "default": "650px",
        "options": [
          {
            "label": "450px",
            "value": "450px"
          },
          {
            "label": "550px",
            "value": "550px"
          },
          {
            "label": "650px",
            "value": "650px"
          },
          {
            "label": "750px",
            "value": "750px"
          },
          {
            "label": "850px",
            "value": "850px"
          },
          {
            "label": "Full screen",
            "value": "100vh"
          }
        ]
      },
      {
        "type": "select",
        "id": "mobile_height",
        "label": "Mobile height",
        "default": "auto",
        "options": [
          {
            "label": "Auto",
            "value": "auto"
          },
          {
            "label": "250px",
            "value": "250px"
          },
          {
            "label": "300px",
            "value": "300px"
          },
          {
            "label": "400px",
            "value": "400px"
          },
          {
            "label": "500px",
            "value": "500px"
          },
          {
            "label": "Full screen",
            "value": "100vh"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Video hero"
    }]
  }
{% endschema %}
