<div data-section-id="{{ section.id }}" data-section-type="password-header">
  <div class="header-wrapper{% if section.settings.overlay_header %} header-wrapper--overlay is-light{% endif %}">
    {%- unless shop.password_message == blank -%}
      <div class="announcement">
        <div class="announcement__wrapper">
          <div class="announcement__text">
            {{ shop.password_message }}
          </div>
        </div>
      </div>
    {%- endunless -%}

    <header class="site-header site-header--password" role="banner">
      <div class="page-width">
        <div class="header-layout">
          <div class="header-item header-item--logo">
            <h1 class="site-header__logo h2{% if section.settings.logo != blank %} password-page__logo-image{% endif %}" itemscope itemtype="http://schema.org/Organization">
              {%- if section.settings.logo != blank -%}
                {%- assign header_logo_size = section.settings.desktop_logo_width | append: 'x' -%}
                {%- assign header_logo_size_mobile = section.settings.mobile_logo_width | append: 'x' -%}
                {%- style -%}
                  .password-page__logo h1 {
                    max-width: {{ section.settings.mobile_logo_width }}px;
                  }
                  @media only screen and (min-width: 769px) {
                    .password-page__logo h1 {
                      max-width: {{ section.settings.desktop_logo_width }}px;
                    }
                  }
                {%- endstyle -%}
                <img
                  class="small--hide"
                  src="{{ section.settings.logo | img_url: header_logo_size }}"
                  srcset="{{ section.settings.logo | img_url: header_logo_size }} 1x, {{ section.settings.logo | img_url: header_logo_size, scale: 2 }} 2x"
                  alt="{{ section.settings.logo.alt | default: shop.name }}"
                  itemprop="logo">
                <img
                  class="medium-up--hide"
                  src="{{ section.settings.logo | img_url: header_logo_size_mobile }}"
                  srcset="{{ section.settings.logo | img_url: header_logo_size_mobile }} 1x, {{ section.settings.logo | img_url: header_logo_size_mobile, scale: 2 }} 2x"
                  alt="{{ section.settings.logo.alt | default: shop.name }}">
              {%- else -%}
                <span>{{ shop.name }}</span>
              {%- endif -%}
            </h1>
          </div>

          <div class="header-item header-item--icons">
            <a href="#LoginModal" class="js-modal-open-login-modal btn btn--password btn--small">
              <span class="password__lock">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-lock" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-width:2px}</style></defs><path id="svg_2" data-name="svg 2" class="cls-1" d="M20.48 24v-3c0-6.6 5.52-11 11.76-11C39 10 44 15.13 44 21v3"/><path id="svg_4" data-name="svg 4" class="cls-1" d="M11.62 24h41.25v29.77H11.62z"/><path class="cls-1" d="M32.24 37v7"/><circle class="cls-1" cx="32.24" cy="35.5" r="1.5"/></svg>
              </span>
              {{ 'general.password_page.password_link' | t }}
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "class": "password-header-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "overlay_header",
        "label": "Overlay header",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "desktop_logo_width",
        "label": "Desktop logo width",
        "default": 200,
        "min": 80,
        "max": 400,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mobile_logo_width",
        "label": "Mobile logo width",
        "default": 140,
        "min": 50,
        "max": 200,
        "step": 10,
        "unit": "px",
        "info": "Set as a max-width, may appear smaller"
      }
    ]
  }
{% endschema %}
