    <div id="flavor-selector" data-w-id="481daf10-82d6-15ed-b5e1-bb874d7eceb1" class="r_flavors">
      <div class="div-block-3"></div>
      <div class="r_title_container">
        <div class="r_rotator">
          <div class="div-block-5">
            <div class="outline-circle-wrapper">
              <div id="w-node-_607527d3-1c66-7fda-fffd-54f9339f4bc8-33e8faaa" class="outline-clip top">
                <div class="outline-circle"></div>
              </div>
              <div id="w-node-_607527d3-1c66-7fda-fffd-54f9339f4bca-33e8faaa" class="outline-clip bottom">
                <div class="outline-circle"></div>
              </div>
            </div><img src="{{ 'drop.svg' | asset_url}}" loading="lazy" alt="" class="r_drop"><img src="{{ 'drop-rotator.svg' | asset_url}}" loading="lazy" alt="" class="r_drop_rotator">
          </div>
        </div>
        <h2 class="r_h2">Craft The Most Delicious Coffee...<a href="https://drinkolipop.com/pages/subscription#featured-product"><strong><br></strong></a>
        </h2>
        <p class="r_p">Making delicious coffee at home or on-the-go has only become more of a hassle. Javy reinvented the coffee experience to be easy, affordable, and extremely tasty!<br></p>
      </div>
      <div class="r_flavors_mobile">
        <div class="swiper slider3">
          <div class="swiper-wrapper flavors">
            <div class="swiper-slide original">
              <div class="r_flavor_mobile">
                <div class="original_flavor"><img src="{{ 'bean-01.png" loading="lazy" alt="" class="bean_02"><img src="{{ 'bean-02.png" loading="lazy" alt="" class="bean_01"><img src="{{ 'back.png" loading="lazy" alt="" class="back_bottle"><img src="{{ 'original..png" loading="lazy" alt="" class="front_bottle"><img src="{{ 'shadow.png" loading="lazy" alt="" class="shadow_bottle"></div>
                <p class="flavor-label">Original<br></p>
                <div class="r_flavor_desc">
                  <p class="flavor-sub"><strong>Javy Coffee&#x27;s Original Concentrate is packed with pure coffee deliciousness.</strong><br></p>
                  <p class="r_p_smaller">It brings together the finest Arabica to produce an ultra-flavorful and ultra-smooth classic coffee taste.<br></p>
                </div>
              </div>
            </div>
            <div class="swiper-slide pumpkin">
              <div class="r_flavor_mobile">
                <div class="pumpkin_flavor"><img src="{{ 'back_bean_right.png" loading="lazy" alt="" class="bean_02"><img src="{{ 'pumpkin.png" loading="lazy" alt="" class="bean_01_right"><img src="{{ 'back_bottle_right.png" loading="lazy" alt="" class="back_bottle"><img src="{{ 'pumpkin_1.png" loading="lazy" alt="" class="front_bottle"><img src="{{ 'shadow.png" loading="lazy" alt="" class="shadow_bottle"></div>
                <p class="flavor-label">Pumpkin Spice<br></p>
                <div class="r_flavor_desc">
                  <p class="flavor-sub"><strong>Javy Coffee&#x27;s Pumpkin Spice brings back all of the fall season vibes.</strong><br></p>
                  <p class="r_p_smaller">There is no better way to kick off the Holiday season. It is the perfect blend of sweet and spice, mixed with flavors of pumpkin pie and nutmeg.<br></p>
                </div>
              </div>
            </div>
            <div class="swiper-slide vanilla">
              <div class="r_flavor_mobile">
                <div class="vanilla_flavor"><img src="{{ 'bean-01.png" loading="lazy" alt="" class="bean_02"><img src="{{ 'vanilla_icon.png" loading="lazy" alt="" class="bean_01"><img src="{{ 'back.png" loading="lazy" alt="" class="back_bottle"><img src="{{ 'vanilla.png" loading="lazy" alt="" class="front_bottle"><img src="{{ 'shadow.png" loading="lazy" alt="" class="shadow_bottle"></div>
                <p class="flavor-label">French Vanilla<br></p>
                <div class="r_flavor_desc">
                  <p class="flavor-sub"><strong>Javy Coffee&#x27;s Vanilla Concentrate is a must-have for coffee lovers.</strong><br></p>
                  <p class="r_p_smaller">This delicious blend of fine Arabica infused with premium vanilla bean is ultra smooth and satisfying.<br></p>
                </div>
              </div>
            </div>
            <div class="swiper-slide caramel">
              <div class="r_flavor_mobile">
                <div class="caramel_flavor"><img src="{{ 'back_bean_right.png" loading="lazy" alt="" class="bean_02"><img src="{{ 'caramel_img.png" loading="lazy" alt="" class="bean_01_right"><img src="{{ 'back_bottle_right.png" loading="lazy" alt="" class="back_bottle"><img src="{{ 'caramel.png" loading="lazy" alt="" class="front_bottle"><img src="{{ 'shadow.png" loading="lazy" alt="" class="shadow_bottle"></div>
                <p class="flavor-label">Caramel<br></p>
                <div class="r_flavor_desc">
                  <p class="flavor-sub"><strong>Javy Coffee&#x27;s Caramel Concentrate is a delicious classic.</strong><br></p>
                  <p class="r_p_smaller">Each cup you make will be filled to the brim with the taste of buttery caramel and delicate sweet cream.<br></p>
                </div>
              </div>
            </div>
            <div class="swiper-slide mocha">
              <div class="r_flavor_mobile">
                <div class="mocha_flavor"><img src="{{ 'bean-01.png" loading="lazy" alt="" class="bean_02"><img src="{{ 'mocha_icon.png" loading="lazy" alt="" class="bean_01"><img src="{{ 'back.png" loading="lazy" alt="" class="back_bottle"><img src="{{ 'mocha.png" loading="lazy" alt="" class="front_bottle"><img src="{{ 'shadow.png" loading="lazy" alt="" class="shadow_bottle"></div>
                <p class="flavor-label">Mocha<br></p>
                <div class="r_flavor_desc">
                  <p class="flavor-sub"><strong>Javy Coffee&#x27;s Mocha Concentrate is the perfect mix of chocolate and coffee.</strong><br></p>
                  <p class="r_p_smaller">It is the perfect blend of nutty chocolate-vanilla notes and sweet coffee flavor. To top it off there is just a hint of cinnamon for the perfect Mocha drink!<br></p>
                </div>
              </div>
            </div>
            <div class="swiper-slide decaf">
              <div class="r_flavor_mobile">
                <div class="decaf_flavor"><img src="{{ 'back_bean_right.png" loading="lazy" alt="" class="bean_02"><img src="{{ 'decaf_icon.png" loading="lazy" alt="" class="bean_01_right"><img src="{{ 'back_bottle_right.png" loading="lazy" alt="" class="back_bottle"><img src="{{ 'decaf.png" loading="lazy" alt="" class="front_bottle"><img src="{{ 'shadow.png" loading="lazy" alt="" class="shadow_bottle"></div>
                <p class="flavor-label">Decaf<br></p>
                <div class="r_flavor_desc">
                  <p class="flavor-sub"><strong>Javy Coffee&#x27;s Original Decaf Concentrate is packed with pure coffee deliciousness.</strong><br></p>
                  <p class="r_p_smaller">It brings together the finest Arabica to produce an ultra-flavorful and ultra-smooth classic coffee taste.<br></p>
                </div>
              </div>
            </div>
          </div>
          <a href="#" class="previous-flavor w-inline-block">
            <div class="prev-icon w-icon-slider-right"></div>
          </a>
          <a href="#" class="next-flavor w-inline-block">
            <div class="next-recipe w-icon-slider-right"></div>
          </a>
          <div class="previous-after-flavor"></div>
        </div>
        <a href="#" class="r_btn btn-mobile r_negative_margin w-inline-block">
          <div class="crossell-button-text">SHOP ALL FLAVORS →</div>
        </a>
      </div>
      <div class="r_flavor_tab">
        <div class="w-layout-grid r_flavor_grid">
          <div id="w-node-_481daf10-82d6-15ed-b5e1-bb874d7ecf51-33e8faaa" class="flavor-selector">
            <div data-current="original" data-easing="ease-out" data-duration-in="0" data-duration-out="0" class="qty-tabs w-tabs">
              <div class="flavor-menu on_click w-tab-menu">
                <a data-w-tab="original" data-flavor="original" data-w-id="481daf10-82d6-15ed-b5e1-bb874d7ecf56" class="select-flavor w-inline-block w-tab-link w--current">
                  <div class="flavor-name">Original</div>
                </a>
                <a data-w-tab="caramel" data-flavor="caramel" data-w-id="481daf10-82d6-15ed-b5e1-bb874d7ecf59" class="select-flavor w-inline-block w-tab-link">
                  <div class="flavor-name">Caramel</div>
                </a>
                <a data-w-tab="vanilla" data-flavor="vanilla" data-w-id="481daf10-82d6-15ed-b5e1-bb874d7ecf5c" class="select-flavor w-inline-block w-tab-link">
                  <div class="flavor-name">French Vanilla</div>
                </a>
                <a data-w-tab="pumpkin" data-flavor="pumpkin" data-w-id="481daf10-82d6-15ed-b5e1-bb874d7ecf5f" class="select-flavor w-inline-block w-tab-link">
                  <div class="flavor-name">Pumpkin Spice</div>
                </a>
                <a data-w-tab="mocha" data-flavor="mocha" data-w-id="481daf10-82d6-15ed-b5e1-bb874d7ecf62" class="select-flavor w-inline-block w-tab-link">
                  <div class="flavor-name">Mocha</div>
                </a>
                <a data-w-tab="decaf" data-flavor="decaf" data-w-id="481daf10-82d6-15ed-b5e1-bb874d7ecf65" class="select-flavor w-inline-block w-tab-link">
                  <div class="flavor-name">Decaf</div>
                </a>
              </div>
              <div class="quantity-info w-tab-content">
                <div data-w-tab="original" class="quantity-content w-tab-pane w--tab-active">
                  <div class="flavor-inside">
                    <p class="flavor-sub"><strong>Javy Coffee&#x27;s Original Concentrate is packed with pure coffee deliciousness.</strong><br></p><img loading="eager" src="{{ 'bottles_0000s_0000_Layer-7.png" alt="" class="img-tab">
                    <p class="r_p_smaller">It brings together the finest Arabica to produce an ultra-flavorful and ultra-smooth classic coffee taste.<br></p>
                  </div>
                </div>
                <div data-w-tab="caramel" class="quantity-content w-tab-pane">
                  <div class="flavor-inside">
                    <p class="flavor-sub"><strong>Javy Coffee&#x27;s Caramel Concentrate is a delicious classic.</strong><br></p><img loading="eager" src="{{ 'bottles_0000s_0001_Layer-6.png" alt="" class="img-tab">
                    <p class="r_p_smaller">Each cup you make will be filled to the brim with the taste of buttery caramel and delicate sweet cream.<br></p>
                  </div>
                </div>
                <div data-w-tab="vanilla" class="quantity-content w-tab-pane">
                  <div class="flavor-inside">
                    <p class="flavor-sub"><strong>Javy Coffee&#x27;s Vanilla Concentrate is a must-have for coffee lovers.</strong><br></p><img loading="eager" src="{{ 'bottles_0000s_0003_Layer-4.png" alt="" class="img-tab">
                    <p class="r_p_smaller">This delicious blend of fine Arabica infused with premium vanilla bean is ultra smooth and satisfying.<br></p>
                  </div>
                </div>
                <div data-w-tab="pumpkin" class="quantity-content w-tab-pane">
                  <div class="flavor-inside">
                    <p class="flavor-sub"><strong>Javy Coffee&#x27;s Pumpkin Spice brings back all of the fall season vibes.</strong><br></p><img loading="eager" src="{{ 'bottles_0000s_0004_Layer-3.png" alt="" class="img-tab">
                    <p class="r_p_smaller">There is no better way to kick off the Holiday season. It is the perfect blend of sweet and spice, mixed with flavors of pumpkin pie and nutmeg.<br></p>
                  </div>
                </div>
                <div data-w-tab="mocha" class="quantity-content w-tab-pane">
                  <div class="flavor-inside">
                    <p class="flavor-sub"><strong>Javy Coffee&#x27;s Mocha Concentrate is the perfect mix of chocolate and coffee.</strong><br></p><img loading="eager" src="{{ 'bottles_0000s_0002_Layer-5.png" alt="" class="img-tab">
                    <p class="r_p_smaller">It is the perfect blend of nutty chocolate-vanilla notes and sweet coffee flavor. To top it off there is just a hint of cinnamon for the perfect Mocha drink!<br></p>
                  </div>
                </div>
                <div data-w-tab="decaf" class="quantity-content w-tab-pane">
                  <div class="flavor-inside">
                    <p class="flavor-sub"><strong>Javy Coffee&#x27;s Original Decaf Concentrate is packed with pure coffee deliciousness.</strong><br></p><img loading="eager" src="{{ 'bottles_0000s_0000_Layer-7.png" alt="" class="img-tab">
                    <p class="r_p_smaller">It brings together the finest Arabica to produce an ultra-flavorful and ultra-smooth classic coffee taste.<br></p>
                  </div>
                </div>
              </div>
            </div>
            <a href="#" class="r_btn btn-mobile w-inline-block">
              <div class="crossell-button-text">SHOP ALL FLAVORS</div>
            </a>
          </div>
          <div id="w-node-_481daf10-82d6-15ed-b5e1-bb874d7ecfa5-33e8faaa" class="r_flavor_container">
            <div class="flavor-container">
              <div class="decaf_flavor"><img src="{{ 'back_bean_right.png" loading="eager" alt="" class="bean_02"><img src="{{ 'decaf_icon.png" loading="eager" alt="" class="bean_01_right"><img src="{{ 'back_bottle_right.png" loading="eager" alt="" class="back_bottle"><img src="{{ 'decaf.png" loading="eager" alt="" class="front_bottle"><img src="{{ 'shadow.png" loading="eager" alt="" class="shadow_bottle"></div>
              <div class="mocha_flavor"><img src="{{ 'beans.png" loading="eager" alt="" class="back_beans"><img src="{{ 'bean-01.png" loading="eager" alt="" class="bean_02"><img src="{{ 'mocha_icon.png" loading="eager" alt="" class="bean_01"><img src="{{ 'back.png" loading="eager" alt="" class="back_bottle"><img src="{{ 'mocha.png" loading="eager" alt="" class="front_bottle"><img src="{{ 'shadow.png" loading="eager" alt="" class="shadow_bottle"></div>
              <div class="vanilla_flavor"><img src="{{ 'beans.png" loading="eager" alt="" class="back_beans"><img src="{{ 'bean-01.png" loading="eager" alt="" class="bean_02"><img src="{{ 'vanilla_icon.png" loading="eager" alt="" class="bean_01"><img src="{{ 'back.png" loading="eager" alt="" class="back_bottle"><img src="{{ 'vanilla.png" loading="eager" alt="" class="front_bottle"><img src="{{ 'shadow.png" loading="eager" alt="" class="shadow_bottle"></div>
              <div class="caramel_flavor"><img src="{{ 'beans.png" loading="eager" alt="" class="back_beans"><img src="{{ 'back_bean_right.png" loading="eager" alt="" class="bean_02"><img src="{{ 'caramel_img.png" loading="eager" alt="" class="bean_01_right"><img src="{{ 'back_bottle_right.png" loading="eager" alt="" class="back_bottle"><img src="{{ 'caramel.png" loading="eager" alt="" class="front_bottle"><img src="{{ 'shadow.png" loading="eager" alt="" class="shadow_bottle"></div>
              <div class="pumpkin_flavor"><img src="{{ 'beans.png" loading="eager" alt="" class="back_beans"><img src="{{ 'back_bean_right.png" loading="eager" alt="" class="bean_02"><img src="{{ 'pumpkin.png" loading="eager" alt="" class="bean_01_right"><img src="{{ 'back_bottle_right.png" loading="eager" alt="" class="back_bottle"><img src="{{ 'pumpkin_1.png" loading="eager" alt="" class="front_bottle"><img src="{{ 'shadow.png" loading="eager" alt="" class="shadow_bottle"></div>
              <div class="original_flavor"><img src="{{ 'beans.png" loading="eager" alt="" class="back_beans"><img src="{{ 'bean-01.png" loading="eager" alt="" class="bean_02"><img src="{{ 'bean-02.png" loading="eager" alt="" class="bean_01"><img src="{{ 'back.png" loading="eager" alt="" class="back_bottle"><img src="{{ 'original..png" loading="eager" alt="" class="front_bottle"><img src="{{ 'shadow.png" loading="eager" alt="" class="shadow_bottle"></div>
            </div>
          </div>
          <div id="w-node-_481daf10-82d6-15ed-b5e1-bb874d7ecfb8-33e8faaa" class="r_qty_selector">
            <div class="r_title_holder">
              <div class="r_review_container hide-desktop"><img src="{{ 'rating-stars.svg' | asset_url}}" loading="lazy" alt="rating-stars" class="rating-stars mr-5">
                <p class="sm-text">8,791 + trusted reviews</p>
              </div>
              <p class="r_p">Instantly craft any style coffee that you want in seconds. Simply add 1-2 tsp of Javy Coffee Concentrate and enjoy your favorite drink.<br></p>
              <a href="#" class="r_btn r_btn_desktop w-inline-block">
                <div class="crossell-button-text">SHOP ALL FLAVORS →</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="r_bg_flavors"></div>
    </div>


{% schema %}
  {
    "name": "[R] Flavor Selector",
    "max_blocks": 10,
    "settings": [],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "[R] Flavor Selector",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

