    <div class="r_hero">
      <div class="r_bg_gradient"></div><img src="{{ 'bg_mob.jpg' | asset_url}}" loading="lazy" sizes="(max-width: 860px) 100vw, (max-width: 991px) 860px, 100vw" srcset="{{ 'bg_mob.jpg' | asset_url}} 500w, {{ 'bg_mob.jpg' | asset_url}} 800w, {{ 'bg_mob.jpg' | asset_url}} 860w" alt="" class="bg_hero_mob"><img src="{{ 'bg_desk.jpg' | asset_url}}" loading="lazy" sizes="(max-width: 991px) 100vw, 933.46875px" srcset="{{ 'bg_desk.jpg' | asset_url}} 800w, {{ 'bg_desk.jpg' | asset_url}} 1068w" alt="" class="bg_hero_desk">
      <div class="r_inner r_inner_hero">
        <div class="w-layout-grid r_hero_grid">
          <div id="w-node-_6a87e529-6b03-5396-2566-b7fa7b3bc8c7-33e8faaa" class="r_information">
            <div class="r_inner_relative">
              <h2 data-w-id="84e46f94-2a4a-3aef-0bbc-92eec318fde2" style="opacity:0" class="r_h2 h2_hero">Holiday season deals are live!</h2>
              <p data-w-id="6a87e529-6b03-5396-2566-b7fa7b3bc8cd" style="opacity:0" class="r_p r_for_hero">No more coffee makers, brewing equipment, or time wasted -- <strong>just tasty cold brew coffee</strong> anyway you like it, at the drop of a hat.<br></p>
              <a href="/checkout/secure" data-w-id="6a87e529-6b03-5396-2566-b7fa7b3bc8d3" style="opacity:0" class="r_btn w-inline-block">
                <div class="crossell-button-text">SHOP DEALS →</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
{% schema %}
  {
    "name": "[R] Hero",
    "max_blocks": 10,
    "settings": [],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "[R] Hero",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

