    <div class="r_hero">
      <div data-poster-url="videos/javy-hero-poster-00001.jpg' | asset_url}}" data-video-urls="https://cdn.shopify.com/s/files/1/0435/8216/1057/t/28/assets/javy-hero-transcode.mp4?14550,https://cdn.shopify.com/s/files/1/0435/8216/1057/t/28/assets/javy-hero-transcode.webm?14550" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="bg_hero_mob w-background-video w-background-video-atom"><video autoplay="" loop="" style="background-image:url(&quot;videos/javy-hero-poster-00001.jpg' | asset_url}}&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
          <source src="{{ 'javy-hero-transcode.mp4' | asset_url}}" data-wf-ignore="true">
          <source src="{{ 'javy-hero-transcode.webm' | asset_url}}" data-wf-ignore="true">
        </video></div><img src="{{ 'bg_desk.jpg' | asset_url}}" loading="lazy" sizes="100vw" srcset="{{ 'bg_desk-p-800.jpeg' | asset_url}} 800w, {{ 'bg_desk.jpg' | asset_url}} 1068w" alt="" class="bg_hero_desk">
      <div class="r_inner r_inner_hero">
        <div class="w-layout-grid r_hero_grid">
          <div id="w-node-_6a87e529-6b03-5396-2566-b7fa7b3bc8c7-33e8faaa" class="r_information">
            <div class="r_inner_relative r_centered">
              <h2 data-w-id="84e46f94-2a4a-3aef-0bbc-92eec318fde2" style="opacity:0" class="r_h2 h2_hero">The Holidays Taste Better With Javy</h2>
              <p data-w-id="6a87e529-6b03-5396-2566-b7fa7b3bc8cd" style="opacity:0" class="r_p r_for_hero">Javy makes specialty coffee concentrates that are packed with delicious flavor. <strong>Enjoy tasty coffee anyway you like it,</strong> at the drop of a hat.<br></p>
              <a href="https://javycoffee.com/collections/javy" data-w-id="6a87e529-6b03-5396-2566-b7fa7b3bc8d3" style="opacity:0" class="r_btn w-inline-block">
                <div class="crossell-button-text">SHOP DEALS →</div>
              </a>
            </div>
          </div>
        </div>
      </div><img src="{{ 'xmas.svg' | asset_url}}" loading="lazy" data-w-id="6d2cd1c2-c9a7-0592-62cd-c9f155f6026b" alt="" class="trees"><img src="{{ '5a1e7e2112720c00013a5409_small-snow-bckg.png' | asset_url}}" loading="lazy" data-w-id="119142f9-e98c-165a-b7fc-bf2187f067c0" sizes="100vw" srcset="{{ '5a1e7e2112720c00013a5409_small-snow-bckg-p-500.png' | asset_url}} 500w, {{ '5a1e7e2112720c00013a5409_small-snow-bckg-p-800.png' | asset_url}} 800w, {{ '5a1e7e2112720c00013a5409_small-snow-bckg-p-1080.png' | asset_url}} 1080w, {{ '5a1e7e2112720c00013a5409_small-snow-bckg-p-1600.png' | asset_url}} 1600w, {{ '5a1e7e2112720c00013a5409_small-snow-bckg.png' | asset_url}} 1920w" alt="" class="snowballs"><img src="{{ '5a1e7e239afe1000014a1a3f_big-snow-bckg.png' | asset_url}}" loading="lazy" data-w-id="6dc1b667-490c-507e-9fbc-f94ea55d94d8" sizes="100vw" srcset="{{ '5a1e7e239afe1000014a1a3f_big-snow-bckg-p-500.png' | asset_url}} 500w, {{ '5a1e7e239afe1000014a1a3f_big-snow-bckg-p-800.png' | asset_url}} 800w, {{ '5a1e7e239afe1000014a1a3f_big-snow-bckg-p-1080.png' | asset_url}} 1080w, {{ '5a1e7e239afe1000014a1a3f_big-snow-bckg-p-1600.png' | asset_url}} 1600w, {{ '5a1e7e239afe1000014a1a3f_big-snow-bckg.png' | asset_url}} 1659w" alt="" class="snowflakes">
    </div>
    
{% schema %}
  {
    "name": "[R] Hero",
    "max_blocks": 10,
    "settings": [],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "[R] Hero",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

