    <div class="new_r_hero">
      <div class="new_r_inner r_inner_hero">
        <div class="w-layout-grid new_r_hero_grid">
          <div id="w-node-_033f4fe1-8ee4-6e6d-a414-c0b4b3bce1a1-33e8faaa" class="new_r_information for_hero">
            <div class="new_r_inner_relative r_centered">
              <h2 class="new_r_h2 h2_hero">True love in <br>your mug</h2>
              <p class="new_r_p r_for_hero">Who knew your next crush would be Javy Coffee Concentrate? (we did)<br></p>
              <a href="https://javycoffee.com/collections/javy" class="new_r_btn for_hero w-inline-block">
                <div class="crossell-button-text">SHOP HOT DEALS →</div>
              </a>
            </div>
          </div>
        </div>
      </div><img src="{{ 'valentinesdaybg.svg' | asset_url}}" alt="" class="new_trees">
      
      <img src="{{ 'baixo.png' | asset_url}}"  alt="" class="new_baixo">
      <img src="{{ 'cima-mobo.png' | asset_url}}" alt="" class="new_cima">
      <img src="{{ 'javy-left.png' | asset_url}}" alt="" class="new_left-image">
      <img src="{{ 'righttt.png' | asset_url}}" alt="" class="new_right_image">
      <img src="{{ 'hearts.svg' | asset_url}}" loading="lazy" alt="" class="new_snowflakes">
    </div>


    <style>

@media screen and (min-width: 980px) {          
img.new_left-image {
    margin-left: -150px;
}

img.new_right_image {
    margin-right: -130px;
}
    }





    </style>
    
{% schema %}
  {
    "name": "[R] Hero",
    "max_blocks": 10,
    "settings": [],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "[R] Hero",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

