    <div class="r_hero">
      <div class="r_inner r_inner_hero">
        <div class="w-layout-grid r_hero_grid">
          <div class="w-layout-grid grid-3">
            <div id="w-node-_77107abe-468b-e34e-a29a-39e4abc70696-33e8faaa" class="div-block-2">
              <div class="image-container"><img src="{{ 'peppermint_animated.png' | asset_url}}" loading="eager" sizes="(max-width: 479px) 80vw, (max-width: 991px) 380px, 420px" srcset="{{ 'peppermint_animated-p-500.png' | asset_url}} 500w, {{ 'peppermint_animated-p-800.png' | asset_url}} 800w, {{ 'peppermint_animated.png' | asset_url}} 860w" alt="" class="front_bottle"><img src="{{ 'candy.png' | asset_url}}" loading="eager" sizes="(max-width: 479px) 80vw, (max-width: 767px) 320px, (max-width: 991px) 380px, 420px" srcset="{{ 'candy-p-500.png' | asset_url}} 500w, {{ 'candy-p-800.png' | asset_url}} 800w, {{ 'candy.png' | asset_url}} 860w" alt="" class="candy_cane">
                <div class="w-embed">
                  <style>
                      .front_bottle {
                        animation: coffeeFront 6s cubic-bezier(0.32, 0.01, 0.58, 1) infinite;
                        /* position: absolute; */
                        /* left: 0; */
                        /* bottom: 0; */
                      }
                      .candy_cane {
                        animation: objectOne 6s cubic-bezier(0.32, 0.01, 0.58, 1) infinite;
                        /* position: absolute; */
                        /* left: 0; */
                        /* bottom: 0; */
                      }
                      @keyframes coffeeFront {
                        0%,
                        100% {
                          transform: translateY(0) scale(1);
                        }
                        50% {
                          transform: translateY(-30px) scale(1.05);
                        }
                      }
                      @keyframes objectOne {
                        0%,
                        100% {
                          transform: translateY(0);
                        }
                        50% {
                          transform: translateY(30px);
                        }
                      }
                      .hourglass {
                        animation: rotateP 2.5s ease-in-out forwards infinite
                      }
                      @keyframes rotateP {
                        0% {
                          transform: rotate(0)
                        }
                        50% {
                          transform: rotate(180deg)
                        }
                        100% {
                          transform: rotate(180deg)
                        }
                      }
                    </style>
                </div>
              </div>
            </div>
            <div id="w-node-_77107abe-468b-e34e-a29a-39e4abc7069b-33e8faaa" class="qty-selector">
              <div class="title-holder">
                <div class="limited-edition">★ LIMITED EDITION ★<br></div>
                <h2 class="r_h2 h2_hero">Peppermint Mocha</h2>
                <div class="product-info-head"><img src="https://uploads-ssl.webflow.com/61b10bfa7d2c2e3831951e58/61b10bfa7d2c2ea250951e84_rating%20stars.svg' | asset_url}}" loading="lazy" alt="rating-stars" class="rating-stars mr-5">
                  <p class="sm-text-3">8,791 + trusted reviews</p>
                </div>
                <p class="paragraph p_hero"><strong>There’s nothing that quite tastes like the Holidays than a nice Peppermint Mocha coffee. </strong>The peppermint has a nice subtle mint flavor, but what really ties it all together is the rich chocolatey notes!<br></p>
                <a href="https://javycoffee.com/products/microdose-peppermint-mocha-liquid-coffee-concentrate" class="buy_now w-inline-block">
                  <div class="loader-wrapper">
                    <div class="loader"></div>
                  </div>
                  <div class="crossell-button-text-2">BUY IT NOW →</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div><img src="{{ 'pepeprmint_mocha.png' | asset_url}}" loading="lazy" sizes="100vw" srcset="{{ 'pepeprmint_mocha-p-500.png' | asset_url}} 500w, {{ 'pepeprmint_mocha-p-800.png' | asset_url}} 800w, {{ 'pepeprmint_mocha-p-1080.png' | asset_url}} 1080w, {{ 'pepeprmint_mocha-p-1600.png' | asset_url}} 1600w, {{ 'pepeprmint_mocha-p-2000.png' | asset_url}} 2000w, {{ 'pepeprmint_mocha-p-2600.png' | asset_url}} 2600w, {{ 'pepeprmint_mocha.png' | asset_url}} 2761w" alt="" class="trees-2"><img src="{{ '5a1e7e2112720c00013a5409_small-snow-bckg.png' | asset_url}}" loading="lazy" data-w-id="119142f9-e98c-165a-b7fc-bf2187f067c0" sizes="100vw" srcset="{{ '5a1e7e2112720c00013a5409_small-snow-bckg-p-500.png' | asset_url}} 500w, {{ '5a1e7e2112720c00013a5409_small-snow-bckg-p-800.png' | asset_url}} 800w, {{ '5a1e7e2112720c00013a5409_small-snow-bckg-p-1080.png' | asset_url}} 1080w, {{ '5a1e7e2112720c00013a5409_small-snow-bckg-p-1600.png' | asset_url}} 1600w, {{ '5a1e7e2112720c00013a5409_small-snow-bckg.png' | asset_url}} 1920w" alt="" class="snowballs"><img src="{{ '5a1e7e239afe1000014a1a3f_big-snow-bckg.png' | asset_url}}" loading="lazy" data-w-id="6dc1b667-490c-507e-9fbc-f94ea55d94d8" sizes="100vw" srcset="{{ '5a1e7e239afe1000014a1a3f_big-snow-bckg-p-500.png' | asset_url}} 500w, {{ '5a1e7e239afe1000014a1a3f_big-snow-bckg-p-800.png' | asset_url}} 800w, {{ '5a1e7e239afe1000014a1a3f_big-snow-bckg-p-1080.png' | asset_url}} 1080w, {{ '5a1e7e239afe1000014a1a3f_big-snow-bckg-p-1600.png' | asset_url}} 1600w, {{ '5a1e7e239afe1000014a1a3f_big-snow-bckg.png' | asset_url}} 1659w" alt="" class="snowflakes">
    </div>
    
{% schema %}
  {
    "name": "[R] Hero",
    "max_blocks": 10,
    "settings": [],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "[R] Hero",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

