  <div class="r_hero">
    <div class="r_inner r_inner_hero">
      <div class="w-layout-grid r_hero_grid">
        <div id="w-node-_6a87e529-6b03-5396-2566-b7fa7b3bc8c7-33e8faaa" class="r_information">
          <h2 class="r_h2 h2_hero">Holiday season deals are live!</h2>
          <p data-w-id="6a87e529-6b03-5396-2566-b7fa7b3bc8cd" style="opacity:0" class="r_p r_for_hero">No more coffee makers, brewing equipment, or time wasted -- <strong>just tasty cold brew coffee</strong> anyway you like it, at the drop of a hat.<br></p>
          <a href="/checkout/secure" data-w-id="6a87e529-6b03-5396-2566-b7fa7b3bc8d3" style="opacity:0" class="r_btn_hero w-inline-block">
            <div class="crossell-button-text">SHOP DEALS →</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="r_section">
    <div class="r_container r_center">
      <div class="r_seen_inner">
        <div class="r_seen_swiper">
          <div class="r_seen_gradient"></div>
          <div class="r_seen_gradient r_right"></div>
          <div class="swiper slider2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="r_seen_card"><img src="{{ 'usa-today-01.svg' | asset_img_url: }}" loading="lazy" alt="" class="r_company_logo lozad">
                  <p class="r_p r_smaller m_b_0">Instantly craft any style coffee that you want in seconds.<br></p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="r_seen_card"><img src="{{ 'cbs-04.svg' | asset_img_url: }}" loading="lazy" alt="" class="r_company_logo lozad">
                  <p class="r_p r_smaller m_b_0">Instantly craft any style coffee that you want in seconds.<br></p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="r_seen_card"><img src="{{ 'fox-02.svg' | asset_img_url: }}" loading="lazy" alt="" class="r_company_logo lozad">
                  <p class="r_p r_smaller m_b_0">Instantly craft any style coffee that you want in seconds.<br></p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="r_seen_card"><img src="{{ 'nbc-03.svg' | asset_img_url: }}" loading="lazy" alt="" class="r_company_logo lozad">
                  <p class="r_p r_smaller m_b_0">Instantly craft any style coffee that you want in seconds.<br></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="flavor-selector" data-w-id="481daf10-82d6-15ed-b5e1-bb874d7eceb1" class="r_flavors"><img src="{{ 'droper-icon-desktop.svg' | asset_img_url: }}" loading="lazy" alt="" class="bg_flavor_desktop"><img src="{{ 'droper-icon-mobile.svg' | asset_img_url: }}" loading="lazy" alt="" class="bg_flavor_mobile">
    <div class="div-block-3"></div>
    <div class="r_title_container">
      <div class="r_rotator">
        <div class="div-block-5">
          <div class="outline-circle-wrapper">
            <div id="w-node-_607527d3-1c66-7fda-fffd-54f9339f4bc8-33e8faaa" class="outline-clip top">
              <div class="outline-circle"></div>
            </div>
            <div id="w-node-_607527d3-1c66-7fda-fffd-54f9339f4bca-33e8faaa" class="outline-clip bottom">
              <div class="outline-circle"></div>
            </div>
          </div><img src="{{ 'drop.svg' | asset_img_url: }}" loading="lazy" alt="" class="r_drop"><img src="{{ 'drop-rotator.svg' | asset_img_url: }}" loading="lazy" alt="" class="r_drop_rotator">
        </div>
      </div>
      <h2 class="r_h2">Craft The Most Delicious Coffee...<a href="https://drinkolipop.com/pages/subscription#featured-product"><strong><br></strong></a>
      </h2>
      <p class="r_p">Making delicious coffee at home or on-the-go has only become more of a hassle. Javy reinvented the coffee experience to be easy, affordable, and extremely tasty!<br></p>
    </div>
    <div class="r_flavors_mobile">
      <div class="swiper slider3">
        <div class="swiper-wrapper flavors">
          <div class="swiper-slide original">
            <div class="r_flavor_mobile">
              <div class="original_flavor"><img src="{{ 'bean-01.png' | asset_img_url: }}" loading="lazy" alt="" class="bean_02"><img src="{{ 'bean-02.png' | asset_img_url: }}" loading="lazy" alt="" class="bean_01"><img src="{{ 'back.png' | asset_img_url: }}" loading="lazy" alt="" class="back_bottle"><img src="{{ 'original..png' | asset_img_url: }}" loading="lazy" alt="" class="front_bottle"><img src="{{ 'shadow.png' | asset_img_url: }}" loading="lazy" alt="" class="shadow_bottle"></div>
              <p class="flavor-label">Original<br></p>
              <div class="r_flavor_desc">
                <p class="flavor-sub"><strong>Javy Coffee&#x27;s Original Concentrate is packed with pure coffee deliciousness.</strong><br></p>
                <p class="r_p_smaller">It brings together the finest Arabica to produce an ultra-flavorful and ultra-smooth classic coffee taste.<br></p>
              </div>
            </div>
          </div>
          <div class="swiper-slide pumpkin">
            <div class="r_flavor_mobile">
              <div class="pumpkin_flavor"><img src="{{ 'back_bean_right.png' | asset_img_url: }}" loading="lazy" alt="" class="bean_02"><img src="{{ 'pumpkin.png' | asset_img_url: }}" loading="lazy" alt="" class="bean_01_right"><img src="{{ 'back_bottle_right.png' | asset_img_url: }}" loading="lazy" alt="" class="back_bottle"><img src="{{ 'pumpkin_1.png' | asset_img_url: }}" loading="lazy" alt="" class="front_bottle"><img src="{{ 'shadow.png' | asset_img_url: }}" loading="lazy" alt="" class="shadow_bottle"></div>
              <p class="flavor-label">Pumpkin Spice<br></p>
              <div class="r_flavor_desc">
                <p class="flavor-sub"><strong>Javy Coffee&#x27;s Pumpkin Spice brings back all of the fall season vibes.</strong><br></p>
                <p class="r_p_smaller">There is no better way to kick off the Holiday season. It is the perfect blend of sweet and spice, mixed with flavors of pumpkin pie and nutmeg.<br></p>
              </div>
            </div>
          </div>
          <div class="swiper-slide vanilla">
            <div class="r_flavor_mobile">
              <div class="vanilla_flavor"><img src="{{ 'bean-01.png' | asset_img_url: }}" loading="lazy" alt="" class="bean_02"><img src="{{ 'vanilla_icon.png' | asset_img_url: }}" loading="lazy" alt="" class="bean_01"><img src="{{ 'back.png' | asset_img_url: }}" loading="lazy" alt="" class="back_bottle"><img src="{{ 'vanilla.png' | asset_img_url: }}" loading="lazy" alt="" class="front_bottle"><img src="{{ 'shadow.png' | asset_img_url: }}" loading="lazy" alt="" class="shadow_bottle"></div>
              <p class="flavor-label">French Vanilla<br></p>
              <div class="r_flavor_desc">
                <p class="flavor-sub"><strong>Javy Coffee&#x27;s Vanilla Concentrate is a must-have for coffee lovers.</strong><br></p>
                <p class="r_p_smaller">This delicious blend of fine Arabica infused with premium vanilla bean is ultra smooth and satisfying.<br></p>
              </div>
            </div>
          </div>
          <div class="swiper-slide caramel">
            <div class="r_flavor_mobile">
              <div class="caramel_flavor"><img src="{{ 'back_bean_right.png' | asset_img_url: }}" loading="lazy" alt="" class="bean_02"><img src="{{ 'caramel_img.png' | asset_img_url: }}" loading="lazy" alt="" class="bean_01_right"><img src="{{ 'back_bottle_right.png' | asset_img_url: }}" loading="lazy" alt="" class="back_bottle"><img src="{{ 'caramel.png' | asset_img_url: }}" loading="lazy" alt="" class="front_bottle"><img src="{{ 'shadow.png' | asset_img_url: }}" loading="lazy" alt="" class="shadow_bottle"></div>
              <p class="flavor-label">Caramel<br></p>
              <div class="r_flavor_desc">
                <p class="flavor-sub"><strong>Javy Coffee&#x27;s Caramel Concentrate is a delicious classic.</strong><br></p>
                <p class="r_p_smaller">Each cup you make will be filled to the brim with the taste of buttery caramel and delicate sweet cream.<br></p>
              </div>
            </div>
          </div>
          <div class="swiper-slide mocha">
            <div class="r_flavor_mobile">
              <div class="mocha_flavor"><img src="{{ 'bean-01.png' | asset_img_url: }}" loading="lazy" alt="" class="bean_02"><img src="{{ 'mocha_icon.png' | asset_img_url: }}" loading="lazy" alt="" class="bean_01"><img src="{{ 'back.png' | asset_img_url: }}" loading="lazy" alt="" class="back_bottle"><img src="{{ 'mocha.png' | asset_img_url: }}" loading="lazy" alt="" class="front_bottle"><img src="{{ 'shadow.png' | asset_img_url: }}" loading="lazy" alt="" class="shadow_bottle"></div>
              <p class="flavor-label">Mocha<br></p>
              <div class="r_flavor_desc">
                <p class="flavor-sub"><strong>Javy Coffee&#x27;s Mocha Concentrate is the perfect mix of chocolate and coffee.</strong><br></p>
                <p class="r_p_smaller">It is the perfect blend of nutty chocolate-vanilla notes and sweet coffee flavor. To top it off there is just a hint of cinnamon for the perfect Mocha drink!<br></p>
              </div>
            </div>
          </div>
          <div class="swiper-slide decaf">
            <div class="r_flavor_mobile">
              <div class="decaf_flavor"><img src="{{ 'back_bean_right.png' | asset_img_url: }}" loading="lazy" alt="" class="bean_02"><img src="{{ 'decaf_icon.png' | asset_img_url: }}" loading="lazy" alt="" class="bean_01_right"><img src="{{ 'back_bottle_right.png' | asset_img_url: }}" loading="lazy" alt="" class="back_bottle"><img src="{{ 'decaf.png' | asset_img_url: }}" loading="lazy" alt="" class="front_bottle"><img src="{{ 'shadow.png' | asset_img_url: }}" loading="lazy" alt="" class="shadow_bottle"></div>
              <p class="flavor-label">Decaf<br></p>
              <div class="r_flavor_desc">
                <p class="flavor-sub"><strong>Javy Coffee&#x27;s Original Decaf Concentrate is packed with pure coffee deliciousness.</strong><br></p>
                <p class="r_p_smaller">It brings together the finest Arabica to produce an ultra-flavorful and ultra-smooth classic coffee taste.<br></p>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="previous-flavor w-inline-block">
          <div class="prev-icon w-icon-slider-right"></div>
        </a>
        <a href="#" class="next-flavor w-inline-block">
          <div class="next-recipe w-icon-slider-right"></div>
        </a>
        <div class="previous-after-flavor"></div>
      </div>
      <a href="#" class="r_btn btn-mobile r_negative_margin w-inline-block">
        <div class="crossell-button-text">SHOP ALL FLAVORS →</div>
      </a>
    </div>
    <div class="r_flavor_tab">
      <div class="w-layout-grid r_flavor_grid">
        <div id="w-node-_481daf10-82d6-15ed-b5e1-bb874d7ecf51-33e8faaa" class="flavor-selector">
          <div data-current="original" data-easing="ease-out" data-duration-in="0" data-duration-out="0" class="qty-tabs w-tabs">
            <div class="flavor-menu on_click w-tab-menu">
              <a data-w-tab="original" data-flavor="original" data-w-id="481daf10-82d6-15ed-b5e1-bb874d7ecf56" class="select-flavor original w-inline-block w-tab-link w--current">
                <div class="flavor-name">Original</div>
              </a>
              <a data-w-tab="caramel" data-flavor="caramel" data-w-id="481daf10-82d6-15ed-b5e1-bb874d7ecf59" class="select-flavor caramel w-inline-block w-tab-link">
                <div class="flavor-name">Caramel</div>
              </a>
              <a data-w-tab="vanilla" data-flavor="vanilla" data-w-id="481daf10-82d6-15ed-b5e1-bb874d7ecf5c" class="select-flavor vanilla w-inline-block w-tab-link">
                <div class="flavor-name">French Vanilla</div>
              </a>
              <a data-w-tab="pumpkin" data-flavor="pumpkin" data-w-id="481daf10-82d6-15ed-b5e1-bb874d7ecf5f" class="select-flavor pumpkin w-inline-block w-tab-link">
                <div class="flavor-name">Pumpkin Spice</div>
              </a>
              <a data-w-tab="mocha" data-flavor="mocha" data-w-id="481daf10-82d6-15ed-b5e1-bb874d7ecf62" class="select-flavor mocha w-inline-block w-tab-link">
                <div class="flavor-name">Mocha</div>
              </a>
              <a data-w-tab="decaf" data-flavor="decaf" data-w-id="481daf10-82d6-15ed-b5e1-bb874d7ecf65" class="select-flavor decaf w-inline-block w-tab-link">
                <div class="flavor-name">Decaf</div>
              </a>
            </div>
            <div class="quantity-info w-tab-content">
              <div data-w-tab="original" class="quantity-content w-tab-pane w--tab-active">
                <div class="flavor-inside">
                  <p class="flavor-sub"><strong>Javy Coffee&#x27;s Original Concentrate is packed with pure coffee deliciousness.</strong><br></p><img loading="eager" src="images/bottles_0000s_0000_Layer-7.png' | asset_img_url: }}" alt="" class="img-tab">
                  <p class="r_p_smaller">It brings together the finest Arabica to produce an ultra-flavorful and ultra-smooth classic coffee taste.<br></p>
                </div>
              </div>
              <div data-w-tab="caramel" class="quantity-content w-tab-pane">
                <div class="flavor-inside">
                  <p class="flavor-sub"><strong>Javy Coffee&#x27;s Caramel Concentrate is a delicious classic.</strong><br></p><img loading="eager" src="images/bottles_0000s_0001_Layer-6.png' | asset_img_url: }}" alt="" class="img-tab">
                  <p class="r_p_smaller">Each cup you make will be filled to the brim with the taste of buttery caramel and delicate sweet cream.<br></p>
                </div>
              </div>
              <div data-w-tab="vanilla" class="quantity-content w-tab-pane">
                <div class="flavor-inside">
                  <p class="flavor-sub"><strong>Javy Coffee&#x27;s Vanilla Concentrate is a must-have for coffee lovers.</strong><br></p><img loading="eager" src="images/bottles_0000s_0003_Layer-4.png' | asset_img_url: }}" alt="" class="img-tab">
                  <p class="r_p_smaller">This delicious blend of fine Arabica infused with premium vanilla bean is ultra smooth and satisfying.<br></p>
                </div>
              </div>
              <div data-w-tab="pumpkin" class="quantity-content w-tab-pane">
                <div class="flavor-inside">
                  <p class="flavor-sub"><strong>Javy Coffee&#x27;s Pumpkin Spice brings back all of the fall season vibes.</strong><br></p><img loading="eager" src="images/bottles_0000s_0004_Layer-3.png' | asset_img_url: }}" alt="" class="img-tab">
                  <p class="r_p_smaller">There is no better way to kick off the Holiday season. It is the perfect blend of sweet and spice, mixed with flavors of pumpkin pie and nutmeg.<br></p>
                </div>
              </div>
              <div data-w-tab="mocha" class="quantity-content w-tab-pane">
                <div class="flavor-inside">
                  <p class="flavor-sub"><strong>Javy Coffee&#x27;s Mocha Concentrate is the perfect mix of chocolate and coffee.</strong><br></p><img loading="eager" src="images/bottles_0000s_0002_Layer-5.png' | asset_img_url: }}" alt="" class="img-tab">
                  <p class="r_p_smaller">It is the perfect blend of nutty chocolate-vanilla notes and sweet coffee flavor. To top it off there is just a hint of cinnamon for the perfect Mocha drink!<br></p>
                </div>
              </div>
              <div data-w-tab="decaf" class="quantity-content w-tab-pane">
                <div class="flavor-inside">
                  <p class="flavor-sub"><strong>Javy Coffee&#x27;s Original Decaf Concentrate is packed with pure coffee deliciousness.</strong><br></p><img loading="eager" src="images/bottles_0000s_0000_Layer-7.png' | asset_img_url: }}" alt="" class="img-tab">
                  <p class="r_p_smaller">It brings together the finest Arabica to produce an ultra-flavorful and ultra-smooth classic coffee taste.<br></p>
                </div>
              </div>
            </div>
          </div>
          <a href="#" class="r_btn btn-mobile w-inline-block">
            <div class="crossell-button-text">SHOP ALL FLAVORS</div>
          </a>
        </div>
        <div id="w-node-_481daf10-82d6-15ed-b5e1-bb874d7ecfa5-33e8faaa" class="r_flavor_container">
          <div class="flavor-container">
            <div class="decaf_flavor"><img src="{{ 'back_bean_right.png' | asset_img_url: }}" loading="eager" alt="" class="bean_02"><img src="{{ 'decaf_icon.png' | asset_img_url: }}" loading="eager" alt="" class="bean_01_right"><img src="{{ 'back_bottle_right.png' | asset_img_url: }}" loading="eager" alt="" class="back_bottle"><img src="{{ 'decaf.png' | asset_img_url: }}" loading="eager" alt="" class="front_bottle"><img src="{{ 'shadow.png' | asset_img_url: }}" loading="eager" alt="" class="shadow_bottle"></div>
            <div class="mocha_flavor"><img src="{{ 'beans.png' | asset_img_url: }}" loading="eager" alt="" class="back_beans"><img src="{{ 'bean-01.png' | asset_img_url: }}" loading="eager" alt="" class="bean_02"><img src="{{ 'mocha_icon.png' | asset_img_url: }}" loading="eager" alt="" class="bean_01"><img src="{{ 'back.png' | asset_img_url: }}" loading="eager" alt="" class="back_bottle"><img src="{{ 'mocha.png' | asset_img_url: }}" loading="eager" alt="" class="front_bottle"><img src="{{ 'shadow.png' | asset_img_url: }}" loading="eager" alt="" class="shadow_bottle"></div>
            <div class="vanilla_flavor"><img src="{{ 'beans.png' | asset_img_url: }}" loading="eager" alt="" class="back_beans"><img src="{{ 'bean-01.png' | asset_img_url: }}" loading="eager" alt="" class="bean_02"><img src="{{ 'vanilla_icon.png' | asset_img_url: }}" loading="eager" alt="" class="bean_01"><img src="{{ 'back.png' | asset_img_url: }}" loading="eager" alt="" class="back_bottle"><img src="{{ 'vanilla.png' | asset_img_url: }}" loading="eager" alt="" class="front_bottle"><img src="{{ 'shadow.png' | asset_img_url: }}" loading="eager" alt="" class="shadow_bottle"></div>
            <div class="caramel_flavor"><img src="{{ 'beans.png' | asset_img_url: }}" loading="eager" alt="" class="back_beans"><img src="{{ 'back_bean_right.png' | asset_img_url: }}" loading="eager" alt="" class="bean_02"><img src="{{ 'caramel_img.png' | asset_img_url: }}" loading="eager" alt="" class="bean_01_right"><img src="{{ 'back_bottle_right.png' | asset_img_url: }}" loading="eager" alt="" class="back_bottle"><img src="{{ 'caramel.png' | asset_img_url: }}" loading="eager" alt="" class="front_bottle"><img src="{{ 'shadow.png' | asset_img_url: }}" loading="eager" alt="" class="shadow_bottle"></div>
            <div class="pumpkin_flavor"><img src="{{ 'beans.png' | asset_img_url: }}" loading="eager" alt="" class="back_beans"><img src="{{ 'back_bean_right.png' | asset_img_url: }}" loading="eager" alt="" class="bean_02"><img src="{{ 'pumpkin.png' | asset_img_url: }}" loading="eager" alt="" class="bean_01_right"><img src="{{ 'back_bottle_right.png' | asset_img_url: }}" loading="eager" alt="" class="back_bottle"><img src="{{ 'pumpkin_1.png' | asset_img_url: }}" loading="eager" alt="" class="front_bottle"><img src="{{ 'shadow.png' | asset_img_url: }}" loading="eager" alt="" class="shadow_bottle"></div>
            <div class="original_flavor"><img src="{{ 'beans.png' | asset_img_url: }}" loading="eager" alt="" class="back_beans"><img src="{{ 'bean-01.png' | asset_img_url: }}" loading="eager" alt="" class="bean_02"><img src="{{ 'bean-02.png' | asset_img_url: }}" loading="eager" alt="" class="bean_01"><img src="{{ 'back.png' | asset_img_url: }}" loading="eager" alt="" class="back_bottle"><img src="{{ 'original..png' | asset_img_url: }}" loading="eager" alt="" class="front_bottle"><img src="{{ 'shadow.png' | asset_img_url: }}" loading="eager" alt="" class="shadow_bottle"></div>
          </div>
        </div>
        <div id="w-node-_481daf10-82d6-15ed-b5e1-bb874d7ecfb8-33e8faaa" class="r_qty_selector">
          <div class="r_title_holder">
            <div class="r_review_container hide-desktop"><img src="{{ 'rating-stars.svg' | asset_img_url: }}" loading="lazy" alt="rating-stars" class="rating-stars mr-5">
              <p class="sm-text">8,791 + trusted reviews</p>
            </div>
            <p data-w-id="7d743774-61be-84ca-91c3-69f54815d2e4" style="opacity:0" class="r_p">Instantly craft any style coffee that you want in seconds. Simply add 1-2 tsp of Javy Coffee Concentrate and enjoy your favorite drink.<br></p>
            <a href="#" class="r_btn r_btn_desktop w-inline-block">
              <div class="crossell-button-text">SHOP ALL FLAVORS →</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="r_bg_flavors"></div>
  </div>
  <div class="r_section">
    <div class="r_container">
      <div class="r_title_wrapper r_centered">
        <h2 class="r_h2 m_t_0">Bundle &amp; Save</h2>
        <p class="r_p r_bigger">Making delicious coffee at home or on-the-go has only become more of a hassle. Javy reinvented the coffee experience to be easy, affordable, and extremely tasty!<br></p>
      </div>
      <div class="w-layout-grid r_deals_grid">
        <div class="r_bundle_save_item set_kit">
          <div class="img-container"><img src="{{ 'new-imgs_0005_Layer-1.jpg' | asset_img_url: }}" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 95vw, (max-width: 1041px) 96vw, 1000px" srcset="{{ 'new-imgs_0005_Layer-1-p-500.jpeg' | asset_img_url: }} 500w, images/new-imgs_0005_Layer-1.jpg' | asset_img_url: }} 1000w" alt=""></div>
          <div class="desc-container">
            <h3 class="r_h3 m_0">Bundle &amp; Save<a href="https://drinkolipop.com/pages/subscription#featured-product"><strong><br></strong></a>
            </h3>
            <p class="r_p r_medium">Life is all about what you make of it.<br></p>
            <a href="#" data-w-id="f04ec705-8a95-6042-743c-17ddb3fce378" style="opacity:0" class="r_btn r_btn_desktop w-inline-block">
              <div class="crossell-button-text">SHOP NOW →</div>
            </a>
          </div>
        </div>
        <div class="r_bundle_save_item set_kit">
          <div class="img-container"><img src="{{ 'new-imgs_0005_Layer-1.jpg' | asset_img_url: }}" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 95vw, (max-width: 1041px) 96vw, 1000px" srcset="{{ 'new-imgs_0005_Layer-1-p-500.jpeg' | asset_img_url: }} 500w, images/new-imgs_0005_Layer-1.jpg' | asset_img_url: }} 1000w" alt=""></div>
          <div class="desc-container">
            <h4 class="r_h3 m_0">Bundle &amp; Save<a href="https://drinkolipop.com/pages/subscription#featured-product"><strong><br></strong></a>
            </h4>
            <p class="r_p r_medium">Life is all about what you make of it.<br></p>
            <a href="#" data-w-id="60a19be8-f65a-9ca7-cb48-166f2b52dc54" style="opacity:0" class="r_btn r_btn_desktop w-inline-block">
              <div class="crossell-button-text">SHOP NOW →</div>
            </a>
          </div>
        </div>
        <div class="r_bundle_save_item set_kit">
          <div class="img-container"><img src="{{ 'new-imgs_0005_Layer-1.jpg' | asset_img_url: }}" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 95vw, (max-width: 1041px) 96vw, 1000px" srcset="{{ 'new-imgs_0005_Layer-1-p-500.jpeg' | asset_img_url: }} 500w, images/new-imgs_0005_Layer-1.jpg' | asset_img_url: }} 1000w" alt=""></div>
          <div class="desc-container">
            <h4 class="r_h3 m_0">Bundle &amp; Save<a href="https://drinkolipop.com/pages/subscription#featured-product"><strong><br></strong></a>
            </h4>
            <p class="r_p r_medium">Life is all about what you make of it.<br></p>
            <a href="#" data-w-id="59329e44-e714-5b70-d38c-4ee1461df1f1" style="opacity:0" class="r_btn r_btn_desktop w-inline-block">
              <div class="crossell-button-text">SHOP NOW →</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="r_section r_cream">
    <div class="r_container">
      <div class="r_title_wrapper r_centered r_bigger">
        <h2 class="r_h2 m_t_0">Brewed up with positivity for the creatives, dreamers, and go-getters.</h2>
        <p class="r_p r_bigger">Life is all about what you make of it, and coffee truly makes it so much better. At Javy, we recognize how much coffee enhances our mood, energy, and quality of life.  It fuels our imagination, our aspirations, and our desire to live our best life. It helps build our relationships with our families, friends, and communities.<br></p>
        <a href="#" data-w-id="00420b77-7094-8db2-aae1-f0b26f41f9d0" style="opacity:0" class="r_btn r_btn_desktop w-inline-block">
          <div class="crossell-button-text">LEARN MORE →</div>
        </a>
      </div>
    </div>
  </div>
  <div class="r_section r_p_t_0">
    <div class="r_container">
      <div data-w-id="607527d3-1c66-7fda-fffd-54f9339f4bbf" class="four-column">
        <div class="w-layout-grid r_content_grid">
          <div class="r_content_wrapper">
            <div class="r_line_wrapper">
              <div class="r_content_line"></div>
              <div class="r_line_text">Features</div>
            </div>
            <div class="r_title_wrapper r_h3">
              <h3 class="r_heading r_h3 r_m_0">Feel the difference or it&#x27;s free</h3>
            </div>
            <p class="r_p">Instantly craft any style coffee that you want in seconds. Simply add 1-2 tsp of Javy Coffee Concentrate and enjoy your favorite drink.<br></p>
          </div>
          <div id="w-node-fdb25ca6-9f4e-e0cd-9062-8a78f2add3c1-33e8faaa" class="r_inner_full r_first_child">
            <div class="r_content_img_wrap"><img src="{{ 'feature_03.jpg' | asset_img_url: }}" loading="lazy" alt="Photo" class="r_feature_img"></div>
          </div>
        </div>
        <div class="w-layout-grid r_content_grid">
          <div id="w-node-_76857134-c823-feee-6800-3b429818dec3-33e8faaa" class="r_inner_full">
            <div class="r_content_img_wrap r_left_justified"><img src="{{ 'feature_02.jpg' | asset_img_url: }}" loading="lazy" alt="Photo" class="r_feature_img"></div>
          </div>
          <div class="r_content_wrapper">
            <div class="r_line_wrapper">
              <div class="r_content_line"></div>
              <div class="r_line_text">Features</div>
            </div>
            <h3 class="r_heading r_h3 r_m_0">Feel the difference or it&#x27;s free</h3>
            <p class="r_p">Instantly craft any style coffee that you want in seconds. Simply add 1-2 tsp of Javy Coffee Concentrate and enjoy your favorite drink.<br></p>
            <a href="#" class="r_btn r_auto">See More</a>
          </div>
        </div>
        <div class="w-layout-grid r_content_grid">
          <div class="r_content_wrapper">
            <div class="r_line_wrapper">
              <div class="r_content_line"></div>
              <div class="r_line_text">Features</div>
            </div>
            <h3 class="r_heading r_h3 r_m_0">Feel the difference or it&#x27;s free</h3>
            <p class="r_p">Instantly craft any style coffee that you want in seconds. Simply add 1-2 tsp of Javy Coffee Concentrate and enjoy your favorite drink.<br></p>
          </div>
          <div id="w-node-fcbc23f4-234d-3c01-279c-bc99908ce8ea-33e8faaa" class="r_inner_full r_first_child">
            <div class="r_content_img_wrap"><img src="{{ 'feature_01.jpg' | asset_img_url: }}" loading="lazy" alt="Photo" class="r_feature_img"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="r_section">
    <div class="r_container">
      <div class="r_container_btn">
        <div class="r_title_wrapper">
          <h2 class="r_h2 m_t_0">Shop Javy Gear</h2>
          <p class="r_p r_bigger">Blablablalbaa<br></p>
        </div>
        <a href="#" class="r_btn r_btn_desktop w-inline-block">
          <div class="crossell-button-text">VIEW ALL</div>
        </a>
      </div>
      <div class="r_product_section">
        <div class="r_javy_gear_container">
          <div class="w-layout-grid grid-21">
            <div class="gear-item">
              <div class="gear-image"><img src="{{ 'tumbler_750x_30d05feb-9edc-4776-b894-13e77933a9de_590x.png' | asset_img_url: }}" loading="lazy" alt=""></div>
              <div class="gear-text">
                <div class="product-title">
                  <div class="r_item_title">Thermal Travel Tumbler</div>
                </div>
                <div class="product-price">
                  <div class="r_item_price">$19.95</div>
                </div>
              </div>
            </div>
            <div class="gear-item">
              <div class="gear-image"><img src="{{ 'tumbler_750x_30d05feb-9edc-4776-b894-13e77933a9de_590x.png' | asset_img_url: }}" loading="lazy" alt=""></div>
              <div class="gear-text">
                <div class="product-title">
                  <div class="r_item_title">Thermal Travel Tumbler</div>
                </div>
                <div class="product-price">
                  <div class="r_item_price">$19.95</div>
                </div>
              </div>
            </div>
            <div class="gear-item">
              <div class="gear-image"><img src="{{ 'tumbler_750x_30d05feb-9edc-4776-b894-13e77933a9de_590x.png' | asset_img_url: }}" loading="lazy" alt=""></div>
              <div class="gear-text">
                <div class="product-title">
                  <div class="r_item_title">Thermal Travel Tumbler</div>
                </div>
                <div class="product-price">
                  <div class="r_item_price">$19.95</div>
                </div>
              </div>
            </div>
            <div class="gear-item">
              <div class="gear-image"><img src="{{ 'tumbler_750x_30d05feb-9edc-4776-b894-13e77933a9de_590x.png' | asset_img_url: }}" loading="lazy" alt=""></div>
              <div class="gear-text">
                <div class="product-title">
                  <div class="r_item_title">Thermal Travel Tumbler</div>
                </div>
                <div class="product-price">
                  <div class="r_item_price">$19.95</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="r_section">
    <div class="r_container">
      <div class="r_container_btn">
        <div class="r_title_wrapper">
          <h2 class="r_h2 m_t_0">What are we brewing?</h2>
          <p class="r_p r_bigger">Discover the best coffee recipes at our secret kitchen!<br></p>
        </div>
        <a href="#" class="r_btn r_btn_desktop w-inline-block">
          <div class="crossell-button-text">VIEW ALL</div>
        </a>
      </div>
      <div class="w-layout-grid r_recipe_section">
        <div class="r_featured_container">
          <h3 class="r_h3 m_b_30">Featured Recipe<a href="https://drinkolipop.com/pages/subscription#featured-product"><strong><br></strong></a>
          </h3>
          <a data-w-id="4693ef91-01b1-841e-510a-f3c980568ef7" href="#" class="r_recipe_feature w-inline-block">
            <div class="r_feature_image"><img src="{{ '20210927160116-salted-caramel-javy-mocha-latte.jpg' | asset_img_url: }}" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 95vw, (max-width: 1919px) 96vw, 1280px" srcset="{{ '20210927160116-salted-caramel-javy-mocha-latte-p-800.jpeg' | asset_img_url: }} 800w, images/20210927160116-salted-caramel-javy-mocha-latte.jpg' | asset_img_url: }} 1000w" alt="" class="image-cover"></div>
            <div class="r_featured_content">
              <div class="r_category_badge">
                <div class="r_category_text">fall</div>
              </div>
              <h3 class="r_heading r_h3 r_smaller r_m_0">Healthy Recipes For A Healthy Monday</h3>
              <p class="r_p r_p_0">Etiam a fringilla ex. Maecenas fusce id ligula ultricies...<br></p>
            </div>
          </a>
        </div>
        <div class="r_recipes_container">
          <h3 class="r_h3 m_b_30">Latest Recipes<a href="https://drinkolipop.com/pages/subscription#featured-product"><strong><br></strong></a>
          </h3>
          <div class="w-layout-grid r_recipe_list_grid">
            <a href="#" class="r_recipe_item w-inline-block">
              <div class="r_recipe_thumbnail_small"><img src="{{ '20210923142717-fall-javy-dalgona.jpg' | asset_img_url: }}" loading="lazy" alt="" class="image-cover"></div>
              <div class="r_recipe_content_wrapper">
                <div class="r_category_badge">
                  <div class="r_category_text">iced coffee</div>
                </div>
                <h3 class="r_heading r_h3 r_smaller r_m_0">Thanksgiving Focaccia</h3>
                <p class="r_p_smaller">Etiam a fringilla ex. Maecenas fusce id ligula ultricies...</p>
              </div>
            </a>
            <a href="#" class="r_recipe_item w-inline-block">
              <div class="r_recipe_thumbnail_small"><img src="{{ 'WhatsApp_Image_2021-04-16_at_14.24.21_wmgrdm.jpg' | asset_img_url: }}" loading="lazy" sizes="(max-width: 991px) 100px, 150px" srcset="{{ 'WhatsApp_Image_2021-04-16_at_14.24.21_wmgrdm-p-800.jpeg' | asset_img_url: }} 800w, images/WhatsApp_Image_2021-04-16_at_14.24.21_wmgrdm.jpg' | asset_img_url: }} 1000w" alt="" class="image-cover"></div>
              <div class="r_recipe_content_wrapper">
                <div class="r_category_badge">
                  <div class="r_category_text">hot coffee</div>
                </div>
                <h3 class="r_heading r_h3 r_smaller r_m_0">Apple Caramel Pie</h3>
                <p class="r_p_smaller">Etiam a fringilla ex. Maecenas fusce id ligula ultricies...</p>
              </div>
            </a>
            <a href="#" class="r_recipe_item w-inline-block">
              <div class="r_recipe_thumbnail_small"><img src="{{ '20210927161533-white-chocolate-pumpkin-spice-latte.jpg' | asset_img_url: }}" loading="lazy" sizes="(max-width: 991px) 100px, 150px" srcset="{{ '20210927161533-white-chocolate-pumpkin-spice-latte-p-500.jpeg' | asset_img_url: }} 500w, images/20210927161533-white-chocolate-pumpkin-spice-latte-p-800.jpeg' | asset_img_url: }} 800w, images/20210927161533-white-chocolate-pumpkin-spice-latte-p-1080.jpeg' | asset_img_url: }} 1080w, images/20210927161533-white-chocolate-pumpkin-spice-latte.jpg' | asset_img_url: }} 1600w" alt="" class="image-cover"></div>
              <div class="r_recipe_content_wrapper">
                <div class="r_category_badge">
                  <div class="r_category_text">super coffee</div>
                </div>
                <h3 class="r_heading r_h3 r_smaller r_m_0">Caramelized Beef With Rice</h3>
                <p class="r_p_smaller">Etiam a fringilla ex. Maecenas fusce id ligula ultricies...</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  

{% schema %}
  {
    "name": "[R] Custom Home",
    "max_blocks": 10,
    "settings": [],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

