


      <header class="section-header">
         <div class="r_top_title_small">#1 CHOICE FOR ICED COFFEE THIS SUMMER</div>
        <h1 class="section-header__title">
         Thousands of Raving <br>Customers
        </h1>
                  <p class="r_sub_h2 m_t_15">Javy customers are obsessed with making all kinds of different coffees.</p>

      </header>



    <div class="r_section m_t_25">
      <div class="r_container r_center">
        <div class="reviews-list">
          <div class="review-item-2">
            <div class="review-item-image-wrapper"><img src="{{ '01.jpg' | asset_url}}" loading="lazy" alt="" class="review-person"></div>
            <div class="review-info">
              <div class="review-info-head-2">
                <div class="review-info-head-block">
                  <div class="person-name-2">Marina P.</div>
                  <div class="verified-sc"><img src="{{ 'check-testimonials.svg' | asset_url}}" loading="lazy" alt="" class="check-green">
                    <div class="verified-text">VERIFIED BUYER</div>
                  </div>
                </div><img src="{{ 'rating-stars_1.svg' | asset_url}}" loading="lazy" alt="">
              </div>
              <p class="review-text">&quot;Javy is rich and smooth. You can&#x27;t beat the convenience and Javy doesn&#x27;t compromise quality at all. It is now a big part of my morning routine and saves this working mama in grad school so much valuable time.&quot;</p>
              <div class="review-type">
                <div class="item-text-2">PRODUCT TYPE</div>
                <p class="sm-text-2 text-gray">Javy Coffee Concentrate</p>
              </div>
            </div>
          </div>
          <div class="review-item-2">
            <div class="review-item-image-wrapper"><img src="{{ 'review04.jpg' | asset_url}}" loading="lazy" alt="" class="review-person"></div>
            <div class="review-info">
              <div class="review-info-head-2">
                <div class="review-info-head-block">
                  <div class="person-name-2">Artur S.</div>
                  <div class="verified-sc"><img src="{{ 'check-testimonials.svg' | asset_url}}" loading="lazy" alt="" class="check-green">
                    <div class="verified-text">VERIFIED BUYER</div>
                  </div>
                </div><img src="{{ 'rating-stars_1.svg' | asset_url}}" loading="lazy" alt="">
              </div>
              <p class="review-text">This coffee offers a pleasant taste which I have increased from 1 cup to 3 cups daily. It replaces all the equipment that it takes to make a cup of coffee. Also, waste amounts don’t exist anymore.</p>
              <div class="review-type">
                <div class="item-text-2">PRODUCT TYPE</div>
                <p class="sm-text-2 text-gray">Javy Coffee Concentrate</p>
              </div>
            </div>
          </div>
          <div class="review-item-2">
            <div class="review-item-image-wrapper"><img src="{{ '03.jpg' | asset_url}}" loading="lazy" alt="" class="review-person"></div>
            <div class="review-info">
              <div class="review-info-head-2">
                <div class="review-info-head-block">
                  <div class="person-name-2">Sabrina P.</div>
                  <div class="verified-sc"><img src="{{ 'check-testimonials.svg' | asset_url}}" loading="lazy" alt="" class="check-green">
                    <div class="verified-text">VERIFIED BUYER</div>
                  </div>
                </div><img src="{{ 'rating-stars_1.svg' | asset_url}}" loading="lazy" alt="">
              </div>
              <p class="review-text">I am telling others about this product it is great in protein shakes, water or even in milk and way cheaper then buying an iced coffee at other places.</p>
              <div class="review-type">
                <div class="item-text-2">PRODUCT TYPE</div>
                <p class="sm-text-2 text-gray">Javy Coffee Concentrate</p>
              </div>
            </div>
          </div>
          <div class="review-item-2">
            <div class="review-item-image-wrapper"><img src="{{ '04.jpg' | asset_url}}" loading="lazy" alt="" class="review-person"></div>
            <div class="review-info">
              <div class="review-info-head-2">
                <div class="review-info-head-block">
                  <div class="person-name-2">Angela A.</div>
                  <div class="verified-sc"><img src="{{ 'check-testimonials.svg' | asset_url}}" loading="lazy" alt="" class="check-green">
                    <div class="verified-text">VERIFIED BUYER</div>
                  </div>
                </div><img src="{{ 'rating-stars_1.svg' | asset_url}}" loading="lazy" alt="">
              </div>
              <p class="review-text">Absolutely love the coffee. It’s easy and quick. I can make it to my own strength and recipes perfectly. I do not like the spout on the bottle as it tends to drip and I waste product and make a mess. 😊</p>
              <div class="review-type">
                <div class="item-text-2">PRODUCT TYPE</div>
                <p class="sm-text-2 text-gray">Javy Coffee Concentrate</p>
              </div>
            </div>
          </div>
        </div>
        <h2 class="r_h2 m_t_0">More Customer Reviews</h2>
        <div class="r_okendo_reviews">
          <div class="div-block-269-copy">
            <div class="feature-list-stars">
              <div class="feature-title">
                <div class="title-for-feature">Caffeine Amount</div>
              </div>
              <div class="feature-stars">
                <p class="star-para dr"><span class="stars-review"></span></p>
                <div class="average-rating">4.7</div>
              </div>
            </div>
            <div class="feature-list-stars">
              <div class="feature-title">
                <div class="title-for-feature">Convenience</div>
              </div>
              <div class="feature-stars">
                <p class="star-para dr"><span class="stars-review"></span></p>
                <div class="average-rating">4.9</div>
              </div>
            </div>
            <div class="feature-list-stars">
              <div class="feature-title">
                <div class="title-for-feature">Easy To Use</div>
              </div>
              <div class="feature-stars">
                <p class="star-para dr"><span class="stars-review"></span></p>
                <div class="average-rating">4.7</div>
              </div>
            </div>
            <div class="feature-list-stars">
              <div class="feature-title">
                <div class="title-for-feature">Flavor Profile</div>
              </div>
              <div class="feature-stars">
                <p class="star-para dr"><span class="stars-review"></span></p>
                <div class="average-rating">4.8</div>
              </div>
            </div>
            <div class="feature-list-stars">
              <div class="feature-title">
                <div class="title-for-feature">Value For Money</div>
              </div>
              <div class="feature-stars">
                <p class="star-para dr"><span class="stars-review"></span></p>
                <div class="average-rating">4.9</div>
              </div>
            </div>
          </div>

                    <div data-oke-reviews-widget=""></div>

        </div>
      </div>
    </div>




  
                
<style>
  .page-full.page-content {
    display: none;
}
</style>



{% schema %}
  {
    "name": "[R] Reviews",
    "max_blocks": 10,
    "settings": [],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "[R] Reviews",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

