       {%- assign blog = blogs[section.settings.blog] -%}

   
    <div class="r_section">
      <div class="r_container">
        <div class="r_container_btn">
          <div class="r_title_wrapper full_width">
            <h2 class="r_h2 m_t_0">What Are We Brewing?</h2>
            <a href="https://javycoffee.com/blogs/recipes" class="r_btn r_btn_desktop r_hide_btn w-inline-block">
              <div class="crossell-button-text">VIEW ALL</div>
            </a>
          </div>
          <p class="r_p r_bigger">See trending recipes from the Javy Community<br></p>
        </div>
        <div class="w-layout-grid r_recipe_section">
          <div id="w-node-_20342f7c-be7c-6978-b98c-7658b7ed1ba4-33e8faaa" class="r_featured_container">
            <a data-w-id="4693ef91-01b1-841e-510a-f3c980568ef7" href="https://javycoffee.com/blogs/recipes/white-chocolate-pumpkin-spice-mocha" class="r_recipe_feature w-inline-block">
              <div class="r_feature_image"><img src="{{ '20210927160116-salted-caramel-javy-mocha-latte.jpg' | asset_url}}" loading="lazy" sizes="(max-width: 991px) 100vw, (max-width: 1919px) 96vw, 1200px" srcset="{{ '20210927160116-salted-caramel-javy-mocha-latte-p-800.jpeg' | asset_url}} 800w, {{ '20210927160116-salted-caramel-javy-mocha-latte.jpg' | asset_url}} 1000w" alt="" class="image-cover"></div>
              <div class="r_featured_content">
                <h3 class="r_heading r_h3 r_smaller r_m_0">White Chocolate Pumpkin Spice Latte<br></h3>
                <p class="r_p_smaller">This warm White Chocolate Pumpkin Spice Latte has just the right amount of chocolate, spices, and pumpkin goodness!</p>
              </div>
              <div class="r_featured_title">
                <h3 class="r_h3 m_0">Featured Recipe</h3>
              </div>
            </a>
          </div>
          <div class="r_recipes_container">

              {%- if section.settings.title != blank -%}
        <h3 class="r_h3 m_b_30 m_t_0">
          {{ section.settings.title | escape }}
        </h3>
    {%- endif -%}


   <div class="w-layout-grid r_recipe_list_grid">

        {%- for article in blog.articles limit: 3 -%}
        <a href="{{ article.url }}" class="r_recipe_item w-inline-block">
            {%- render 'recipe-grid-item',
              blog: blog,
              article: article,
              image_size: section.settings.blog_image_size,
              show_excerpt: section.settings.blog_show_excerpt,
              show_author: section.settings.blog_show_author,
              show_date: section.settings.blog_show_date,
              show_comments: section.settings.blog_show_comments,
              show_tags: section.settings.blog_show_tags -%}
              </a>
        {%- endfor -%}

</div>




            </div>
          </div>
        </div>
      </div>
    </div>


{% schema %}
  {
    "name": "[R] Recipes",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "default": 3,
        "min": 3,
        "max": 12,
        "step": 3
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags"
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comments",
        "label": "Show comment count"
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author"
      },
      {
        "type": "checkbox",
        "id": "blog_show_excerpt",
        "label": "Show excerpt"
      },
      {
        "type": "select",
        "id": "blog_image_size",
        "label": "Image size",
        "default": "wide",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          },
          {
            "value": "square",
            "label": "Square (1:1)"
          },
          {
            "value": "landscape",
            "label": "Landscape (4:3)"
          },
          {
            "value": "portrait",
            "label": "Portrait (2:3)"
          },
          {
            "value": "wide",
            "label": "Wide (16:9)"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "view_all",
        "label": "Show 'View all' button",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "alt",
        "label": "Use alternate section color"
      }
    ],
    "presets": [
      {
        "name": "[R] Recipes",
        "settings": {
          "blog": "Recipes",
          "post_limit": 3
        }
      }
    ]
  }
{% endschema %}
