    <div class="r_section">
      <div class="r_container">
        <div class="r_container_btn">
          <div class="r_title_wrapper">
            <h2 class="r_h2 m_t_0">What are we brewing?</h2>
            <p class="r_p r_bigger">Discover the best coffee recipes at our secret kitchen!<br></p>
          </div>
          <a href="#" class="r_btn r_btn_desktop w-inline-block">
            <div class="crossell-button-text">VIEW ALL</div>
          </a>
        </div>
        <div class="w-layout-grid r_recipe_section">
          <div class="r_featured_container">
            <h3 class="r_h3 m_b_30">Featured Recipe<a href="https://drinkolipop.com/pages/subscription#featured-product"><strong><br></strong></a>
            </h3>
            <a data-w-id="4693ef91-01b1-841e-510a-f3c980568ef7" href="#" class="r_recipe_feature w-inline-block">
              <div class="r_feature_image"><img src="{{ '20210927160116-salted-caramel-javy-mocha-latte.jpg' | asset_url}}" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 767px) 95vw, (max-width: 1919px) 96vw, 1280px" srcset="{{ '20210927160116-salted-caramel-javy-mocha-latte-p-800.jpeg' | asset_url}} 800w, {{ '20210927160116-salted-caramel-javy-mocha-latte.jpg' | asset_url}} 1000w" alt="" class="image-cover"></div>
              <div class="r_featured_content">
                <div class="r_category_badge">
                  <div class="r_category_text">fall</div>
                </div>
                <h3 class="r_heading r_h3 r_smaller r_m_0">Healthy Recipes For A Healthy Monday</h3>
                <p class="r_p r_p_0">Etiam a fringilla ex. Maecenas fusce id ligula ultricies...<br></p>
              </div>
            </a>
          </div>
          <div class="r_recipes_container">
            <h3 class="r_h3 m_b_30">Latest Recipes<a href="https://drinkolipop.com/pages/subscription#featured-product"><strong><br></strong></a>
            </h3>
            <div class="w-layout-grid r_recipe_list_grid">
              <a href="#" class="r_recipe_item w-inline-block">
                <div class="r_recipe_thumbnail_small"><img src="{{ '20210923142717-fall-javy-dalgona.jpg' | asset_url}}" loading="lazy" alt="" class="image-cover"></div>
                <div class="r_recipe_content_wrapper">
                  <div class="r_category_badge">
                    <div class="r_category_text">iced coffee</div>
                  </div>
                  <h3 class="r_heading r_h3 r_smaller r_m_0">Thanksgiving Focaccia</h3>
                  <p class="r_p_smaller">Etiam a fringilla ex. Maecenas fusce id ligula ultricies...</p>
                </div>
              </a>
              <a href="#" class="r_recipe_item w-inline-block">
                <div class="r_recipe_thumbnail_small"><img src="{{ 'WhatsApp_Image_2021-04-16_at_14.24.21_wmgrdm.jpg' | asset_url}}" loading="lazy" sizes="(max-width: 991px) 100px, 150px" srcset="{{ 'WhatsApp_Image_2021-04-16_at_14.24.21_wmgrdm-p-800.jpeg' | asset_url}} 800w, {{ 'WhatsApp_Image_2021-04-16_at_14.24.21_wmgrdm.jpg' | asset_url}} 1000w" alt="" class="image-cover"></div>
                <div class="r_recipe_content_wrapper">
                  <div class="r_category_badge">
                    <div class="r_category_text">hot coffee</div>
                  </div>
                  <h3 class="r_heading r_h3 r_smaller r_m_0">Apple Caramel Pie</h3>
                  <p class="r_p_smaller">Etiam a fringilla ex. Maecenas fusce id ligula ultricies...</p>
                </div>
              </a>
              <a href="#" class="r_recipe_item w-inline-block">
                <div class="r_recipe_thumbnail_small"><img src="{{ '20210927161533-white-chocolate-pumpkin-spice-latte.jpg' | asset_url}}" loading="lazy" sizes="(max-width: 991px) 100px, 150px" srcset="{{ '20210927161533-white-chocolate-pumpkin-spice-latte-p-500.jpeg' | asset_url}} 500w, {{ '20210927161533-white-chocolate-pumpkin-spice-latte-p-800.jpeg' | asset_url}} 800w, {{ '20210927161533-white-chocolate-pumpkin-spice-latte-p-1080.jpeg' | asset_url}} 1080w, {{ '20210927161533-white-chocolate-pumpkin-spice-latte.jpg' | asset_url}} 1600w" alt="" class="image-cover"></div>
                <div class="r_recipe_content_wrapper">
                  <div class="r_category_badge">
                    <div class="r_category_text">super coffee</div>
                  </div>
                  <h3 class="r_heading r_h3 r_smaller r_m_0">Caramelized Beef With Rice</h3>
                  <p class="r_p_smaller">Etiam a fringilla ex. Maecenas fusce id ligula ultricies...</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% schema %}
  {
    "name": "[R] Recipes",
    "max_blocks": 10,
    "settings": [],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

