    <div class="r_section r_p_0">
      <div class="r_seen_inner">
        <div class="r_seen_swiper">
          <div class="r_logo-container">
            <div class="r_content-holder">
              <div class="r_logo-slide-wrapper"><img src="{{ 'logo_us_today.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-8"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'fox.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-5"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'cbs_news.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-6"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'nbc.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-7"></div>
            </div>
            <div class="r_content-holder">
              <div class="r_logo-slide-wrapper"><img src="{{ 'us_mag.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img lozad"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'marketwatch.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-2 lozad"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'g-news.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-3 lozad"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'ncn_news.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-4 lozad"></div>
            </div>
            <div class="r_content-holder">
              <div class="r_logo-slide-wrapper"><img src="{{ 'logo_us_today.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-8"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'fox.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-5"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'cbs_news.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-6"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'nbc.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-7"></div>
            </div>
            <div class="r_content-holder">
              <div class="r_logo-slide-wrapper"><img src="{{ 'logo_us_today.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-8"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'fox.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-5"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'cbs_news.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-6"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'nbc.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-7"></div>
            </div>
            <div class="r_content-holder">
              <div class="r_logo-slide-wrapper"><img src="{{ 'logo_us_today.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-8"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'fox.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-5"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'cbs_news.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-6"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'nbc.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-7"></div>
            </div>
          </div>
          <div class="r_logo-container">
            <div class="r_content-holder">
              <div class="r_logo-slide-wrapper"><img src="{{ 'logo_us_today.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-8"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'fox.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-5"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'cbs_news.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-6"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'nbc.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-7"></div>
            </div>
            <div class="r_content-holder">
              <div class="r_logo-slide-wrapper"><img src="{{ 'us_mag.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img lozad"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'marketwatch.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-2 lozad"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'g-news.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-3 lozad"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'ncn_news.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-4 lozad"></div>
            </div>
            <div class="r_content-holder">
              <div class="r_logo-slide-wrapper"><img src="{{ 'logo_us_today.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-8"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'fox.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-5"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'cbs_news.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-6"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'nbc.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-7"></div>
            </div>
            <div class="r_content-holder">
              <div class="r_logo-slide-wrapper"><img src="{{ 'logo_us_today.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-8"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'fox.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-5"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'cbs_news.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-6"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'nbc.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-7"></div>
            </div>
            <div class="r_content-holder">
              <div class="r_logo-slide-wrapper"><img src="{{ 'logo_us_today.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-8"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'fox.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-5"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'cbs_news.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-6"></div>
              <div class="r_logo-slide-wrapper"><img src="{{ 'nbc.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="logo-img-7"></div>
            </div>
          </div>
          <div class="w-embed">
            <style>
                .r_logo-container {
                  animation: track 60s linear forwards infinite;
                  min-width: calc(560px * 5) !important
                }
                @media screen and (max-width:479px) {
                  .r_logo-container {
                    /*animation:track 50s linear infinite*/
                  }
                }
                @keyframes track {
                  0% {
                    transform: translateX(0)
                  }
                  100% {
                    /*transform:translateX(calc(-560px * 5))*/
                    transform: translateX(-100%)
                  }
                }
              </style>
          </div>
        </div>
        <div class="logo-center-el"><img src="{{ 'rating-stars_1.svg' | asset_url}}' | asset_url}}" loading="lazy" alt="" class="star-icon">
          <div class="text-block-35">10,000 + trusted customer reviews</div>
        </div>
      </div>
    </div>

{% schema %}
  {
    "name": "[R] SeenOn",
    "max_blocks": 10,
    "settings": [],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "[R] SeenOn",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

